<template>
    <div>
        <v-card-text>
            <v-autocomplete
                    v-model="selectedTickers"
                    :items="allMoexInstrument"
                    :label="`Выберите иснтрументы`"
                    item-text="short_name"
                    item-value="ticker"
                    prepend-icon="mdi-city"
                    filled
                    chips
                    color="blue-grey lighten-2"
                    multiple
            >
                <template v-slot:selection="data">
                    <v-chip
                            :input-value="data.selected"
                            close
                            class="chip--select-multi"
                            @input="remove(data.item)"
                    >
                        {{ data.item.short_name }}
                    </v-chip>
                </template>

                <template v-slot:item="data">
                    <template v-if="typeof data.item !== 'object'">
                        <v-list-item-content v-text="data.item"></v-list-item-content>
                    </template>
                    <template v-else>
                        <v-list-item-content>
                            <v-list-item-title v-html="data.item.short_name"></v-list-item-title>
                            <v-list-item-subtitle v-html="data.item.company_desc"></v-list-item-subtitle>
                        </v-list-item-content>
                    </template>
                </template>

            </v-autocomplete>
            <v-btn color="success" v-on:click="inspect">Вывести информацию по выбраным организациям</v-btn>

        </v-card-text>
        <h3>Корреляция выбранных финансовых инструментов</h3>
        <v-layout>
            <table-universal
                    :tableData="correlations">
            </table-universal>
        </v-layout>
        <h3>Мультипликаторы выбранных финансовых инструментов</h3>
        <v-layout>
            <table-universal
                    :tableData="multiplicators">
            </table-universal>
        </v-layout>
        <investor-sectors-tables-all :companyWithMultiplikators="splitBySectors"></investor-sectors-tables-all>

    </div>
</template>
<script>
    import TableUniversal from "../../components/TableUniversal";
    import InvestorSectorsTablesAll from "../../components/InvestorSectorsTablesAll";
    import BestCompanyExample from "../../classes/BestCompanyExample";
    import InstrumentMoexAll from "../../classes/InstrumentMoexAll";
    import AjaxHelper from "../../classes/AjaxHelper";

    const axios = require("axios");

    export default {
        name: "InvestorCorrelationInstruments",
        components: {
            TableUniversal,
            InvestorSectorsTablesAll
        },
        computed: {
            splitBySectors() {
                return BestCompanyExample.getFilterAndGroupBySectors(this.multiplicators);
            },
        },
        methods: {
            inspect() {
                this.inspectCorrelations();
                this.inspectMultiplikators();
            },
            async inspectCorrelations() {
                const tickers = this.selectedTickers;
                const url = AjaxHelper.getUrlCorrelationsTickers();
                const response = await axios.post(url, {
                    tickers
                });
                this.correlations = response.data.data;
            },
            async inspectMultiplikators() {
                const tickers = this.selectedTickers;
                const url = AjaxHelper.getUrlMultiplikatorsTickers();
                const response = await axios.post(url, {
                    tickers
                });
                this.multiplicators = response.data.data;
            },
            remove(item) {
                const index = this.selectedTickers.indexOf(item.ticker);
                if (index >= 0) this.selectedTickers.splice(index, 1)
            }
        },
        data() {
            return {
                selectedTickers: ["GAZP", "MTSS", "RTKM", "ROSN", "IRGZ", "KBSB", "ALRS", "RASP", "PMSBP", "IRAO", "QIWI", "MGNT", "MTLR", "MRKV",
                    "MSNG", "CNTL", "CNTLP", "WTCM", "AGRO"],
                correlations: [],
                multiplicators: [],
                allMoexInstrument: InstrumentMoexAll.getAll()
            }
        }
    }
</script>

<style scoped>

</style>