<template>
    <v-container fluid class="main-container section level1">
        <v-layout>
            <div class="main-container section level1">
                <h1>ИТМО.Финтех введение в финансовую математику. Задание №3</h1>
                <p>Задание №3 Вячеслав Бурдинский, группа с4110, вариант 9:</p>
                <p><img src="/jobs/finmat_lab_3.jpg"></p>
            </div>
        </v-layout>
        <h2>Решение задания 1</h2>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Цена европейского put опциона</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Пример 3"
                        v-model.number="europeanPutPrice"
                        type="number"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Цена исполнения опциаона</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Пример 3"
                        v-model.number="strikePrice"
                        type="number"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Текущая цена акции</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Пример 3"
                        v-model.number="spotPrice"
                        type="number"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Процентная ставка (%)</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Пример 1"
                        v-model.number="rate"
                        type="number"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Время</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Пример 3"
                        v-model.number="time"
                        type="number"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>
                    Цена американского Call опциона
                </v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-alert outlined color="info" icon="info" :value="true">
                    {{ americanCallPrice }}
                </v-alert>
            </v-flex>
        </v-layout>
        <p>
            Цена любого Американского опциона больше либо равна цене его Европейского аналога (он дополнительно обладает
            правом досрочного исполнения)
        </p>
        <p>
            Цена Американского call опциона равна цене Европейского</p>
        <p>
            Иначе говоря, в каждый момент времени, при любой цене базового актива, досрочное исполнение call опциона не
            является оптимальным
            Важно понимать, что это равенство выполняется только если по базовому активу не выплачивается дивидендов. В
            противном случае, Call опционы заслуживают отдельного рассмотрения
        </p>
        <code-example class="code"></code-example>
        <binomial-tree-american-put></binomial-tree-american-put>
    </v-container>
</template>

<script>
    import BinomialTreeAmericanPut from "./../../components/BinomialTreeAmericanPut";
    import GrachDependencyBinomialTree from "./../../components/GrachDependencyBinomialTree";
    import CodeExample from "./../../components/americanCallOptionCodeExample";

    export default {
        name: "americanOptions",
        data() {
            return {
                europeanPutPrice: 3,
                strikePrice: 400,
                spotPrice: 395,
                rate: 1,
                time: 3
            }
        },
        computed: {
            americanCallPrice() {
                const exp = this.strikePrice * Math.exp((-this.rate / 100) * this.time);
                const priceCallOption = this.europeanPutPrice + (this.spotPrice - exp);
                return priceCallOption;
            }
        },
        components: {
            BinomialTreeAmericanPut,
            GrachDependencyBinomialTree,
            CodeExample
        }
    }
</script>

<style scoped>
    .main-container {
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
    }

    .code {
        background-color: rgba(0, 0, 0, 0.04);
        overflow: auto;
        font-family: Monaco, monospace;
        font-size: 15px;
        background: #1e1f20;
        color: #FFFFFF;
        opacity: 0.7;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .cm-number {
        color: #d0782a;
    }

    .cm-property {
        color: #9a8297;
    }

    .cm-keyword {
        color: #ddca7e;
    }

    .cm-string {
        color: #96b38a;
    }

    .cm-def {
        color: #809bbd;
    }

    .cm-variable {
        color: #ddca7e;
    }

    .cm-operator {
        color: #ccc;
    }

    .CodeMirror-guttermarker-subtle, .CodeMirror-linenumber {
        color: #343434;
    }

    .cm-variable-2 {
        color: #809bbd;
    }

    .code-block {
        font-family: Monaco, monospace;
        font-size: 15px;
        background: #1e1f20;
        color: #FFFFFF;
        opacity: 0.7;
    }

    .CodeMirror-gutter-wrapper {
        position: absolute;
        z-index: 4;
        background: none !important;
        border: none !important;
    }


</style>