<template>
    <v-container fluid class="main-container">
        <h1>Решение задания 4</h1>
        <img src="/jobs/finmat_lab_4_difference_grid.jpg">
        <difference-grid-for-point></difference-grid-for-point>
        <h2>Решение задания 4.2</h2>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Цена исполнения опциона (страйк)</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Пример 3"
                        v-model.number="strikePrice"
                        type="number"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Текущая цена акции</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Пример 3"
                        v-model.number="spotPrice"
                        type="number"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Процентная ставка (%)</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Пример 0.1"
                        v-model.number="rate"
                        type="number"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Время</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Пример 0.3"
                        v-model.number="time"
                        type="number"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Волатильность</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Пример 0.3"
                        v-model.number="sigma"
                        type="number"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Количество разбиений по цене</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Пример 10"
                        v-model.number="countPriceStep"
                        type="number"
                        min="1"
                        max="200"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Количество разбиений для достижения устойчивости</v-subheader>
            </v-flex>
            <v-flex xs8>
                <label>{{countStepBySustainability}} </label>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Расчётное значение параметров</v-subheader>
            </v-flex>
            <v-flex xs8>
                <label>Дельта цены: {{deltaPrice}} Дельта времени: {{deltaTime}}</label>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Цена европейского опциона пут</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-alert outlined color="info" icon="info" :value="true">
                    {{ differenceGridEuropePut }}
                </v-alert>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Цена европейского опциона колл</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-alert outlined color="info" icon="info" :value="true">
                    {{ differenceGridEuropeCall }}
                </v-alert>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Цена американского опциона пут</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-alert outlined color="info" icon="info" :value="true">
                    {{ differenceGridAmericanPut }}
                </v-alert>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader color="info">Цена европейского опциона колл правильная</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-alert outlined color="info" icon="info" :value="true">
                    {{ priceEuropeOptionCall }}
                </v-alert>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader color="info">Цена европейского опциона пут правильная</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-alert outlined color="info" icon="info" :value="true">
                    {{ priceEuropeOptionPut }}
                </v-alert>
            </v-flex>
        </v-layout>
        <v-layout row>
            <h3>Матрица расчёта европейского опциона пут. ({{differenceGridEuropePut}})</h3>
        </v-layout>
        <hot-table class="table" :root="root" :data="differenceGridEuropePutMatrix"></hot-table>
        <v-layout row>
            <h3>Матрица расчёта американского опциона пут. ({{differenceGridAmericanPut}})</h3>
        </v-layout>
        <hot-table class="table" :root="root" :data="differenceGridAmericanPutMatrix"></hot-table>
        <v-layout row>
            <h3>Матрица расчёта европейского опциона колл. ({{differenceGridEuropeCall}})</h3>
        </v-layout>
        <hot-table class="table" :root="root" :data="differenceGridEuropeCallMatrix"></hot-table>
        <v-btn color="info" v-on:click="setDataForGraph">Построить график</v-btn>
        <line-chart :min="priceEuropeOptionPut*0.8" :max="priceEuropeOptionCall*1.1" decimal="."
                    :data="dataForGraph"></line-chart>
        <h3>Решение для американского опциона с использованием биномиальной модели</h3>
        <v-layout>
            <p>CRRBinomialTreeOption(TypeFlag = "pa", S = 11, X = 11, Time = 1,
                r = 0.05, b = 0.05, sigma = 0.2, n = 2000)
            </p>
            <p>
                Option Price:
                0.6698989
            </p>

        </v-layout>
        <h3>Выводы</h3>

        <p>Из графика видно что решения для европейских опционов, получаемые с использование явной конечно-разностной
            схемы, сходиться к точным аналитическим решениям.
        </p>
        <p>
            Также решение для американского опциона пут приближается к решению, полученному с помощью биномиальной
            модели.
        </p>
    </v-container>
</template>

<script>
    import HotTable from '@handsontable/vue';
    import DifferenceGridForPoint from "./../../components/DifferenceGridForPoint";

    export default {
        name: "finiteDifferenceGrid",
        components: {
            HotTable,
            DifferenceGridForPoint
        },
        data() {
            return {
                strikePrice: 11,
                spotPrice: 11,
                rate: 0.05,
                time: 1,
                sigma: 0.2,
                countPriceStep: 20,
                root: "test-hot",
                dataForGraph: []
            }
        },
        computed: {
            isUserParamsCorrect() {
                return this.countPriceStep > 2
                    && this.countPriceStep < 501
                    && this.time > 0
                    && this.sigma > 0
                    && this.rate > 0
                    && this.strikePrice > 0
                    && this.spotPrice > 0;
            },
            getParamsOptions() {
                return {
                    strikePrice: this.strikePrice,
                    spotPrice: this.spotPrice,
                    rate: this.rate,
                    time: this.time,
                    sigma: this.sigma,
                    countPriceStep: this.countPriceStep
                };
            },
            priceEuropeOptionCall() {
                const partSpotPrice = this.pnorm(this.priceEuropeOptionD1) * this.spotPrice;
                const partStrikePrice = this.pnorm(this.priceEuropeOptionD2) * this.strikePrice * Math.exp(-this.rate * this.time);
                const call = partSpotPrice - partStrikePrice;
                return call;//tests === 1.1491269271928957;
            },
            priceEuropeOptionD1() {
                const logPart = Math.log(this.spotPrice / this.strikePrice);
                const ratePart = (this.rate + this.sigma ** 2 / 2) * this.time;
                return (logPart + ratePart) / (this.sigma * Math.sqrt(this.time));
            },
            priceEuropeOptionD2() {
                return this.priceEuropeOptionD1 - this.sigma * Math.sqrt(this.time);
            },
            priceEuropeOptionPut() {
                const partSpotPrice = this.pnorm(-this.priceEuropeOptionD1) * this.spotPrice;
                const expPart = Math.exp(-this.rate * this.time);
                const partStrikePrice = this.pnorm(-this.priceEuropeOptionD2) * this.strikePrice * expPart;
                const put = partStrikePrice - partSpotPrice;
                return put;//tests === 0.06944607556350402;
            },
            countStepBySustainability() {
                return getCountStepBySustainability(this.getParamsOptions);
            },
            deltaPrice() {
                return (this.spotPrice * 2) / this.countPriceStep;
            },
            deltaTime() {
                return getDeltaTime(this.countPriceStep, this.time);
            },
            differenceGridEuropePut() {
                if (this.isUserParamsCorrect) {
                    return getOptionDifferenceGridEuropePut(this.getParamsOptions);
                }
            },
            differenceGridEuropeCall() {
                if (this.isUserParamsCorrect) {
                    return getOptionDifferenceGridEuropeCall(this.getParamsOptions);
                }
            },
            differenceGridAmericanPut() {
                if (this.isUserParamsCorrect) {
                    return getOptionDifferenceGridAmericanPut(this.getParamsOptions);
                }
            },
            differenceGridEuropePutMatrix() {
                if (this.isUserParamsCorrect) {
                    return getMatrixEuropePut(this.getParamsOptions);
                }
                return [];
            },
            differenceGridEuropeCallMatrix() {
                if (this.isUserParamsCorrect) {
                    return getMatrixEuropeCall(this.getParamsOptions);
                }
                return [];
            },
            differenceGridAmericanPutMatrix() {
                if (this.isUserParamsCorrect) {
                    return getMatrixAmericanPut(this.getParamsOptions);
                }
                return [];
            },

        },
        methods: {
            getMatrixWithDeltaPrice(matrix) {
                for (let priceIndex = 0; priceIndex < matrix.length - 1; priceIndex++) {
                    matrix[priceIndex].push(this.getPriceForStep(priceIndex));
                }
                return matrix;
            },
            setDataForGraph() {
                const priceAmericanPutResults = {
                    name: 'priceAmericanPut', data: {}
                };
                const priceEuropeCallResults = {
                    name: 'priceEuropeCall', data: {}
                };
                const priceEuropePutResults = {
                    name: 'priceEuropePut', data: {}
                };
                const priceEuropePutTrue = {
                    name: 'priceEuropePutTrue', data: {}
                };
                const priceEuropeCallTrue = {
                    name: 'priceEuropeCallTrue', data: {}
                };
                const pricePutTrue = this.priceEuropeOptionPut;
                const priceCallTrue = this.priceEuropeOptionCall;
                for (let countPriceStep = 20; countPriceStep < 260; countPriceStep += 10) {
                    let {
                        priceAmericanPut,
                        priceEuropeCall,
                        priceEuropePut
                    } = this.getDataForGraph(countPriceStep);
                    priceAmericanPutResults.data[countPriceStep] = priceAmericanPut;
                    priceEuropeCallResults.data[countPriceStep] = priceEuropeCall;
                    priceEuropePutResults.data[countPriceStep] = priceEuropePut;
                    priceEuropePutTrue.data[countPriceStep] = pricePutTrue;
                    priceEuropeCallTrue.data[countPriceStep] = priceCallTrue;
                }
                this.dataForGraph = [priceEuropeCallResults, priceAmericanPutResults, priceEuropePutResults, priceEuropePutTrue, priceEuropeCallTrue];
            },
            getDataForGraph(countPriceStep) {
                const params = {
                    strikePrice: this.strikePrice,
                    spotPrice: this.spotPrice,
                    rate: this.rate,
                    time: this.time,
                    sigma: this.sigma,
                    countPriceStep
                };
                return getPriceOptionsCallDifferenceGrid(params);
            },
            pnorm(zz) {
                // Algorithm AS66 Applied Statistics (1973) vol22 no.3
                // Computes P(Z<z)
                let z = parseFloat(zz);
                let upper = false;
                const ltone = 7.0;
                const utzero = 18.66;
                const con = 1.28;
                const a1 = 0.398942280444;
                const a2 = 0.399903438504;
                const a3 = 5.75885480458;
                const a4 = 29.8213557808;
                const a5 = 2.62433121679;
                const a6 = 48.6959930692;
                const a7 = 5.92885724438;
                const b1 = 0.398942280385;
                const b2 = 3.8052e-8;
                const b3 = 1.00000615302;
                const b4 = 3.98064794e-4;
                const b5 = 1.986153813664;
                const b6 = 0.151679116635;
                const b7 = 5.29330324926;
                const b8 = 4.8385912808;
                const b9 = 15.1508972451;
                const b10 = 0.742380924027;
                const b11 = 30.789933034;
                const b12 = 3.99019417011;

                if (z < 0) {
                    upper = !upper;
                    z = -z;
                }
                let alnorm;
                if (z <= ltone || upper && z <= utzero) {
                    let y = 0.5 * z * z;
                    if (z > con) {
                        alnorm = b1 * Math.exp(-y) / (z - b2 + b3 / (z + b4 + b5 / (z - b6 + b7 / (z + b8 - b9 / (z + b10 + b11 / (z + b12))))));
                    }
                    else {
                        alnorm = 0.5 - z * (a1 - a2 * y / (y + a3 - a4 / (y + a5 + a6 / (y + a7))));
                    }
                }
                else {
                    alnorm = 0;
                }
                if (!upper) {
                    alnorm = 1 - alnorm;
                }
                return (alnorm);
            }
        }
    }

    function getCountStepBySustainability({sigma, time, countPriceStep}) {
        return Math.round(sigma ** 2 * time * countPriceStep ** 2) + 1;
    }

    function getDeltaTime(countStep, time) {
        return time / countStep;
    }

    function getStartMatrix(stepIndexMax, priceIndexMax) {
        let matrix = [];
        for (let priceIndex = 0; priceIndex < priceIndexMax; priceIndex++) {
            let priceVector = [];
            for (let step = 0; step < stepIndexMax; step++) {
                priceVector.push(0);
            }
            matrix.push(priceVector);
        }
        return matrix;
    }

    function setMaxBorderCall(startMatrix, {spotPrice, strikePrice, time, rate}) {
        const dT = getDeltaTime(startMatrix[0].length, time);
        const priceBorder = 0;
        for (let step = startMatrix[0].length - 1; step >= 0; step--) {
            let revers = startMatrix[0].length - step;
            let expPart = Math.exp(-rate * dT * revers);
            startMatrix[priceBorder][step] = 2 * spotPrice - strikePrice * expPart;
        }
    }

    function setExpirationPayoffCall(matrix, {spotPrice, strikePrice}) {
        const expirationStep = matrix[0].length - 1;
        const deltaPrice = (strikePrice * 2) / (matrix.length - 1);
        for (let priceIndex = matrix.length - 1; priceIndex > 0; priceIndex--) {
            matrix[priceIndex][expirationStep] = getPayoffCall(priceIndex, deltaPrice);
        }

        function getPayoffCall(numberStepPrice, deltaPrice) {
            const strikePriceForStep = numberStepPrice * deltaPrice;
            const profit = spotPrice - strikePriceForStep;
            return Math.max(profit, 0);
        }
    }

    function setMatrixForFiniteDifferenceGrid(matrix, {strikePrice, spotPrice, rate, time, sigma}) {
        const countStep = matrix[0].length - 1;
        for (let step = matrix[0].length - 2; step >= 0; step--) {
            for (let priceIndex = matrix.length - 2; priceIndex >= 1; priceIndex--) {
                let value = {
                    mDown: matrix[priceIndex + 1][step + 1],
                    mMiddle: matrix[priceIndex][step + 1],
                    mUp: matrix[priceIndex - 1][step + 1]
                };//matrix.length - priceIndex
                let priceIndexReverce = matrix.length - priceIndex - 1;
                let priceGrid = getPriceForFiniteDifferenceGrid(value, priceIndexReverce, countStep, {
                    strikePrice,
                    spotPrice,
                    rate,
                    time,
                    sigma
                });
                matrix[priceIndex][step] = priceGrid;
            }
        }
    }

    function getPriceForFiniteDifferenceGrid({mDown, mMiddle, mUp}, priceIndex, countStepBySustainability, {strikePrice, spotPrice, rate, time, sigma}) {
        const dawn = mDown * getPDawn(priceIndex);
        const middle = mMiddle * getPMiddle(priceIndex);
        const up = mUp * getPUp(priceIndex);
        const denominator = 1 + rate * getDeltaTime(countStepBySustainability);
        const value = (dawn + middle + up) / denominator;
        return value;

        function getPDawn(i) {
            const dawn = (sigma * sigma) * (i * i) - rate * i;
            return (dawn * getDeltaTime(countStepBySustainability)) / 2;
        }

        function getDeltaTime(countStepBySustainability) {
            return time / countStepBySustainability;
        }

        function getPMiddle(i) {
            const m = (sigma * sigma) * (i * i);
            return 1 - (m * getDeltaTime(countStepBySustainability));
        }

        function getPUp(i) {
            const up = (sigma * sigma) * (i * i) + rate * i;
            return (up * getDeltaTime(countStepBySustainability)) / 2;
        }
    }

    function setMinBorderPut(startMatrix, {spotPrice, strikePrice, time, rate}) {
        const dT = getDeltaTime(startMatrix[0].length - 1, time);
        const priceBorder = startMatrix.length - 1;
        const maxStep = startMatrix[0].length - 1;
        for (let step = maxStep; step > 0; step--) {
            let expPart = Math.exp(-rate * dT * (step));
            startMatrix[priceBorder][maxStep - step] = strikePrice * expPart;
        }
    }

    function setExpirationPayoffPut(matrix, {spotPrice, strikePrice, time, rate, countPriceStep}) {
        const expirationStep = matrix[0].length - 1;
        const deltaPrice = (strikePrice * 2) / (matrix.length - 1);
        for (let priceIndex = matrix.length - 1; priceIndex > 0; priceIndex--) {
            matrix[priceIndex][expirationStep] = getPayoffPut(priceIndex, deltaPrice);
        }

        function getPayoffPut(numberStepPrice, deltaPrice) {
            const strikePriceForStep = numberStepPrice * deltaPrice;
            const profit = strikePriceForStep - spotPrice;
            return Math.max(profit, 0);
        }
    }

    function setMatrixForFiniteDifferenceGridAmericanPut(matrix, {strikePrice, spotPrice, rate, time, sigma}) {
        debugger
        const countStep = matrix[0].length - 1;
        const deltaPrice = (2 * strikePrice) / (matrix.length - 1);
        for (let step = matrix[0].length - 2; step >= 0; step--) {
            for (let priceIndex = matrix.length - 2; priceIndex >= 1; priceIndex--) {
                let value = {
                    mDown: matrix[priceIndex + 1][step + 1],
                    mMiddle: matrix[priceIndex][step + 1],
                    mUp: matrix[priceIndex - 1][step + 1]
                };//matrix.length - priceIndex
                let priceIndexReverse = matrix.length - priceIndex - 1;
                let finiteDifferenceGrid = getPriceForFiniteDifferenceGrid(value, priceIndexReverse, countStep, {
                    strikePrice,
                    spotPrice,
                    rate,
                    time,
                    sigma
                });
                let payoffPut = getPayoffPut(priceIndex, deltaPrice);
                matrix[priceIndex][step] = Math.max(payoffPut, finiteDifferenceGrid);
            }
        }
        function getPayoffPut(numberStepPrice, deltaPrice) {
            const strikePriceForStep = numberStepPrice * deltaPrice;
            const profit = strikePriceForStep - spotPrice;
            return Math.max(profit, 0);
        }
    }

    function getOptionDifferenceGridAmericanPut(optionsParams) {
        const matrix = getMatrixAmericanPut(optionsParams);
        return getOptionPutPrice(matrix);
    }

    function getMatrixAmericanPut(optionsParams) {
        const steps = getCountStepBySustainability(optionsParams) + 21;
        const priceSteps = optionsParams.countPriceStep + 1;
        const matrix = getStartMatrix(steps, priceSteps);
        setMinBorderPut(matrix, optionsParams);
        setExpirationPayoffPut(matrix, optionsParams);
        setMatrixForFiniteDifferenceGridAmericanPut(matrix, optionsParams);
        return matrix;
    }

    function getOptionDifferenceGridEuropeCall(optionsParams) {
        const matrix = getMatrixEuropeCall(optionsParams);
        return getOptionCallPrice(matrix);
    }

    function getMatrixEuropeCall(optionsParams) {
        const steps = getCountStepBySustainability(optionsParams);
        const matrix = getStartMatrix(steps, optionsParams.countPriceStep);
        setMaxBorderCall(matrix, optionsParams);
        setExpirationPayoffCall(matrix, optionsParams);
        setMatrixForFiniteDifferenceGrid(matrix, optionsParams);
        return matrix;
    }

    function getOptionDifferenceGridEuropePut(optionsParams) {
        const matrix = getMatrixEuropePut(optionsParams);
        return getOptionPutPrice(matrix);
    }

    function getMatrixEuropePut(optionsParams) {
        const steps = getCountStepBySustainability(optionsParams) + 21;
        const priceSteps = optionsParams.countPriceStep + 1;
        const matrix = getStartMatrix(steps, priceSteps);
        setMinBorderPut(matrix, optionsParams);
        setExpirationPayoffPut(matrix, optionsParams);
        setMatrixForFiniteDifferenceGrid(matrix, optionsParams);
        return matrix;
    }

    function getOptionPutPrice(grid) {
        const lastStep = 0;
        const countPriceStep = grid.length;
        const middleIndex = Math.floor(countPriceStep / 2);
        return grid[middleIndex][lastStep];
    }

    function getOptionCallPrice(grid) {
        const lastStep = 0;
        const countPriceStep = grid.length;
        const middleIndex = Math.floor(countPriceStep / 2) - 1;
        return (grid[middleIndex][lastStep] + grid[middleIndex + 1][lastStep]) / 2;
    }

    function getPriceOptionsCallDifferenceGrid(optionsParams) {
        const priceEuropeCall = getOptionDifferenceGridEuropeCall(optionsParams);
        const priceEuropePut = getOptionDifferenceGridEuropePut(optionsParams);
        const priceAmericanPut = getOptionDifferenceGridAmericanPut(optionsParams);
        console.log('priceEuropeCall ' + priceEuropeCall);
        console.log('priceEuropePut ' + priceEuropePut);
        console.log('priceAmericanPut ' + priceAmericanPut);
        return {
            priceEuropeCall,
            priceAmericanPut,
            priceEuropePut
        };
    }

</script>

<style src="../../node_modules/handsontable/dist/handsontable.full.css"></style>

<style scoped>
    .main-container {
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
    }

    .table {
        width: 100%;
        height: 500px;
        overflow: hidden;
    }
</style>