<template>
    <v-layout>
        <div class="main-container section level1">
            <h1>ИТМО.Финтех введение в финансовую математику. Задание №2</h1>
            <p>Задание №2 Вячеслав Бурдинский, группа с4110, вариант 13:</p>
            <ol style="list-style-type: decimal">
                <li><p>Найти результаты инвестиций, при изменяющейся цене акции</p></li>
                <li><p>Найти цену европейского пут опциона, зная цену кол опциона, цену исполнения, процентную ставку,
                    время и цену акции.</p></li>
                <li><p>а)графики для европейских опционов (цени и путофов, стредлл, греки, Put-Call parity).
                    б)пронаблюдать зависимость цены опционов от T, сигма</p></li>
            </ol>
            <p><img src="/jobs/finmat_lab_2.jpg"></p>
            <pre class="r"><code class="hljs">viewProfit = <span class="hljs-keyword">function</span> (currentPrice) {
    spotPrice = <span class="hljs-number">800</span>;
    strikePrice = <span class="hljs-number">790</span>;
    optionPremium = <span class="hljs-number">20</span>;

    startBalance = <span class="hljs-number">800</span>;

    run = <span class="hljs-keyword">function</span> () {
        VasiaPayOneOptionAbsolute = getProfitOptionAbsolute(<span class="hljs-number">1</span>);
        VasiaPayOneOptionRelative = getProfitOptionRelative(<span class="hljs-number">1</span>);
        PetiaPayOneStockAbsolute = getStockPrifit();
        PetiaPayOneStockRelative = getStockPrifit() / startBalance;

        maxOptionsCount = startBalance / optionPremium;
        VasiaPayOptionsAbsolute = getProfitOptionAbsolute(maxOptionsCount);
        VasiaPayOptionsRelative = getProfitOptionRelative(maxOptionsCount);

        writeLines(<span class="hljs-string">"\n"</span>);
        print(sprintf(<span class="hljs-string">"Текущая цена акции: %s$"</span>, currentPrice));
        writeLines(<span class="hljs-string">"\n"</span>);

        print(<span class="hljs-string">"Прибыль Васи за один опцион"</span>);
        print(sprintf(<span class="hljs-string">" Абсолютная : %s$ "</span>, VasiaPayOneOptionAbsolute));
        print(sprintf(<span class="hljs-string">" Относительная на вложенные средства (премию опциона): %s%s"</span>, VasiaPayOneOptionRelative, <span
                        class="hljs-string">"%"</span>));
        relativeForStartBalance = (VasiaPayOneOptionAbsolute / startBalance) * <span class="hljs-number">100</span>;
        print(sprintf(<span class="hljs-string">" Относительная на стартовый капиталл: %s%s"</span>, relativeForStartBalance, <span
                        class="hljs-string">"%"</span>));

        print(sprintf(<span class="hljs-string">"Прибыль Васи за все %s опционов"</span>, maxOptionsCount));
        print(sprintf(<span class="hljs-string">" Абсолютная : %s$ "</span>, VasiaPayOptionsAbsolute));
        print(sprintf(<span class="hljs-string">" Относительная на вложенные средства (премию опциона): %s%s"</span>, VasiaPayOptionsRelative, <span
                        class="hljs-string">"%"</span>));
        relativeForStartBalanceMax = (VasiaPayOptionsAbsolute / startBalance) * <span class="hljs-number">100</span>;
        print(sprintf(<span class="hljs-string">" Относительная на стартовый капиталл: %s%s"</span>, relativeForStartBalanceMax, <span
                        class="hljs-string">"%"</span>));

        print(sprintf(<span class="hljs-string">"Прибыль Пети (абсолютная, относительная): %s$ ,  %s%s"</span>, PetiaPayOneStockAbsolute, PetiaPayOneStockRelative, <span
                        class="hljs-string">"%"</span>));
    }

    getProfitOptionAbsolute = <span class="hljs-keyword">function</span> (countOptions) {
        difference = max(currentPrice - strikePrice, <span class="hljs-number">0</span>);
        profitOneOption = difference - optionPremium;
        <span class="hljs-keyword">return</span> (countOptions * profitOneOption);
    }

    getProfitOptionRelative = <span class="hljs-keyword">function</span> (countOptions) {
        absolute = getProfitOptionAbsolute(countOptions);
        relative = absolute / (countOptions * optionPremium);
        <span class="hljs-keyword">return</span> (relative * <span class="hljs-number">100</span>);
    }

    getStockPrifit = <span class="hljs-keyword">function</span> () {
        <span class="hljs-keyword">return</span> (currentPrice - spotPrice);
    }

    run();
}

viewProfit(<span class="hljs-number">770</span>);</code></pre>
            <pre><code class="hljs">## 
## 
## [1] "Текущая цена акции: 770$"
## 
## 
## [1] "Прибыль Васи за один опцион"
## [1] " Абсолютная : -20$ "
## [1] " Относительная на вложенные средства (премию опциона): -100%"
## [1] " Относительная на стартовый капиталл: -2.5%"
## [1] "Прибыль Васи за все 40 опционов"
## [1] " Абсолютная : -800$ "
## [1] " Относительная на вложенные средства (премию опциона): -100%"
## [1] " Относительная на стартовый капиталл: -100%"
## [1] "Прибыль Пети (абсолютная, относительная): -30$ ,  -0.0375%"</code></pre>
            <pre class="r"><code class="hljs">viewProfit(<span class="hljs-number">780</span>);</code></pre>
            <pre><code class="hljs">## 
## 
## [1] "Текущая цена акции: 780$"
## 
## 
## [1] "Прибыль Васи за один опцион"
## [1] " Абсолютная : -20$ "
## [1] " Относительная на вложенные средства (премию опциона): -100%"
## [1] " Относительная на стартовый капиталл: -2.5%"
## [1] "Прибыль Васи за все 40 опционов"
## [1] " Абсолютная : -800$ "
## [1] " Относительная на вложенные средства (премию опциона): -100%"
## [1] " Относительная на стартовый капиталл: -100%"
## [1] "Прибыль Пети (абсолютная, относительная): -20$ ,  -0.025%"</code></pre>
            <pre class="r"><code class="hljs">viewProfit(<span class="hljs-number">800</span>);</code></pre>
            <pre><code class="hljs">## 
## 
## [1] "Текущая цена акции: 800$"
## 
## 
## [1] "Прибыль Васи за один опцион"
## [1] " Абсолютная : -10$ "
## [1] " Относительная на вложенные средства (премию опциона): -50%"
## [1] " Относительная на стартовый капиталл: -1.25%"
## [1] "Прибыль Васи за все 40 опционов"
## [1] " Абсолютная : -400$ "
## [1] " Относительная на вложенные средства (премию опциона): -50%"
## [1] " Относительная на стартовый капиталл: -50%"
## [1] "Прибыль Пети (абсолютная, относительная): 0$ ,  0%"</code></pre>
            <pre class="r"><code class="hljs">viewProfit(<span class="hljs-number">810</span>);</code></pre>
            <pre><code class="hljs">## 
## 
## [1] "Текущая цена акции: 810$"
## 
## 
## [1] "Прибыль Васи за один опцион"
## [1] " Абсолютная : 0$ "
## [1] " Относительная на вложенные средства (премию опциона): 0%"
## [1] " Относительная на стартовый капиталл: 0%"
## [1] "Прибыль Васи за все 40 опционов"
## [1] " Абсолютная : 0$ "
## [1] " Относительная на вложенные средства (премию опциона): 0%"
## [1] " Относительная на стартовый капиталл: 0%"
## [1] "Прибыль Пети (абсолютная, относительная): 10$ ,  0.0125%"</code></pre>
            <pre class="r"><code class="hljs">viewProfit(<span class="hljs-number">820</span>);</code></pre>
            <pre><code class="hljs">## 
## 
## [1] "Текущая цена акции: 820$"
## 
## 
## [1] "Прибыль Васи за один опцион"
## [1] " Абсолютная : 10$ "
## [1] " Относительная на вложенные средства (премию опциона): 50%"
## [1] " Относительная на стартовый капиталл: 1.25%"
## [1] "Прибыль Васи за все 40 опционов"
## [1] " Абсолютная : 400$ "
## [1] " Относительная на вложенные средства (премию опциона): 50%"
## [1] " Относительная на стартовый капиталл: 50%"
## [1] "Прибыль Пети (абсолютная, относительная): 20$ ,  0.025%"</code></pre>
            <p>Найти цену европейского пут опциона, зная цену кол опциона, цену исполнения, процентную ставку, время и
                цену акции. Цена получилась отрицательной, это значит что опцион колл недооценён.</p>
            <pre class="r"><code class="hljs">getPutOptionEurope = <span class="hljs-keyword">function</span> (stockPrice, strikePrice, r, time, priceCallOption) {
    pricePut = priceCallOption - (stockPrice - strikePrice * exp((-r / <span class="hljs-number">100</span>) * time)) ;
    <span class="hljs-keyword">return</span> (pricePut)
}

print(round(getPutOptionEurope(<span class="hljs-number">203</span>, <span class="hljs-number">200</span>, <span
                        class="hljs-number">1</span>, <span class="hljs-number">3</span>, <span
                        class="hljs-number">4</span>)))</code></pre>
            <pre><code class="hljs">## [1] -5</code></pre>
            <pre class="r"><code class="hljs"><span class="hljs-keyword">library</span>(fOptions)</code></pre>
            <pre><code class="hljs">## Warning: package 'fOptions' was built under R version 3.4.4</code></pre>
            <pre><code class="hljs">## Loading required package: timeDate</code></pre>
            <pre><code class="hljs">## Warning: package 'timeDate' was built under R version 3.4.4</code></pre>
            <pre><code class="hljs">## Loading required package: timeSeries</code></pre>
            <pre><code class="hljs">## Warning: package 'timeSeries' was built under R version 3.4.4</code></pre>
            <pre><code class="hljs">## Loading required package: fBasics</code></pre>
            <pre><code class="hljs">## Warning: package 'fBasics' was built under R version 3.4.4</code></pre>
            <pre class="r"><code class="hljs">run = <span class="hljs-keyword">function</span> () {
    spotPrice = c(<span class="hljs-number">1</span> : <span class="hljs-number">180</span>);

    <span class="hljs-literal">T</span> = <span class="hljs-number">1</span>;
    r = <span class="hljs-number">0.05</span>;
    strikePrice = <span class="hljs-number">100</span>;
    sigma = <span class="hljs-number">0.05</span>;

    viewPriceEuropeanOption(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);

    viewGreeks(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
    viewCallPutParity(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);

    viewVarietyT_tForCall(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
    viewVarietyT_tForPut(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);

    viewVarietySigmaForCall(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
    viewVarietySigmaForPut(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);

    viewGreeksThetaForVarietyTime(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
    viewGreeksThetaForVarietySigma(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
    viewGreeksVegaForVarietySigma(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
}

viewPriceEuropeanOption  = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, <span
                        class="hljs-literal">T</span>, r, sigma){
    run = <span class="hljs-keyword">function</span> () {
        priceCall = getPriceEuropeanOptionCall(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
        pricePut = getPriceEuropeanOptionPut(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);

        createGraph(spotPrice, strikePrice, priceCall, pricePut, <span
                        class="hljs-string">"Option price with payoff"</span>);
        viewStraddleGraph(spotPrice, strikePrice, straddle(priceCall, pricePut), <span
                        class="hljs-string">"Straddle"</span>);
    }

    createGraph = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, callPrace, putPrice, description) {
        plot(spotPrice, callPrace, col = <span class="hljs-string">"red"</span>, type = <span
                        class="hljs-string">"l"</span>, panel.first = grid(), ylim = c(<span
                        class="hljs-number">0</span>, <span class="hljs-number">50</span>), xlim = c(<span
                        class="hljs-number">50</span>, <span class="hljs-number">150</span>));
        lines(spotPrice, putPrice, col = <span class="hljs-string">"darkblue"</span>);
        lines(spotPrice, getPayoffCall(spotPrice, strikePrice), col = <span class="hljs-string">"yellow"</span>);
        lines(spotPrice, getPayoffPut(spotPrice, strikePrice), col = <span class="hljs-string">"black"</span>);
        legend(<span class="hljs-number">80</span>, <span class="hljs-number">30</span>,
            legend = c(<span class="hljs-string">"callPrace"</span>,
                <span class="hljs-string">"putPrice"</span>,
                <span class="hljs-string">"Payoff Call"</span>,
                <span class="hljs-string">"Payoff Put"</span>),
            col = c(<span class="hljs-string">"red"</span>,
                <span class="hljs-string">"darkblue"</span>,
                <span class="hljs-string">"yellow"</span>,
                <span class="hljs-string">"black"</span>),
            lty = <span class="hljs-number">1</span>);
        title(main = description, col.main = <span class="hljs-string">"red"</span>, font.main = <span
                        class="hljs-number">4</span>);
    }

    straddle = <span class="hljs-keyword">function</span> (pricesCall, pricesPut) {
        price1 = pmax(pricesCall, <span class="hljs-number">0</span>);
        price2 = pmax(pricesPut, <span class="hljs-number">0</span>);
        <span class="hljs-keyword">return</span> (price1 + price2);
    }

    viewStraddleGraph = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, straddle, description) {
        plot(spotPrice, straddle, col = <span class="hljs-string">"red"</span>, type = <span
                        class="hljs-string">"l"</span>, panel.first = grid(), ylim = c(<span
                        class="hljs-number">0</span>, <span class="hljs-number">50</span>), xlim = c(<span
                        class="hljs-number">50</span>, <span class="hljs-number">150</span>));
        lines(spotPrice, getPayoffCall(spotPrice, strikePrice), col = <span class="hljs-string">"yellow"</span>);
        lines(spotPrice, getPayoffPut(spotPrice, strikePrice), col = <span class="hljs-string">"black"</span>);
        legend(<span class="hljs-number">80</span>, <span class="hljs-number">30</span>,
            legend = c(<span class="hljs-string">"straddle"</span>,
                <span class="hljs-string">"Payoff Call"</span>,
                <span class="hljs-string">"Payoff Put"</span>),
            col = c(<span class="hljs-string">"red"</span>,
                <span class="hljs-string">"yellow"</span>,
                <span class="hljs-string">"black"</span>),
            lty = <span class="hljs-number">1</span>);
        title(main = description, col.main = <span class="hljs-string">"red"</span>, font.main = <span
                        class="hljs-number">4</span>);
    }

    run();
}

getPriceEuropeanOptionCall = <span class="hljs-keyword">function</span> (spotPrice, K, <span
                        class="hljs-literal">T</span>, r, sigma) {
    d1 = (log(spotPrice / K) + (r + sigma ^ <span class="hljs-number">2</span> / <span
                        class="hljs-number">2</span>) * <span class="hljs-literal">T</span>) / (sigma * sqrt(<span
                        class="hljs-literal">T</span>));
    d2 = d1 - sigma * sqrt(<span class="hljs-literal">T</span>);
    value = pnorm(d1) * spotPrice - pnorm(d2) * K * exp(-r * <span class="hljs-literal">T</span>);
    <span class="hljs-keyword">return</span> (value);
}

getPriceEuropeanOptionPut = <span class="hljs-keyword">function</span> (spotPrice, K, <span
                        class="hljs-literal">T</span>, r, sigma) {
    d1 = (log(spotPrice / K) + (r + sigma ^ <span class="hljs-number">2</span> / <span
                        class="hljs-number">2</span>) * <span class="hljs-literal">T</span>) / (sigma * sqrt(<span
                        class="hljs-literal">T</span>));
    d2 = d1 - sigma * sqrt(<span class="hljs-literal">T</span>);
    value = pnorm(-d2) * K * exp(-r * <span class="hljs-literal">T</span>) - pnorm(-d1) * spotPrice;
    <span class="hljs-keyword">return</span> (value);
}

getPayoffCall = <span class="hljs-keyword">function</span> (spotPrice, strikePrice) {
    res = c(<span class="hljs-number">1</span> : length(spotPrice));
    <span class="hljs-keyword">for</span> (i <span class="hljs-keyword">in</span> <span class="hljs-number">1</span> : length(spotPrice)) {
        res[i] = max((spotPrice[i] - strikePrice), <span class="hljs-number">0</span>);
    }
    <span class="hljs-keyword">return</span> (res);
}

getPayoffPut = <span class="hljs-keyword">function</span> (spotPrice, strikePrice) {
    res = c(<span class="hljs-number">1</span> : length(spotPrice));
    <span class="hljs-keyword">for</span> (i <span class="hljs-keyword">in</span> <span class="hljs-number">1</span> : length(spotPrice)) {
        res[i] = max((strikePrice - spotPrice[i]), <span class="hljs-number">0</span>);
    }
    <span class="hljs-keyword">return</span> (res);
}


viewGreeks = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma) {
  
    run = <span class="hljs-keyword">function</span> () {
        viewDelta();
        viewGamma();
        viewTheta();
        viewThetaGBSGreeks();
        viewVega();
    }

    viewDelta = <span class="hljs-keyword">function</span> () {
        deltaPut = getDeltaPut(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
        deltaCall = getDeltaCall(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
        viewGraph(spotPrice, deltaPut, deltaCall, <span class="hljs-string">'Delta'</span>, ylim_ = c(-<span
                        class="hljs-number">1</span>, <span class="hljs-number">1</span>));
    }

    getDeltaPut = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, t, r, v) {
        d1 = (log(spotPrice / strikePrice) + (r + <span class="hljs-number">0.5</span> * v ^ <span
                        class="hljs-number">2</span>) * t) / (v * sqrt(t));
        <span class="hljs-keyword">return</span> (pnorm(d1) - <span class="hljs-number">1</span>);
    }

    getDeltaCall = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, t, r, v) {
        d1 = (log(spotPrice / strikePrice) + (r + <span class="hljs-number">0.5</span> * v ^ <span
                        class="hljs-number">2</span>) * t) / (v * sqrt(t));
        <span class="hljs-keyword">return</span> (pnorm(d1));
    }

    viewGraph = <span class="hljs-keyword">function</span> (x, y, z, description, ylim_) {
        plot(x, y, col = <span class="hljs-string">"red"</span>, type = <span class="hljs-string">"l"</span>, panel.first = grid(), ylim = ylim_, xlim = c(<span
                        class="hljs-number">0</span>, <span class="hljs-number">150</span>));
        lines(x, z, col = <span class="hljs-string">"darkblue"</span>);
        legend(<span class="hljs-number">50</span>, <span class="hljs-number">30</span>,
            legend = c(<span class="hljs-string">"Greaks Put"</span>,
                <span class="hljs-string">"Greaks Call"</span>),
            col = c(<span class="hljs-string">"red"</span>,
                <span class="hljs-string">"darkblue"</span>),
            lty = <span class="hljs-number">1</span>);
        title(main = description, col.main = <span class="hljs-string">"red"</span>, font.main = <span
                        class="hljs-number">4</span>);
    }

    viewGamma = <span class="hljs-keyword">function</span> () {
        gamma = getGamma(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
        viewGraph(spotPrice, gamma, gamma, <span class="hljs-string">'Gamma'</span>, ylim_ = c(<span
                        class="hljs-number">0</span>, <span class="hljs-number">0.15</span>));
    }

    getGamma = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, t, r, v) {
        d = (log(spotPrice / strikePrice) + (r + <span class="hljs-number">0.5</span> * v ^ <span
                        class="hljs-number">2</span>) * t) / (v * sqrt(t));
        top = exp(-d ^ <span class="hljs-number">2</span> / <span class="hljs-number">2</span>);
        bottom = spotPrice * v * sqrt(<span class="hljs-number">2</span> * pi * t);
        <span class="hljs-keyword">return</span> (top / bottom);
    }

    viewTheta = <span class="hljs-keyword">function</span> () {
        thetaPut = getThetaPut(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
        thetaCall = getThetaCall(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
        viewGraph(spotPrice, thetaPut, thetaCall, <span class="hljs-string">'Theta'</span>, ylim_ = c(-<span
                        class="hljs-number">10</span>, <span class="hljs-number">5</span>));
    }

    viewThetaGBSGreeks = <span class="hljs-keyword">function</span> () {
        thetaPut = GBSGreeks(Selection = <span class="hljs-string">"theta"</span>, TypeFlag = <span class="hljs-string">"p"</span>, S = spotPrice, X = strikePrice,
            Time = <span class="hljs-literal">T</span>, r = r, b = <span class="hljs-number">0</span>, sigma = sigma);
        thetaCall = GBSGreeks(Selection = <span class="hljs-string">"theta"</span>, TypeFlag = <span
                        class="hljs-string">"c"</span>, S = spotPrice, X = strikePrice,
            Time = <span class="hljs-literal">T</span>, r = r, b = <span class="hljs-number">0</span>, sigma = sigma);
        viewGraph(spotPrice, thetaPut, thetaCall, <span class="hljs-string">'Theta GBSGreeks fOptions'</span>, ylim_ = c(-<span
                        class="hljs-number">10</span>, <span class="hljs-number">5</span>));
    }

    viewVega = <span class="hljs-keyword">function</span> () {
        vega = getVega(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
        viewGraph(spotPrice, vega, vega, <span class="hljs-string">'Vega'</span>, ylim_ = c(<span
                        class="hljs-number">0</span>, <span class="hljs-number">50</span>));
    }

    run();
}

getThetaPut = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, time, r, sigma) {
    d1 = (log(spotPrice / strikePrice) + (r + sigma * sigma / <span class="hljs-number">2</span>) * time) / (sigma * sqrt(time));
    d2 = d1 - sigma * sqrt(time);
    part1 = -(sigma * spotPrice * NDF(d1) * exp(-r * time)) / (<span class="hljs-number">2</span> * sqrt(time));
    part3 = r * strikePrice * CND(-d2) * exp(-r * time);
    <span class="hljs-keyword">return</span> (part1 + part3);
}

getThetaCall = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, time, r, sigma) {
    d1 = (log(spotPrice / strikePrice) + (r + sigma * sigma / <span class="hljs-number">2</span>) * time) / (sigma * sqrt(time));
    d2 = d1 - sigma * sqrt(time);
    part1 = -(sigma * spotPrice * NDF(d1) * exp(-r * time)) / (<span class="hljs-number">2</span> * sqrt(time));
    part3 = -(r * strikePrice * CND(+d2) * exp(-r * time));
    <span class="hljs-keyword">return</span> (part1 + part3);
}

getVega = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, t, r, v) {
    d1 = (log(spotPrice / strikePrice) + (r + <span class="hljs-number">0.5</span> * v ^ <span
                        class="hljs-number">2</span>) * t) / (v * sqrt(t));
    result = spotPrice * sqrt(t) * (exp(-d1 ^ <span class="hljs-number">2</span> / <span class="hljs-number">2</span>) / sqrt(<span
                        class="hljs-number">2</span> * pi));
    <span class="hljs-keyword">return</span> (result);
}

viewCallPutParity = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, <span
                        class="hljs-literal">T</span>, r, sigma) {

    priceCall = getPriceEuropeanOptionCall(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
    pricePut = getPriceEuropeanOptionPut(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);

    plot(spotPrice, priceCall, col = <span class="hljs-string">"red"</span>, type = <span class="hljs-string">"l"</span>, panel.first = grid(),
        ylim = c(-<span class="hljs-number">18</span>, <span class="hljs-number">18</span>),
        xlim = c(<span class="hljs-number">75</span>, <span class="hljs-number">130</span>), lwd = <span
                        class="hljs-number">2.5</span>);
    lines(spotPrice, -pricePut, col = <span class="hljs-string">"darkblue"</span>, lwd = <span
                        class="hljs-number">2.5</span>);
    
    lines(spotPrice, getPayoffCall(spotPrice, strikePrice), col = <span class="hljs-string">"yellow"</span>, lwd = <span
                        class="hljs-number">2.5</span>);
    lines(spotPrice, -getPayoffPut(spotPrice, strikePrice), col = <span class="hljs-string">"black"</span>, lwd = <span
                        class="hljs-number">2.5</span>);
    
    lines(spotPrice, pricePut - priceCall, col = <span class="hljs-string">"orange"</span>, lwd = <span
                        class="hljs-number">2.5</span>);
    lines(spotPrice, priceCall - pricePut, col = <span class="hljs-string">"grey"</span>, lwd = <span
                        class="hljs-number">4.5</span>);
    legend(<span class="hljs-number">115</span>, <span class="hljs-number">18</span>,
        legend = c(<span class="hljs-string">"Call"</span>,
            <span class="hljs-string">"-Put"</span>,
            <span class="hljs-string">"Payoff Call"</span>,
            <span class="hljs-string">"-Payoff Put"</span>,
            <span class="hljs-string">"Put-Call Parity"</span>,
            <span class="hljs-string">"Call-Put Parity"</span>),
        col = c(<span class="hljs-string">"red"</span>,
            <span class="hljs-string">"darkblue"</span>,
            <span class="hljs-string">"yellow"</span>,
            <span class="hljs-string">"black"</span>,
            <span class="hljs-string">"orange"</span>,
            <span class="hljs-string">"grey"</span>),
        lty = <span class="hljs-number">1</span>);
    title(main = <span class="hljs-string">"Put-Call parity"</span>, col.main = <span class="hljs-string">"red"</span>, font.main = <span
                        class="hljs-number">4</span>);
}

viewVarietyT_tForCall = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, <span
                        class="hljs-literal">T</span>, r, sigma) {
    priceCallPart = getPriceEuropeanOptionCall(spotPrice, strikePrice, <span class="hljs-number">0.5</span> * <span
                        class="hljs-literal">T</span>, r, sigma);
    priceCall = getPriceEuropeanOptionCall(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
    priceCallTwo = getPriceEuropeanOptionCall(spotPrice, strikePrice, <span class="hljs-number">2</span> * <span
                        class="hljs-literal">T</span>, r, sigma);

    viewVarietyGraph(spotPrice, strikePrice, priceCall, priceCallPart, priceCallTwo);
}

viewVarietyT_tForPut = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, <span
                        class="hljs-literal">T</span>, r, sigma) {
    pricePutPart = getPriceEuropeanOptionPut(spotPrice, strikePrice, <span class="hljs-number">0.5</span> * <span
                        class="hljs-literal">T</span>, r, sigma);
    pricePut = getPriceEuropeanOptionPut(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
    pricePutTwo = getPriceEuropeanOptionPut(spotPrice, strikePrice, <span class="hljs-number">2</span> * <span
                        class="hljs-literal">T</span>, r, sigma);

    viewVarietyGraph(spotPrice, strikePrice, pricePut, pricePutPart, pricePutTwo);
}

viewVarietyGraph = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, price, pricePart, pricePutTwo) {
    plot(spotPrice, pricePart, col = <span class="hljs-string">"red"</span>, type = <span class="hljs-string">"l"</span>, panel.first = grid(), ylim = c(<span
                        class="hljs-number">0</span>, <span class="hljs-number">19</span>), xlim = c(<span
                        class="hljs-number">50</span>, <span class="hljs-number">150</span>), lwd = <span
                        class="hljs-number">2.5</span>);
    lines(spotPrice, price, col = <span class="hljs-string">"darkblue"</span>, lwd = <span
                        class="hljs-number">2.5</span>);
    lines(spotPrice, pricePutTwo, col = <span class="hljs-string">"black"</span>, lwd = <span
                        class="hljs-number">2.5</span>);
    lines(spotPrice, getPayoffCall(spotPrice, strikePrice), col = <span class="hljs-string">"yellow"</span>, lwd = <span
                        class="hljs-number">2.5</span>);
    lines(spotPrice, getPayoffPut(spotPrice, strikePrice), col = <span class="hljs-string">"orange"</span>, lwd = <span
                        class="hljs-number">2.5</span>);
    legend(<span class="hljs-number">110</span>, <span class="hljs-number">15</span>,
        legend = c(<span class="hljs-string">"T = 0.5 Year"</span>, <span class="hljs-string">"T = 1 Year"</span>, <span
                        class="hljs-string">"T = 2 Year"</span>, <span class="hljs-string">" Payoff Call"</span>, <span
                        class="hljs-string">"Payoff Put"</span>),
        col = c(<span class="hljs-string">"red"</span>, <span class="hljs-string">"darkblue"</span>, <span
                        class="hljs-string">"black"</span>, <span class="hljs-string">"yellow"</span>, <span
                        class="hljs-string">"orange"</span>),
        lty = <span class="hljs-number">1</span>);
    title(main = <span class="hljs-string">"Variety of T-t"</span>, col.main = <span class="hljs-string">"red"</span>, font.main = <span
                        class="hljs-number">4</span>);
}

viewGreeksThetaForVarietyTime = <span class="hljs-keyword">function</span>(spotPrice, strikePrice, <span
                        class="hljs-literal">T</span>, r, sigma) {
    pricePutT_05 = getThetaPut(spotPrice, strikePrice, <span class="hljs-number">0.5</span> * <span
                        class="hljs-literal">T</span>, r, sigma);
    pricePutT_1 = getThetaPut(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
    pricePutT_2 = getThetaPut(spotPrice, strikePrice, <span class="hljs-number">2</span> * <span
                        class="hljs-literal">T</span>, r, sigma);

    thetaCallT_05 = getThetaCall(spotPrice, strikePrice, <span class="hljs-number">0.5</span> * <span
                        class="hljs-literal">T</span>, r, sigma);
    thetaCallT_1 = getThetaCall(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
    thetaeCallT_2 = getThetaCall(spotPrice, strikePrice, <span class="hljs-number">2</span> * <span
                        class="hljs-literal">T</span>, r, sigma);

    plot(spotPrice, pricePutT_05, col = <span class="hljs-string">"red"</span>, type = <span
                        class="hljs-string">"l"</span>, panel.first = grid(), ylim = c(-<span
                        class="hljs-number">5</span>, <span class="hljs-number">5</span>), xlim = c(<span
                        class="hljs-number">0</span>, <span class="hljs-number">150</span>));
    lines(spotPrice, pricePutT_1, col = <span class="hljs-string">"darkblue"</span>);
    lines(spotPrice, pricePutT_2, col = <span class="hljs-string">"yellow"</span>);
    lines(spotPrice, thetaCallT_05, col = <span class="hljs-string">"black"</span>);
    lines(spotPrice, thetaCallT_1, col = <span class="hljs-string">"green"</span>);
    lines(spotPrice, thetaeCallT_2, col = <span class="hljs-string">"orange"</span>);

    legend(<span class="hljs-number">0</span>, <span class="hljs-number">0</span>,
        legend = c(<span class="hljs-string">"thetaPut 0.5 Year"</span>,
            <span class="hljs-string">"thetaPut 1 Year"</span>,
            <span class="hljs-string">"thetaPut 2 Year"</span>,
            <span class="hljs-string">"thetaCall 0.5 Year"</span>,
            <span class="hljs-string">"thetaCall 1 Year"</span>,
            <span class="hljs-string">"thetaCall 2 Year"</span>),
        col = c(<span class="hljs-string">"red"</span>,
            <span class="hljs-string">"darkblue"</span>,
            <span class="hljs-string">"yellow"</span>,
            <span class="hljs-string">"black"</span>,
            <span class="hljs-string">"green"</span>,
            <span class="hljs-string">"orange"</span>),
        lty = <span class="hljs-number">1</span>);
    title(main = <span class="hljs-string">'theta Variety Time'</span>, col.main = <span
                        class="hljs-string">"red"</span>, font.main = <span class="hljs-number">4</span>);
}

viewVarietySigmaForCall = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, <span
                        class="hljs-literal">T</span>, r, sigma) {
    priceCall = getPriceEuropeanOptionCall(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
    priceCallSigma_3 = getPriceEuropeanOptionCall(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, <span
                        class="hljs-number">3</span> * sigma);
    priceCallSigma_6 = getPriceEuropeanOptionCall(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, <span
                        class="hljs-number">6</span> * sigma);

    createGraphVarietySigma(spotPrice, strikePrice, priceCall, priceCallSigma_3, priceCallSigma_6);
}

viewVarietySigmaForPut = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma) {
    pricePut = getPriceEuropeanOptionPut(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
    pricePutSigma_3 = getPriceEuropeanOptionPut(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, <span
                        class="hljs-number">3</span> * sigma);
    pricePutSigma_6 = getPriceEuropeanOptionPut(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, <span
                        class="hljs-number">6</span> * sigma);

    createGraphVarietySigma(spotPrice, strikePrice, pricePut, pricePutSigma_3, pricePutSigma_6);
}

createGraphVarietySigma = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, price, priceSigma_3, priceSigma_6) {
    plot(spotPrice, price, col = <span class="hljs-string">"red"</span>, type = <span class="hljs-string">"l"</span>, panel.first = grid(), ylim = c(<span
                        class="hljs-number">0</span>, <span class="hljs-number">59</span>), xlim = c(<span
                        class="hljs-number">50</span>, <span class="hljs-number">150</span>), lwd = <span
                        class="hljs-number">2.5</span>);
    lines(spotPrice, priceSigma_3, col = <span class="hljs-string">"darkblue"</span>, lwd = <span class="hljs-number">2.5</span>);
    lines(spotPrice, priceSigma_6, col = <span class="hljs-string">"black"</span>, lwd = <span
                        class="hljs-number">2.5</span>);
    lines(spotPrice, getPayoffCall(spotPrice, strikePrice), col = <span class="hljs-string">"yellow"</span>, lwd = <span
                        class="hljs-number">2.5</span>);
    lines(spotPrice, getPayoffPut(spotPrice, strikePrice), col = <span class="hljs-string">"orange"</span>, lwd = <span
                        class="hljs-number">2.5</span>);
    legend(<span class="hljs-number">50</span>, <span class="hljs-number">60</span>,
        legend = c(<span class="hljs-string">"vol = 0.01"</span>, <span class="hljs-string">"vol = 0.03"</span>, <span
                        class="hljs-string">"vol = 0.06"</span>, <span class="hljs-string">"Payoff Call"</span>, <span
                        class="hljs-string">"Payoff Put"</span>),
        col = c(<span class="hljs-string">"red"</span>, <span class="hljs-string">"darkblue"</span>, <span
                        class="hljs-string">"black"</span>, <span class="hljs-string">"yellow"</span>),
        lty = <span class="hljs-number">1</span>);
    title(main = <span class="hljs-string">"Variety of sigma"</span>, col.main = <span class="hljs-string">"red"</span>, font.main = <span
                        class="hljs-number">4</span>);
}

viewGreeksThetaForVarietySigma = <span class="hljs-keyword">function</span>(spotPrice, strikePrice, <span
                        class="hljs-literal">T</span>, r, sigma) {
    thetaPut = getThetaPut(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
    thetaPutSigma_3 = getThetaPut(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, <span
                        class="hljs-number">3</span> * sigma);
    thetaPutSigma_6 = getThetaPut(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, <span
                        class="hljs-number">6</span> * sigma);

    thetaCall = getThetaCall(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
    thetaCallSigma_3 = getThetaCall(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, <span
                        class="hljs-number">3</span> * sigma);
    thetaeCallSigma_6 = getThetaCall(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, <span
                        class="hljs-number">6</span> * sigma);

    plot(spotPrice, thetaPut, col = <span class="hljs-string">"red"</span>, type = <span class="hljs-string">"l"</span>, panel.first = grid(), ylim = c(-<span
                        class="hljs-number">10</span>, <span class="hljs-number">5</span>), xlim = c(<span
                        class="hljs-number">0</span>, <span class="hljs-number">150</span>));
    lines(spotPrice, thetaPutSigma_3, col = <span class="hljs-string">"darkblue"</span>);
    lines(spotPrice, thetaPutSigma_6, col = <span class="hljs-string">"yellow"</span>);
    lines(spotPrice, thetaCall, col = <span class="hljs-string">"black"</span>);
    lines(spotPrice, thetaCallSigma_3, col = <span class="hljs-string">"green"</span>);
    lines(spotPrice, thetaeCallSigma_6, col = <span class="hljs-string">"orange"</span>);

    legend(<span class="hljs-number">0</span>, -<span class="hljs-number">5</span>,
        legend = c(<span class="hljs-string">"thetaPut"</span>,
            <span class="hljs-string">"thetaPutSigma * 3"</span>,
            <span class="hljs-string">"thetaPutSigma * 6"</span>,
            <span class="hljs-string">"thetaCall"</span>,
            <span class="hljs-string">"thetaCallSigma * 3"</span>,
            <span class="hljs-string">"thetaeCallSigma * 6"</span>),
        col = c(<span class="hljs-string">"red"</span>,
            <span class="hljs-string">"darkblue"</span>,
            <span class="hljs-string">"yellow"</span>,
            <span class="hljs-string">"black"</span>,
            <span class="hljs-string">"green"</span>,
            <span class="hljs-string">"orange"</span>),
        lty = <span class="hljs-number">1</span>);
    title(main = <span class="hljs-string">'theta Sigma'</span>, col.main = <span class="hljs-string">"red"</span>, font.main = <span
                        class="hljs-number">4</span>);
}

viewGreeksVegaForVarietySigma = <span class="hljs-keyword">function</span> (spotPrice, strikePrice, <span
                        class="hljs-literal">T</span>, r, sigma) {
    vegaSigma = getVega(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, sigma);
    vegaSigma_3 = getVega(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, <span
                        class="hljs-number">3</span> * sigma);
    vegaSigma_6 = getVega(spotPrice, strikePrice, <span class="hljs-literal">T</span>, r, <span
                        class="hljs-number">6</span> * sigma);

    plot(spotPrice, vegaSigma, col = <span class="hljs-string">"red"</span>, type = <span class="hljs-string">"l"</span>, panel.first = grid(), ylim = c(-<span
                        class="hljs-number">5</span>, <span class="hljs-number">50</span>), xlim = c(<span
                        class="hljs-number">0</span>, <span class="hljs-number">150</span>));
    lines(spotPrice, vegaSigma_3, col = <span class="hljs-string">"darkblue"</span>);
    lines(spotPrice, vegaSigma_6, col = <span class="hljs-string">"yellow"</span>);

    legend(<span class="hljs-number">0</span>, <span class="hljs-number">25</span>,
        legend = c(<span class="hljs-string">"vegaSigma"</span>,
            <span class="hljs-string">"vegaSigma * 3"</span>,
            <span class="hljs-string">"vegaSigma * 6"</span>),
        col = c(<span class="hljs-string">"red"</span>,
            <span class="hljs-string">"darkblue"</span>,
            <span class="hljs-string">"yellow"</span>),
        lty = <span class="hljs-number">1</span>);
    title(main = <span class="hljs-string">' vega Sigma '</span>, col.main = <span class="hljs-string">"red"</span>, font.main = <span
                        class="hljs-number">4</span>);
}

run();</code></pre>
            <p><img src="/financial_mathematics/options_lab2/unnamed-chunk-3-1.png"><!-- --><img
                    src="/financial_mathematics/options_lab2/unnamed-chunk-3-2.png"><!-- --><img
                    src="/financial_mathematics/options_lab2/unnamed-chunk-3-3.png"><!-- --><img
                    src="/financial_mathematics/options_lab2/unnamed-chunk-3-4.png"><!-- --><img
                    src="/financial_mathematics/options_lab2/unnamed-chunk-3-5.png"><!-- --><img
                    src="/financial_mathematics/options_lab2/unnamed-chunk-3-6.png"><!-- --><img
                    src="/financial_mathematics/options_lab2/unnamed-chunk-3-7.png"><!-- --><img
                    src="/financial_mathematics/options_lab2/unnamed-chunk-3-8.png"><!-- --><img
                    src="/financial_mathematics/options_lab2/unnamed-chunk-3-9.png"><!-- --><img
                    src="/financial_mathematics/options_lab2/unnamed-chunk-3-10.png"><!-- --><img
                    src="/financial_mathematics/options_lab2/unnamed-chunk-3-11.png"><!-- --><img
                    src="/financial_mathematics/options_lab2/unnamed-chunk-3-12.png"><!-- --><img
                    src="/financial_mathematics/options_lab2/unnamed-chunk-3-13.png"><!-- --><img
                    src="/financial_mathematics/options_lab2/unnamed-chunk-3-14.png"><!-- --><img
                    src="/financial_mathematics/options_lab2/unnamed-chunk-3-15.png"><!-- --></p>
            <p>Вывод Стоимость опциона имеет сильную зависимость от волатильности инструмента (sigma). Это также
                подтверждается тем, что график Vega имеет достаточно высокую амплитуду. Vega является производной от
                волатильности (sigma), и ее положительные значения означают, что функция цены от волатильности
                возрастает. Притом если значения производной большие, то возрастание быстрое.</p>
            <p>Приближение срока исполнения опциона менее значимо, что подтверждается моделированием, а также плавностью
                графика Theta. Theta является производной по времени, приближении к сроку исполнения опциона значение
                производной принимает отрицательное число. чем больше значение времени, тем значение производной больше
                приближается к 0 (величина “провала” перед датой исполнения опциона уменьшается)</p>
            <hr>
            <p>Ссылка на репозиторий с исходным кодом <a
                    href="https://bitbucket.org/Difenischin/simple_statistics/overview">bitbucket</a>.</p>
        </div>

    </v-layout>
</template>

<script>
    export default {
        name: "options"
    }
</script>

<style scoped>
    .main-container {
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
    }

    code {
        color: inherit;
        background-color: rgba(0, 0, 0, 0.04);
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .tabbed-pane {
        padding-top: 12px;
    }

    button.code-folding-btn:focus {
        outline: none;
    }

    .hljs-literal {
        color: #990073;
    }

    .hljs-number {
        color: #099;
    }

    .hljs-comment {
        color: #998;
        font-style: italic;
    }

    .hljs-keyword {
        color: #900;
        font-weight: bold;
    }

    .hljs-string {
        color: #d14;
    }

    .r {
        padding: 5px;
    }

    .hljs {
        width: 100%;
    }

</style>
