<template>
    <pre class="hljs"
         style="display: block; overflow-x: auto; padding: 0.5em; background: rgb(63, 63, 63); color: rgb(220, 220, 220);">    <span
            class="hljs-keyword" style="color: rgb(227, 206, 171);">export</span> <span class="hljs-keyword"
                                                                                        style="color: rgb(227, 206, 171);">default</span> {
        name: <span class="hljs-string" style="color: rgb(204, 147, 147);">"americanOptions"</span>,
        data() {
            <span class="hljs-keyword" style="color: rgb(227, 206, 171);">return</span> {
                europeanPutPrice: <span class="hljs-number" style="color: rgb(140, 208, 211);">3</span>,
                strikePrice: <span class="hljs-number" style="color: rgb(140, 208, 211);">400</span>,
                spotPrice: <span class="hljs-number" style="color: rgb(140, 208, 211);">395</span>,
                rate: <span class="hljs-number" style="color: rgb(140, 208, 211);">1</span>,
                time: <span class="hljs-number" style="color: rgb(140, 208, 211);">3</span>
            }
        },
        computed: {
            americanCallPrice() {
                <span class="hljs-keyword" style="color: rgb(227, 206, 171);">const</span> exp = <span
                class="hljs-keyword" style="color: rgb(227, 206, 171);">this</span>.strikePrice * <span
                class="hljs-built_in" style="color: rgb(204, 147, 147);">Math</span>.exp((-<span class="hljs-keyword"
                                                                                                 style="color: rgb(227, 206, 171);">this</span>.rate / <span
                class="hljs-number" style="color: rgb(140, 208, 211);">100</span>) * <span class="hljs-keyword"
                                                                                           style="color: rgb(227, 206, 171);">this</span>.time);
                <span class="hljs-keyword" style="color: rgb(227, 206, 171);">const</span> priceCallOption = <span
                class="hljs-keyword" style="color: rgb(227, 206, 171);">this</span>.europeanPutPrice + (<span
                class="hljs-keyword" style="color: rgb(227, 206, 171);">this</span>.spotPrice - exp);
                <span class="hljs-keyword" style="color: rgb(227, 206, 171);">return</span> priceCallOption;
            }
        },
        components: {
            BinomialTreeAmericanPut,
            GrachDependencyBinomialTree
        }
    }</pre>
</template>

<script>
    export default {
        name: "americanCallOptionCodeExample"
    }
</script>

<style scoped>

</style>