<template>
    <div>
        <div v-if="predictAnomaly.length" v-for="company in predictAnomaly">
            <h3>
                Бумага {{company.companyName}}
            </h3>
            <div>
                Номера аномальных наблюдений:
            </div>
            <div>
                {{company.anomalyPricesNumbers}}
            </div>
            <div>
                Даты аномальных наблюдений:
            </div>
            <div>
                {{company.anomalyTradeDate}}
            </div>
            <div>
                Величина ошибки относительно наблюдений:
            </div>
            <div>
                {{company.errors}}
            </div>
            <div>
                Предсказанные значения:
            </div>
            <div>
                {{company.predictPrice}}
            </div>
            <div>
                Фактические значения:
            </div>
            <div>
                {{company.expectPrice}}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AnomalyView",
        props: {
            predictAnomaly: {
                type: Array,
                required: true
            }
        },
    }
</script>

<style scoped>

</style>