<template>
    <pre class="hljs code"
         style="display: block; overflow-x: auto; padding: 0.5em; background: rgb(51, 51, 51); color: rgb(255, 255, 255);"><span
            class="hljs-keyword" style="color: rgb(252, 194, 140);">export</span> <span class="hljs-keyword"
                                                                                        style="color: rgb(252, 194, 140);">default</span> {
        name: <span class="hljs-string" style="color: rgb(162, 252, 162);">"binomialTreeAmericanPut"</span>,
        components: {
            binomialTreeAmericanPutCodeExample
        },
        data() {
            <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> {
                strikePrice: <span class="hljs-number" style="color: rgb(211, 99, 99);">170</span>,
                spotPrice: <span class="hljs-number" style="color: rgb(211, 99, 99);">170</span>,
                rate: <span class="hljs-number" style="color: rgb(211, 99, 99);">0.08</span>,
                time: <span class="hljs-number" style="color: rgb(211, 99, 99);">0.2</span>,
                sigma: <span class="hljs-number" style="color: rgb(211, 99, 99);">0.4</span>,
                countStep: <span class="hljs-number" style="color: rgb(211, 99, 99);">10</span>,
                dataForGraph: [],
            }
        },
        computed: {
            minBorderForGraph() {
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> <span class="hljs-keyword"
                                                                                                  style="color: rgb(252, 194, 140);">this</span>.priceEuropeOptionPut * <span
                class="hljs-number" style="color: rgb(211, 99, 99);">0.96</span>;
            },
            maxBorderForGraph() {
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> <span class="hljs-keyword"
                                                                                                  style="color: rgb(252, 194, 140);">this</span>.priceEuropeOptionPut * <span
                class="hljs-number" style="color: rgb(211, 99, 99);">1.04</span>;
            },
            priceEuropeOptionCall() {
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> logPart = <span
                class="hljs-built_in" style="color: rgb(255, 255, 170);">Math</span>.log(<span class="hljs-keyword"
                                                                                               style="color: rgb(252, 194, 140);">this</span>.spotPrice / <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.strikePrice);
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> ratePart = (<span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.rate + <span class="hljs-keyword"
                                                                                                 style="color: rgb(252, 194, 140);">this</span>.sigma ** <span
                class="hljs-number" style="color: rgb(211, 99, 99);">2</span> / <span class="hljs-number"
                                                                                      style="color: rgb(211, 99, 99);">2</span>) * <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.time;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> d1 = (logPart + ratePart) / (<span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.sigma * <span class="hljs-built_in"
                                                                                                  style="color: rgb(255, 255, 170);">Math</span>.sqrt(<span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.time));
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> d2 = d1 - <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.sigma * <span class="hljs-built_in"
                                                                                                  style="color: rgb(255, 255, 170);">Math</span>.sqrt(<span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.time);
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> partSpotPrice = <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.pnorm(d1) * <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.spotPrice;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> partStrikePrice = <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.pnorm(d2) * <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.strikePrice * <span
                class="hljs-built_in" style="color: rgb(255, 255, 170);">Math</span>.exp(-<span class="hljs-keyword"
                                                                                                style="color: rgb(252, 194, 140);">this</span>.rate * <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.time);
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> call = partSpotPrice - partStrikePrice;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> call;
            },
            priceEuropeOptionPut() {
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> logPart = <span
                class="hljs-built_in" style="color: rgb(255, 255, 170);">Math</span>.log(<span class="hljs-keyword"
                                                                                               style="color: rgb(252, 194, 140);">this</span>.spotPrice / <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.strikePrice);
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> ratePart = (<span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.rate + <span class="hljs-keyword"
                                                                                                 style="color: rgb(252, 194, 140);">this</span>.sigma ** <span
                class="hljs-number" style="color: rgb(211, 99, 99);">2</span> / <span class="hljs-number"
                                                                                      style="color: rgb(211, 99, 99);">2</span>) * <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.time;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> d1 = (logPart + ratePart) / (<span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.sigma * <span class="hljs-built_in"
                                                                                                  style="color: rgb(255, 255, 170);">Math</span>.sqrt(<span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.time));
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> d2 = d1 - <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.sigma * <span class="hljs-built_in"
                                                                                                  style="color: rgb(255, 255, 170);">Math</span>.sqrt(<span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.time);
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> partSpotPrice = <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.pnorm(-d1) * <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.spotPrice;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> partStrikePrice = <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.pnorm(-d2) * <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.strikePrice * <span
                class="hljs-built_in" style="color: rgb(255, 255, 170);">Math</span>.exp(-<span class="hljs-keyword"
                                                                                                style="color: rgb(252, 194, 140);">this</span>.rate * <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.time)
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> put = partStrikePrice - partSpotPrice;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> put;
            },
            isUserParamsCorrect() {
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> <span class="hljs-keyword"
                                                                                                  style="color: rgb(252, 194, 140);">this</span>.countStep &gt; <span
                class="hljs-number" style="color: rgb(211, 99, 99);">0</span>
                    &amp;&amp; <span class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.countStep &lt; <span
                class="hljs-number" style="color: rgb(211, 99, 99);">200</span>
                    &amp;&amp; <span class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.time &gt; <span
                class="hljs-number" style="color: rgb(211, 99, 99);">0</span>
                    &amp;&amp; <span class="hljs-keyword"
                                     style="color: rgb(252, 194, 140);">this</span>.sigma &gt; <span class="hljs-number"
                                                                                                     style="color: rgb(211, 99, 99);">0</span>
                    &amp;&amp; <span class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.rate &gt; <span
                class="hljs-number" style="color: rgb(211, 99, 99);">0</span>
                    &amp;&amp; <span class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.strikePrice &gt; <span
                class="hljs-number" style="color: rgb(211, 99, 99);">0</span>
                    &amp;&amp; <span class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.spotPrice &gt; <span
                class="hljs-number" style="color: rgb(211, 99, 99);">0</span>
            },
            tree() {
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">if</span> (<span class="hljs-keyword"
                                                                                               style="color: rgb(252, 194, 140);">this</span>.isUserParamsCorrect) {
                    <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.getBinTree(<span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.spotPrice, <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.getParamsForTree(<span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.countStep));
                } <span class="hljs-keyword" style="color: rgb(252, 194, 140);">else</span> {
                    <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> errorText = <span
                class="hljs-string" style="color: rgb(162, 252, 162);">'Исходные данные введены не корректно'</span>;
                    <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> {
                        priceAmericanPut: errorText,
                        priceEuropeCall: errorText,
                        priceEuropePut: errorText,
                    };
                }
            },
            paramsForTree() {
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> <span class="hljs-keyword"
                                                                                                  style="color: rgb(252, 194, 140);">this</span>.getParamsForTree(<span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.countStep);
            },
            countStepBySustainability() {
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> countStep = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">10</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> k = <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.sigma ** <span class="hljs-number"
                                                                                                   style="color: rgb(211, 99, 99);">2</span> * <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.time * countStep ** <span
                class="hljs-number" style="color: rgb(211, 99, 99);">2</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> k;
            }
        },
        methods: {
            getParamsForTree(countStep) {
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> dT = <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.time / countStep;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> up = <span
                class="hljs-built_in" style="color: rgb(255, 255, 170);">Math</span>.exp(<span class="hljs-keyword"
                                                                                               style="color: rgb(252, 194, 140);">this</span>.sigma * <span
                class="hljs-built_in" style="color: rgb(255, 255, 170);">Math</span>.sqrt(dT));
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> down = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">1</span> / up;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> p = (<span
                class="hljs-built_in" style="color: rgb(255, 255, 170);">Math</span>.exp(<span class="hljs-keyword"
                                                                                               style="color: rgb(252, 194, 140);">this</span>.rate * dT) - down) / (up - down);
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> dF = <span
                class="hljs-built_in" style="color: rgb(255, 255, 170);">Math</span>.exp(-<span class="hljs-keyword"
                                                                                                style="color: rgb(252, 194, 140);">this</span>.rate * dT);
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> {
                    up,
                    down,
                    p,
                    dT,
                    dF,
                    countStep,
                    strikePrice: <span class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.strikePrice
                };
            },
            setDataForGraph() {
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> priceAmericanPutResults = {
                    name: <span class="hljs-string" style="color: rgb(162, 252, 162);">'priceAmericanPut'</span>, data: {}
                };
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> priceEuropeCallResults = {
                    name: <span class="hljs-string" style="color: rgb(162, 252, 162);">'priceEuropeCall'</span>, data: {}
                };
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> priceEuropePutResults = {
                    name: <span class="hljs-string" style="color: rgb(162, 252, 162);">'priceEuropePut'</span>, data: {}
                };
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> priceEuropePutTrue = {
                    name: <span class="hljs-string" style="color: rgb(162, 252, 162);">'priceEuropePutTrue'</span>, data: {}
                };
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> pricePutTrue = <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.priceEuropeOptionPut;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">for</span> (<span class="hljs-keyword"
                                                                                                style="color: rgb(252, 194, 140);">let</span> i = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">15</span>; i &lt; <span class="hljs-number"
                                                                                             style="color: rgb(211, 99, 99);">80</span>; i++) {
                    <span class="hljs-keyword" style="color: rgb(252, 194, 140);">let</span> paramsForTree = <span
                class="hljs-built_in" style="color: rgb(255, 255, 170);">Object</span>.assign({}, <span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.getParamsForTree(i));
                    <span class="hljs-keyword" style="color: rgb(252, 194, 140);">let</span> {
                        priceAmericanPut,
                        priceEuropeCall,
                        priceEuropePut
                    } = <span class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.getBinTree(<span
                class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.spotPrice, paramsForTree);
                    priceAmericanPutResults.data[i] = priceAmericanPut;
                    priceEuropeCallResults.data[i] = priceEuropeCall;
                    priceEuropePutResults.data[i] = priceEuropePut;
                    priceEuropePutTrue.data[i] = pricePutTrue;
                }
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">this</span>.dataForGraph = [priceAmericanPutResults, priceEuropePutResults, priceEuropePutTrue];
            },
            getBinTree(spotPrice, paramsForTree) {
                <span class="hljs-comment" style="color: rgb(136, 136, 136);">//сделано именно так чтобы при каждой модуляции сбрасывались кеши</span>
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> binTree = Node(spotPrice, paramsForTree);
                <span class="hljs-built_in" style="color: rgb(255, 255, 170);">console</span>.log(binTree);
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> binTree;

                <span class="hljs-function"><span class="hljs-keyword"
                                                  style="color: rgb(252, 194, 140);">function</span> <span
                        class="hljs-title" style="color: rgb(255, 255, 170);">Node</span>(<span class="hljs-params">spotPrice, startParams, currentLevel = 0</span>) </span>{
                    <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> cashesInstance = <span
                class="hljs-string" style="color: rgb(162, 252, 162);">`<span
                class="hljs-subst">${spotPrice}</span>_<span class="hljs-subst">${currentLevel}</span>`</span>;
                    <span class="hljs-keyword" style="color: rgb(252, 194, 140);">if</span> (Node[cashesInstance]) {
                        <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> Node[cashesInstance];
                    }
                    Node[cashesInstance] = createNewNode();
                    <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> Node[cashesInstance];

                    <span class="hljs-function"><span class="hljs-keyword"
                                                      style="color: rgb(252, 194, 140);">function</span> <span
                            class="hljs-title" style="color: rgb(255, 255, 170);">createNewNode</span>(<span
                            class="hljs-params"></span>) </span>{
                        <span class="hljs-keyword" style="color: rgb(252, 194, 140);">if</span> (!isLastLeaf(currentLevel)) {
                            <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> getNodeTree();
                        } <span class="hljs-keyword" style="color: rgb(252, 194, 140);">else</span> {
                            <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> getLastLeaf();
                        }

                        <span class="hljs-function"><span class="hljs-keyword" style="color: rgb(252, 194, 140);">function</span> <span
                                class="hljs-title" style="color: rgb(255, 255, 170);">isLastLeaf</span>(<span
                                class="hljs-params">currentLevel</span>) </span>{
                            <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> currentLevel === startParams.countStep;
                        }
                    }

                    <span class="hljs-function"><span class="hljs-keyword"
                                                      style="color: rgb(252, 194, 140);">function</span> <span
                            class="hljs-title" style="color: rgb(255, 255, 170);">getNodeTree</span>(<span
                            class="hljs-params"></span>) </span>{
                        <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> nextUp = Node(getNextPriceUp(spotPrice), startParams, currentLevel + <span
                class="hljs-number" style="color: rgb(211, 99, 99);">1</span>);
                        <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> nextDown = Node(getNextPriceDown(spotPrice), startParams, currentLevel + <span
                class="hljs-number" style="color: rgb(211, 99, 99);">1</span>);
                        <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> priceAmericanPut = getAmericanOptionPut(nextUp, nextDown, spotPrice);
                        <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> priceEuropeCall = getEuropeOptionCall(nextUp, nextDown);
                        <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> priceEuropePut = getEuropeOptionPut(nextUp, nextDown);

                        <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> {
                            spotPrice,
                            currentLevel,
                            nextUp,
                            nextDown,
                            priceAmericanPut,
                            priceEuropeCall,
                            priceEuropePut
                        };

                        <span class="hljs-function"><span class="hljs-keyword" style="color: rgb(252, 194, 140);">function</span> <span
                                class="hljs-title" style="color: rgb(255, 255, 170);">getNextPriceUp</span>(<span
                                class="hljs-params">spotPrice</span>) </span>{
                            <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> startParams.up * spotPrice;
                        }

                        <span class="hljs-function"><span class="hljs-keyword" style="color: rgb(252, 194, 140);">function</span> <span
                                class="hljs-title" style="color: rgb(255, 255, 170);">getNextPriceDown</span>(<span
                                class="hljs-params">spotPrice</span>) </span>{
                            <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> startParams.down * spotPrice;
                        }

                        <span class="hljs-function"><span class="hljs-keyword" style="color: rgb(252, 194, 140);">function</span> <span
                                class="hljs-title" style="color: rgb(255, 255, 170);">getAmericanOptionPut</span>(<span
                                class="hljs-params">upChildren, downChildren, spotPrice</span>) </span>{
                            <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> payoffPut = getPayoffPut(spotPrice);
                            <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> previousStepPrice = getPriceInPreviousStep(upChildren.priceAmericanPut, downChildren.priceAmericanPut);
                            <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> <span
                class="hljs-built_in" style="color: rgb(255, 255, 170);">Math</span>.max(payoffPut, previousStepPrice);
                        }

                        <span class="hljs-function"><span class="hljs-keyword" style="color: rgb(252, 194, 140);">function</span> <span
                                class="hljs-title"
                                style="color: rgb(255, 255, 170);">getPriceInPreviousStep</span>(<span
                                class="hljs-params">upPrice, downPrice</span>) </span>{
                            <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> {p, dF} = startParams;
                            <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> dF * (p * upPrice + (<span
                class="hljs-number" style="color: rgb(211, 99, 99);">1</span> - p) * downPrice);
                        }

                        <span class="hljs-function"><span class="hljs-keyword" style="color: rgb(252, 194, 140);">function</span> <span
                                class="hljs-title" style="color: rgb(255, 255, 170);">getEuropeOptionCall</span>(<span
                                class="hljs-params">upChildren, downChildren</span>) </span>{
                            <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> getPriceInPreviousStep(upChildren.priceEuropeCall, downChildren.priceEuropeCall);
                        }

                        <span class="hljs-function"><span class="hljs-keyword" style="color: rgb(252, 194, 140);">function</span> <span
                                class="hljs-title" style="color: rgb(255, 255, 170);">getEuropeOptionPut</span>(<span
                                class="hljs-params">upChildren, downChildren</span>) </span>{
                            <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> getPriceInPreviousStep(upChildren.priceEuropePut, downChildren.priceEuropePut);
                        }
                    }

                    <span class="hljs-function"><span class="hljs-keyword"
                                                      style="color: rgb(252, 194, 140);">function</span> <span
                            class="hljs-title" style="color: rgb(255, 255, 170);">getLastLeaf</span>(<span
                            class="hljs-params"></span>) </span>{
                        <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> priceAmericanPut = getPayoffPut(spotPrice);
                        <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> priceEuropeCall = getPayoffCall(spotPrice);
                        <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> priceEuropePut = getPayoffPut(spotPrice);
                        <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> {
                            spotPrice,
                            currentLevel,
                            priceAmericanPut,
                            priceEuropeCall,
                            priceEuropePut
                        };
                    }

                    <span class="hljs-function"><span class="hljs-keyword"
                                                      style="color: rgb(252, 194, 140);">function</span> <span
                            class="hljs-title" style="color: rgb(255, 255, 170);">getPayoffPut</span>(<span
                            class="hljs-params">spotPrice</span>) </span>{
                        <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> profit = startParams.strikePrice - spotPrice;
                        <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> <span
                class="hljs-built_in" style="color: rgb(255, 255, 170);">Math</span>.max(profit, <span
                class="hljs-number" style="color: rgb(211, 99, 99);">0</span>);
                    }

                    <span class="hljs-function"><span class="hljs-keyword"
                                                      style="color: rgb(252, 194, 140);">function</span> <span
                            class="hljs-title" style="color: rgb(255, 255, 170);">getPayoffCall</span>(<span
                            class="hljs-params">spotPrice</span>) </span>{
                        <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> profit = spotPrice - startParams.strikePrice;
                        <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> <span
                class="hljs-built_in" style="color: rgb(255, 255, 170);">Math</span>.max(profit, <span
                class="hljs-number" style="color: rgb(211, 99, 99);">0</span>);
                    }
                }
            },
            pnorm(zz) {
                <span class="hljs-comment" style="color: rgb(136, 136, 136);">// Algorithm AS66 Applied Statistics (1973) vol22 no.3</span>
                <span class="hljs-comment" style="color: rgb(136, 136, 136);">// Computes P(Z&lt;z)</span>
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">let</span> z = <span class="hljs-built_in"
                                                                                                   style="color: rgb(255, 255, 170);">parseFloat</span>(zz);
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">let</span> upper = <span
                class="hljs-literal" style="color: rgb(252, 194, 140);">false</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> ltone = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">7.0</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> utzero = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">18.66</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> con = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">1.28</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> a1 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">0.398942280444</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> a2 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">0.399903438504</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> a3 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">5.75885480458</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> a4 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">29.8213557808</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> a5 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">2.62433121679</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> a6 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">48.6959930692</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> a7 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">5.92885724438</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> b1 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">0.398942280385</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> b2 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">3.8052e-8</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> b3 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">1.00000615302</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> b4 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">3.98064794e-4</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> b5 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">1.986153813664</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> b6 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">0.151679116635</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> b7 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">5.29330324926</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> b8 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">4.8385912808</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> b9 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">15.1508972451</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> b10 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">0.742380924027</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> b11 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">30.789933034</span>;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">const</span> b12 = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">3.99019417011</span>;

                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">if</span> (z &lt; <span
                class="hljs-number" style="color: rgb(211, 99, 99);">0</span>) {
                    upper = !upper;
                    z = -z;
                }
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">let</span> alnorm;
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">if</span> (z &lt;= ltone || upper &amp;&amp; z &lt;= utzero) {
                    <span class="hljs-keyword" style="color: rgb(252, 194, 140);">let</span> y = <span
                class="hljs-number" style="color: rgb(211, 99, 99);">0.5</span> * z * z;
                    <span class="hljs-keyword" style="color: rgb(252, 194, 140);">if</span> (z &gt; con) {
                        alnorm = b1 * <span class="hljs-built_in" style="color: rgb(255, 255, 170);">Math</span>.exp(-y) / (z - b2 + b3 / (z + b4 + b5 / (z - b6 + b7 / (z + b8 - b9 / (z + b10 + b11 / (z + b12))))));
                    }
                    <span class="hljs-keyword" style="color: rgb(252, 194, 140);">else</span> {
                        alnorm = <span class="hljs-number" style="color: rgb(211, 99, 99);">0.5</span> - z * (a1 - a2 * y / (y + a3 - a4 / (y + a5 + a6 / (y + a7))));
                    }
                }
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">else</span> {
                    alnorm = <span class="hljs-number" style="color: rgb(211, 99, 99);">0</span>;
                }
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">if</span> (!upper) {
                    alnorm = <span class="hljs-number" style="color: rgb(211, 99, 99);">1</span> - alnorm;
                }
                <span class="hljs-keyword" style="color: rgb(252, 194, 140);">return</span> (alnorm);
            }
        }
    }</pre>
</template>

<style scoped>
    .code {
        background-color: rgba(0, 0, 0, 0.04);
        overflow: auto;
        font-family: Monaco, monospace;
        font-size: 15px;
        background: #1e1f20;
        color: #FFFFFF;
        opacity: 0.7;
    }
</style>
