<template>
    <v-container fluid class="main-container">
        <h2>Решение задания 2</h2>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Цена исполнения опциона (страйк)</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Пример 3"
                        v-model.number="strikePrice"
                        type="number"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Текущая цена акции</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Пример 3"
                        v-model.number="spotPrice"
                        type="number"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Процентная ставка (%)</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Пример 0.1"
                        v-model.number="rate"
                        type="number"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Время</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Пример 0.3"
                        v-model.number="time"
                        type="number"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Волатильность</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Пример 0.3"
                        v-model.number="sigma"
                        type="number"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Количество шагов в биномиальной модели</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Пример 10"
                        v-model.number="countStep"
                        type="number"
                        min="1"
                        max="200"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Расчётное значение параметров</v-subheader>
            </v-flex>
            <v-flex xs8>
                <label>{{paramsForTree}}</label>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Цена американского пут опциона</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-alert outlined color="info" icon="info" :value="true">
                    {{ tree.priceAmericanPut }}
                </v-alert>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Цена европейского пут опциона</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-alert outlined color="info" icon="info" :value="true">
                    {{ tree.priceEuropePut }}
                </v-alert>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Цена европейского колл опциона</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-alert outlined color="info" icon="info" :value="true">
                    {{ tree.priceEuropeCall }}
                </v-alert>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Цена европейского пут опциона точное решение</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-alert outlined color="info" icon="info" :value="true">
                    {{priceEuropeOptionPut}}
                </v-alert>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Цена европейского колл опциона точное решение</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-alert outlined color="info" icon="info" :value="true">
                    {{priceEuropeOptionCall}}
                </v-alert>
            </v-flex>
        </v-layout>
        <v-btn color="info" v-on:click="setDataForGraph">Построить график</v-btn>
        <line-chart :min="minBorderForGraph" :max="maxBorderForGraph" decimal="." :data="dataForGraph"></line-chart>
        <h3>Воспользуемся функциями пакета fOptions в языке R</h3>

        <div>
            <p>Title:
                BAW American Approximated Option</p>

            <p> Call:
                BAWAmericanApproxOption(TypeFlag = "p", S = 170, X = 170, Time = 0.2,
                r = 0.08, b = 0.08, sigma = 0.4)
            </p>
            <p>Option Price:
                10.92802
            </p>
            <p>Title:
                CRR Binomial Tree Option</p>

            <p>Call:
                CRRBinomialTreeOption(TypeFlag = "ce", S = 170, X = 170, Time = 0.2,
                r = 0.08, b = 0.08, sigma = 0.4, n = 100)</p>


            <p>Option Price:
                13.3867</p>
        </div>
        <div>
            <h3>Сравнение европейских опционов с точным решением</h3>
            <p>Увеличиваем количество шагов -> получаем лучшую точность, но при достаточном количестве шагов, при
                дальнейшем увеличении не наблюдается существенного увеличения точности</p>
            <p> Значения колеблются вблизи небольшого интервала
            </p>
        </div>
        <div>
            <h3>Сравнение американского пут с апроксимацией Barone-Adesi And Whaley</h3>
            <p>Всё считается очень быстро, и точность решения находиться в около процентном диапазоне.</p>
        </div>
        <binomial-tree-american-put-code-example></binomial-tree-american-put-code-example>
    </v-container>
</template>

<script>

    import binomialTreeAmericanPutCodeExample from "./../components/BinomialTreeAmericanPutCodeExample";

    export default {
        name: "BinomialTreeAmericanPut",
        components: {
            binomialTreeAmericanPutCodeExample
        },
        data() {
            return {
                strikePrice: 170,
                spotPrice: 170,
                rate: 0.08,
                time: 0.2,
                sigma: 0.4,
                countStep: 10,
                dataForGraph: [],
            }
        },
        computed: {
            minBorderForGraph() {
                return this.priceEuropeOptionPut * 0.96;
            },
            maxBorderForGraph() {
                return this.priceEuropeOptionPut * 1.04;
            },
            priceEuropeOptionCall() {
                const logPart = Math.log(this.spotPrice / this.strikePrice);
                const ratePart = (this.rate + this.sigma ** 2 / 2) * this.time;
                const d1 = (logPart + ratePart) / (this.sigma * Math.sqrt(this.time));
                const d2 = d1 - this.sigma * Math.sqrt(this.time);
                const partSpotPrice = this.pnorm(d1) * this.spotPrice;
                const partStrikePrice = this.pnorm(d2) * this.strikePrice * Math.exp(-this.rate * this.time);
                const call = partSpotPrice - partStrikePrice;
                return call;
            },
            priceEuropeOptionPut() {
                const logPart = Math.log(this.spotPrice / this.strikePrice);
                const ratePart = (this.rate + this.sigma ** 2 / 2) * this.time;
                const d1 = (logPart + ratePart) / (this.sigma * Math.sqrt(this.time));
                const d2 = d1 - this.sigma * Math.sqrt(this.time);
                const partSpotPrice = this.pnorm(-d1) * this.spotPrice;
                const partStrikePrice = this.pnorm(-d2) * this.strikePrice * Math.exp(-this.rate * this.time)
                const put = partStrikePrice - partSpotPrice;
                return put;
            },
            isUserParamsCorrect() {
                return this.countStep > 0
                    && this.countStep < 200
                    && this.time > 0
                    && this.sigma > 0
                    && this.rate > 0
                    && this.strikePrice > 0
                    && this.spotPrice > 0
            },
            tree() {
                if (this.isUserParamsCorrect) {
                    return this.getBinTree(this.spotPrice, this.getParamsForTree(this.countStep));
                } else {
                    const errorText = 'Исходные данные введены не корректно';
                    return {
                        priceAmericanPut: errorText,
                        priceEuropeCall: errorText,
                        priceEuropePut: errorText,
                    };
                }
            },
            paramsForTree() {
                return this.getParamsForTree(this.countStep);
            },
            countStepBySustainability() {
                const countStep = 10;
                const k = this.sigma ** 2 * this.time * countStep ** 2;
                return k;
            }
        },
        methods: {
            getParamsForTree(countStep) {
                const dT = this.time / countStep;
                const up = Math.exp(this.sigma * Math.sqrt(dT));
                const down = 1 / up;
                const p = (Math.exp(this.rate * dT) - down) / (up - down);
                const dF = Math.exp(-this.rate * dT);
                return {
                    up,
                    down,
                    p,
                    dT,
                    dF,
                    countStep,
                    strikePrice: this.strikePrice
                };
            },
            setDataForGraph() {
                const priceAmericanPutResults = {
                    name: 'priceAmericanPut', data: {}
                };
                const priceEuropeCallResults = {
                    name: 'priceEuropeCall', data: {}
                };
                const priceEuropePutResults = {
                    name: 'priceEuropePut', data: {}
                };
                const priceEuropePutTrue = {
                    name: 'priceEuropePutTrue', data: {}
                };
                const pricePutTrue = this.priceEuropeOptionPut;
                for (let i = 15; i < 80; i++) {
                    let paramsForTree = Object.assign({}, this.getParamsForTree(i));
                    let {
                        priceAmericanPut,
                        priceEuropeCall,
                        priceEuropePut
                    } = this.getBinTree(this.spotPrice, paramsForTree);
                    priceAmericanPutResults.data[i] = priceAmericanPut;
                    priceEuropeCallResults.data[i] = priceEuropeCall;
                    priceEuropePutResults.data[i] = priceEuropePut;
                    priceEuropePutTrue.data[i] = pricePutTrue;
                }
                this.dataForGraph = [priceAmericanPutResults, priceEuropePutResults, priceEuropePutTrue];
            },
            getBinTree(spotPrice, paramsForTree) {
                //сделано именно так чтобы при каждой модуляции сбрасывались кеши
                const binTree = Node(spotPrice, paramsForTree);
                console.log(binTree);
                return binTree;

                function Node(spotPrice, startParams, currentLevel = 0) {
                    const cashesInstance = `${spotPrice}_${currentLevel}`;
                    if (Node[cashesInstance]) {
                        return Node[cashesInstance];
                    }
                    Node[cashesInstance] = createNewNode();
                    return Node[cashesInstance];

                    function createNewNode() {
                        if (!isLastLeaf(currentLevel)) {
                            return getNodeTree();
                        } else {
                            return getLastLeaf();
                        }

                        function isLastLeaf(currentLevel) {
                            return currentLevel === startParams.countStep;
                        }
                    }

                    function getNodeTree() {
                        const nextUp = Node(getNextPriceUp(spotPrice), startParams, currentLevel + 1);
                        const nextDown = Node(getNextPriceDown(spotPrice), startParams, currentLevel + 1);
                        const priceAmericanPut = getAmericanOptionPut(nextUp, nextDown, spotPrice);
                        const priceEuropeCall = getEuropeOptionCall(nextUp, nextDown);
                        const priceEuropePut = getEuropeOptionPut(nextUp, nextDown);

                        return {
                            spotPrice,
                            currentLevel,
                            nextUp,
                            nextDown,
                            priceAmericanPut,
                            priceEuropeCall,
                            priceEuropePut
                        };

                        function getNextPriceUp(spotPrice) {
                            return startParams.up * spotPrice;
                        }

                        function getNextPriceDown(spotPrice) {
                            return startParams.down * spotPrice;
                        }

                        function getAmericanOptionPut(upChildren, downChildren, spotPrice) {
                            const payoffPut = getPayoffPut(spotPrice);
                            const previousStepPrice = getPriceInPreviousStep(upChildren.priceAmericanPut, downChildren.priceAmericanPut);
                            return Math.max(payoffPut, previousStepPrice);
                        }

                        function getPriceInPreviousStep(upPrice, downPrice) {
                            const {p, dF} = startParams;
                            return dF * (p * upPrice + (1 - p) * downPrice);
                        }

                        function getEuropeOptionCall(upChildren, downChildren) {
                            return getPriceInPreviousStep(upChildren.priceEuropeCall, downChildren.priceEuropeCall);
                        }

                        function getEuropeOptionPut(upChildren, downChildren) {
                            return getPriceInPreviousStep(upChildren.priceEuropePut, downChildren.priceEuropePut);
                        }
                    }

                    function getLastLeaf() {
                        const priceAmericanPut = getPayoffPut(spotPrice);
                        const priceEuropeCall = getPayoffCall(spotPrice);
                        const priceEuropePut = getPayoffPut(spotPrice);
                        return {
                            spotPrice,
                            currentLevel,
                            priceAmericanPut,
                            priceEuropeCall,
                            priceEuropePut
                        };
                    }

                    function getPayoffPut(spotPrice) {
                        const profit = startParams.strikePrice - spotPrice;
                        return Math.max(profit, 0);
                    }

                    function getPayoffCall(spotPrice) {
                        const profit = spotPrice - startParams.strikePrice;
                        return Math.max(profit, 0);
                    }
                }
            },
            pnorm(zz) {
                // Algorithm AS66 Applied Statistics (1973) vol22 no.3
                // Computes P(Z<z)
                let z = parseFloat(zz);
                let upper = false;
                const ltone = 7.0;
                const utzero = 18.66;
                const con = 1.28;
                const a1 = 0.398942280444;
                const a2 = 0.399903438504;
                const a3 = 5.75885480458;
                const a4 = 29.8213557808;
                const a5 = 2.62433121679;
                const a6 = 48.6959930692;
                const a7 = 5.92885724438;
                const b1 = 0.398942280385;
                const b2 = 3.8052e-8;
                const b3 = 1.00000615302;
                const b4 = 3.98064794e-4;
                const b5 = 1.986153813664;
                const b6 = 0.151679116635;
                const b7 = 5.29330324926;
                const b8 = 4.8385912808;
                const b9 = 15.1508972451;
                const b10 = 0.742380924027;
                const b11 = 30.789933034;
                const b12 = 3.99019417011;

                if (z < 0) {
                    upper = !upper;
                    z = -z;
                }
                let alnorm;
                if (z <= ltone || upper && z <= utzero) {
                    let y = 0.5 * z * z;
                    if (z > con) {
                        alnorm = b1 * Math.exp(-y) / (z - b2 + b3 / (z + b4 + b5 / (z - b6 + b7 / (z + b8 - b9 / (z + b10 + b11 / (z + b12))))));
                    }
                    else {
                        alnorm = 0.5 - z * (a1 - a2 * y / (y + a3 - a4 / (y + a5 + a6 / (y + a7))));
                    }
                }
                else {
                    alnorm = 0;
                }
                if (!upper) {
                    alnorm = 1 - alnorm;
                }
                return (alnorm);
            }
        }
    }

</script>

<style scoped>
    .main-container {
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
    }
</style>