<template>
    <v-container fluid class="main-container">
        <h2>Решение задания 4.1</h2>
        <v-data-table
                :headers="headers"
                :items="grid"
                hide-default-footer
                class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <td class="text-xs-right">{{ props.item.x }}</td>
                <td class="text-xs-right">{{ props.item.f }}</td>
                <td class="text-xs-right">{{ props.item.trueDerivative1 }}</td>
                <td class="text-xs-right">{{ props.item.trueDerivative2 }}</td>
                <td class="text-xs-right">{{ props.item.leftDerivative1 }}</td>
                <td class="text-xs-right">{{ props.item.rightDerivative1 }}</td>
                <td class="text-xs-right">{{ props.item.complexDerivative1 }}</td>
                <td class="text-xs-right">{{ props.item.acurency }}</td>
                <td class="text-xs-right">{{ props.item.complexDerivative2 }}</td>
                <td class="text-xs-right">{{ props.item.acurencyDerivative2 }}</td>
            </template>
        </v-data-table>
        <v-layout>
            <v-flex xs4>
                <v-subheader>Первая производная</v-subheader>
            </v-flex>
            <v-flex xs8>

                   <span class="math" id="MathJax-Span-454" style="width: 16.472em; display: inline-block;"><span
                           style="display: inline-block; position: relative; width: 13.032em; height: 0px; font-size: 126%;"><span
                           style="position: absolute; clip: rect(0.532em, 1012.97em, 3.178em, -999.997em); top: -2.245em; left: 0em;"><span
                           class="mrow" id="MathJax-Span-455"><span class="mfrac" id="MathJax-Span-456"><span
                           style="display: inline-block; position: relative; width: 1.128em; height: 0px; margin-right: 0.136em; margin-left: 0.136em;"><span
                           style="position: absolute; clip: rect(2.913em, 1001em, 4.17em, -999.997em); top: -4.626em; left: 50%; margin-left: -0.526em;"><span
                           class="msubsup" id="MathJax-Span-457"><span
                           style="display: inline-block; position: relative; width: 0.995em; height: 0px;"><span
                           style="position: absolute; clip: rect(3.31em, 1000.53em, 4.17em, -999.997em); top: -3.965em; left: 0em;"><span
                           class="mi" id="MathJax-Span-458" style="font-family: MathJax_Math-italic;">x</span><span
                           style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                           style="position: absolute; top: -4.296em; left: 0.599em;"><span class="texatom"
                                                                                           id="MathJax-Span-459"><span
                           class="mrow" id="MathJax-Span-460"><span class="mn" id="MathJax-Span-461"
                                                                    style="font-size: 70.7%; font-family: MathJax_Main;">3</span></span></span><span
                           style="display: inline-block; width: 0px; height: 3.972em;"></span></span></span></span><span
                           style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                           style="position: absolute; clip: rect(3.112em, 1000.47em, 4.17em, -999.997em); top: -3.304em; left: 50%; margin-left: -0.261em;"><span
                           class="mn" id="MathJax-Span-462" style="font-family: MathJax_Main;">5</span><span
                           style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                           style="position: absolute; clip: rect(0.797em, 1001.13em, 1.26em, -999.997em); top: -1.253em; left: 0em;"><span
                           style="display: inline-block; overflow: hidden; vertical-align: 0em; border-top: 1.3px solid; width: 1.128em; height: 0px;"></span><span
                           style="display: inline-block; width: 0px; height: 1.062em;"></span></span></span></span><span
                           class="mo" id="MathJax-Span-463"
                           style="font-family: MathJax_Main; padding-left: 0.202em;">−</span><span class="mn"
                                                                                                   id="MathJax-Span-464"
                                                                                                   style="font-family: MathJax_Main; padding-left: 0.202em;">3</span><span
                           class="msubsup" id="MathJax-Span-465"><span
                           style="display: inline-block; position: relative; width: 0.995em; height: 0px;"><span
                           style="position: absolute; clip: rect(3.31em, 1000.53em, 4.17em, -999.997em); top: -3.965em; left: 0em;"><span
                           class="mi" id="MathJax-Span-466" style="font-family: MathJax_Math-italic;">x</span><span
                           style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                           style="position: absolute; top: -4.362em; left: 0.599em;"><span class="texatom"
                                                                                           id="MathJax-Span-467"><span
                           class="mrow" id="MathJax-Span-468"><span class="mn" id="MathJax-Span-469"
                                                                    style="font-size: 70.7%; font-family: MathJax_Main;">2</span></span></span><span
                           style="display: inline-block; width: 0px; height: 3.972em;"></span></span></span></span><span
                           class="mo" id="MathJax-Span-470"
                           style="font-family: MathJax_Main; padding-left: 0.202em;">+</span><span class="mn"
                                                                                                   id="MathJax-Span-471"
                                                                                                   style="font-family: MathJax_Main; padding-left: 0.202em;">15</span><span
                           class="mi" id="MathJax-Span-472" style="font-family: MathJax_Math-italic;">x</span><span
                           class="mo"
                           id="MathJax-Span-473"
                           style="font-family: MathJax_Main; padding-left: 0.202em;">+</span><span
                           class="mi" id="MathJax-Span-474"
                           style="font-family: MathJax_Main; padding-left: 0.202em;">cos</span><span class="mo"
                                                                                                     id="MathJax-Span-475"></span><span
                           class="texatom" id="MathJax-Span-476" style="padding-left: 0.202em;"><span class="mrow"
                                                                                                      id="MathJax-Span-477"><span
                           class="mrow" id="MathJax-Span-478"><span class="mo" id="MathJax-Span-479"
                                                                    style="font-family: MathJax_Main;">(</span><span
                           class="mi"
                           id="MathJax-Span-480"
                           style="font-family: MathJax_Math-italic;">x</span><span
                           class="mo" id="MathJax-Span-481"
                           style="font-family: MathJax_Main;">)</span></span></span></span><span class="mo"
                                                                                                 id="MathJax-Span-482"
                                                                                                 style="font-family: MathJax_Main; padding-left: 0.202em;">−</span><span
                           class="mn" id="MathJax-Span-483"
                           style="font-family: MathJax_Main; padding-left: 0.202em;">25</span></span><span
                           style="display: inline-block; width: 0px; height: 2.252em;"></span></span></span><span
                           style="display: inline-block; overflow: hidden; vertical-align: -0.996em; border-left: 0px solid; width: 0px; height: 3.004em;"></span></span>

            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Вторая производная</v-subheader>
            </v-flex>
            <v-flex xs8>

                     <span class="math" id="MathJax-Span-429" style="width: 13.032em; display: inline-block;"><span
                             style="display: inline-block; position: relative; width: 10.321em; height: 0px; font-size: 126%;"><span
                             style="position: absolute; clip: rect(0.532em, 1010.25em, 3.178em, -999.997em); top: -2.245em; left: 0em;"><span
                             class="mrow" id="MathJax-Span-430"><span class="mfrac" id="MathJax-Span-431"><span
                             style="display: inline-block; position: relative; width: 1.657em; height: 0px; margin-right: 0.136em; margin-left: 0.136em;"><span
                             style="position: absolute; clip: rect(2.913em, 1001.52em, 4.17em, -999.997em); top: -4.626em; left: 50%; margin-left: -0.724em;"><span
                             class="mrow" id="MathJax-Span-432"><span class="mn" id="MathJax-Span-433"
                                                                      style="font-family: MathJax_Main;">3</span><span
                             class="msubsup" id="MathJax-Span-434"><span
                             style="display: inline-block; position: relative; width: 0.995em; height: 0px;"><span
                             style="position: absolute; clip: rect(3.31em, 1000.53em, 4.17em, -999.997em); top: -3.965em; left: 0em;"><span
                             class="mi" id="MathJax-Span-435" style="font-family: MathJax_Math-italic;">x</span><span
                             style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                             style="position: absolute; top: -4.296em; left: 0.599em;"><span class="texatom"
                                                                                             id="MathJax-Span-436"><span
                             class="mrow"
                             id="MathJax-Span-437"><span
                             class="mn" id="MathJax-Span-438"
                             style="font-size: 70.7%; font-family: MathJax_Main;">2</span></span></span><span
                             style="display: inline-block; width: 0px; height: 3.972em;"></span></span></span></span></span><span
                             style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                             style="position: absolute; clip: rect(3.112em, 1000.47em, 4.17em, -999.997em); top: -3.304em; left: 50%; margin-left: -0.261em;"><span
                             class="mn" id="MathJax-Span-439" style="font-family: MathJax_Main;">5</span><span
                             style="display: inline-block; width: 0px; height: 3.972em;"></span></span><span
                             style="position: absolute; clip: rect(0.797em, 1001.66em, 1.26em, -999.997em); top: -1.253em; left: 0em;"><span
                             style="display: inline-block; overflow: hidden; vertical-align: 0em; border-top: 1.3px solid; width: 1.657em; height: 0px;"></span><span
                             style="display: inline-block; width: 0px; height: 1.062em;"></span></span></span></span><span
                             class="mo"
                             id="MathJax-Span-440"
                             style="font-family: MathJax_Main; padding-left: 0.202em;">−</span><span
                             class="mn" id="MathJax-Span-441" style="font-family: MathJax_Main; padding-left: 0.202em;">6</span><span
                             class="mi" id="MathJax-Span-442" style="font-family: MathJax_Math-italic;">x</span><span
                             class="mo"
                             id="MathJax-Span-443"
                             style="font-family: MathJax_Main; padding-left: 0.202em;">−</span><span
                             class="mi" id="MathJax-Span-444"
                             style="font-family: MathJax_Main; padding-left: 0.202em;">sin</span><span class="mo"
                                                                                                       id="MathJax-Span-445"></span><span
                             class="texatom" id="MathJax-Span-446" style="padding-left: 0.202em;"><span class="mrow"
                                                                                                        id="MathJax-Span-447"><span
                             class="mrow" id="MathJax-Span-448"><span class="mo" id="MathJax-Span-449"
                                                                      style="font-family: MathJax_Main;">(</span><span
                             class="mi"
                             id="MathJax-Span-450"
                             style="font-family: MathJax_Math-italic;">x</span><span
                             class="mo" id="MathJax-Span-451" style="font-family: MathJax_Main;">)</span></span></span></span><span
                             class="mo" id="MathJax-Span-452" style="font-family: MathJax_Main; padding-left: 0.202em;">+</span><span
                             class="mn" id="MathJax-Span-453"
                             style="font-family: MathJax_Main; padding-left: 0.202em;">15</span></span><span
                             style="display: inline-block; width: 0px; height: 2.252em;"></span></span></span><span
                             style="display: inline-block; overflow: hidden; vertical-align: -0.996em; border-left: 0px solid; width: 0px; height: 3.004em;"></span></span>

            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Теоретическая погрешность правосторонней/левосторонней схемы</v-subheader>
            </v-flex>
            <v-flex xs8>
                <span>(1*0.1)/2 = 0.005</span>

            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Теоретическая погрешность симметричной схемы</v-subheader>
            </v-flex>
            <v-flex xs8>
                <span>(0.04*0.1^2)/3! = 0.00006666666</span>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Теоретическая погрешность симметричной схемы f``</v-subheader>
            </v-flex>
            <v-flex xs8>
                <span>(0.03*0.1^2)/12 = 0.000025</span>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Расчёт второй производной симметричной схемы f``</v-subheader>
            </v-flex>
            <v-flex xs8>
                <span>(-0.95603975377111805 - 2*(-0.95892427466313845) +  (-0.96171290292679334))/(0.01^2) = 0.958926283655126</span>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>

    export default {
        name: "differenceGridForPoint",
        data() {
            return {
                headers: [
                    {
                        text: 'x',
                        align: 'left',
                        value: 'name'
                    },
                    {text: 'f(x)', value: 'f'},
                    {text: 'Точное f`(x)', value: 'trueDerivative1'},
                    {text: 'Точное f``(x)', value: 'trueDerivative2'},
                    {text: 'Левостороняя схема f`(x)', value: 'leftDerivative1'},
                    {text: 'Правостороня схема f`(x)', value: 'rightDerivative1'},
                    {text: 'Симметричная схема f`(x)', value: 'complexDerivative1'},
                    {text: 'Точность f`(x)', value: 'acurency'},
                    {text: 'Вторая производная f(x)', value: 'complexDerivative2'},
                    {text: 'Точность f``(x)', value: 'acurencyDerivative2'}
                ],

                grid: [
                    {
                        complexDerivative1: "",
                        f: -0.9617129029267933,
                        trueDerivative1: getFirst(4.99),
                        trueDerivative2: getTwo(4.99),
                        leftDerivative1: "",
                        rightDerivative1: 0.27886282636549503,
                        x: 4.99,
                        acurency: getFirst(4.99) - 0.27886282636549503,
                        complexDerivative2: '',
                        acurencyDerivative2: "",
                    },
                    {
                        complexDerivative1: 0.28365745778377077,
                        f: -0.9589242746631385,
                        trueDerivative1: getFirst(5),
                        trueDerivative2: getTwo(5),
                        leftDerivative1: 0.27886282636549503,
                        rightDerivative1: 0.2884520892020465,
                        x: 5,
                        acurency: getFirst(5) - 0.28365745778377077,
                        complexDerivative2: 0.958926283655126,
                        acurencyDerivative2: getTwo(5) - 0.958926283655126,
                    },
                    {
                        complexDerivative1: "",
                        f: -0.956039753771118,
                        trueDerivative1: getFirst(5.01),
                        trueDerivative2: getTwo(5.01),
                        leftDerivative1: 0.2884520892020465,
                        rightDerivative1: "",
                        x: 5.01,
                        acurency: getFirst(5.01) - 0.2884520892020465,
                        complexDerivative2: "",
                        acurencyDerivative2: "",
                    },]
            }
        },

    }

    function getFirst(x) {
        return (x ** 3) / 5 - 3 * (x ** 2) + 15 * x + Math.cos(x) - 25;
    }

    function getTwo(x) {
        return 3 * (x ** 2) / 5 - 6 * x - Math.sin(x) + 15;
    }

</script>

<style scoped>
    .main-container {
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
    }
</style>