<template>
    <v-container fluid class="main-container">
        <label>{{getDependency()}}</label>
        <line-chart decimal="." :data="resultsForGraph"></line-chart>

    </v-container>
</template>

<script>

    export default {
        name: "binomialTreeAmericanPut",
        data() {
            return {
                strikePrice: 136,
                spotPrice: 170,
                rate: 0.08,
                time: 0.2,
                sigma: 0.4,
                countStep: 10,
                resultsForGraph: []
            }
        },
        mounted() {
            this.resultsForGraph = this.getDependency();
        },
        methods: {
            getDependency() {
                let results = [
                    {
                        name: 'priceAmericanPut',
                        data: {}
                    },
                    {
                        name: 'priceEuropeCall',
                        data: {}
                    },
                    {
                        name: 'priceEuropePut',
                        data: {}
                    }];
                const paramsForTree = Object.assign({}, this.paramsForTree);
                for (let i = 20; i < 80; i++) {
                    paramsForTree.countStep = i;
                    let {
                        priceAmericanPut,
                        priceEuropeCall,
                        priceEuropePut
                    } = getResultModeling(this.spotPrice, paramsForTree);
                    results[0].data[i] = priceAmericanPut;
                    results[1].data[i] = priceEuropeCall;
                    results[2].data[i] = priceEuropePut;
                }
                console.log(results);
                return results;

                function getResultModeling(spotPrice, paramsForTree) {
                    //сделано именно так чтобы при каждой модуляции сбрасывались кеши
                    const {
                        priceAmericanPut,
                        priceEuropeCall,
                        priceEuropePut
                    } = Node(spotPrice, paramsForTree);
                    return {
                        countStep: paramsForTree.countStep,
                        priceAmericanPut,
                        priceEuropeCall,
                        priceEuropePut
                    };

                    function Node(spotPrice, startParams, currentLevel = 0) {
                        const cashesInstance = `${spotPrice}_${currentLevel}`;
                        if (Node[cashesInstance]) {
                            return Node[cashesInstance];
                        }
                        Node[cashesInstance] = createNewNode();
                        return Node[cashesInstance];

                        function createNewNode() {
                            if (!isLastLeaf(currentLevel)) {
                                return getNodeTree();
                            } else {
                                return getLastLeaf();
                            }

                            function isLastLeaf(currentLevel) {
                                return currentLevel === startParams.countStep;
                            }
                        }

                        function getNodeTree() {
                            const nextUp = Node(getNextPriceUp(spotPrice), startParams, currentLevel + 1);
                            const nextDown = Node(getNextPriceDown(spotPrice), startParams, currentLevel + 1);
                            const priceAmericanPut = getAmericanOptionPut(nextUp, nextDown, spotPrice);
                            const priceEuropeCall = getEuropeOptionCall(nextUp, nextDown);
                            const priceEuropePut = getEuropeOptionPut(nextUp, nextDown);

                            return {
                                spotPrice,
                                currentLevel,
                                nextUp,
                                nextDown,
                                priceAmericanPut,
                                priceEuropeCall,
                                priceEuropePut
                            };

                            function getNextPriceUp(spotPrice) {
                                return startParams.up * spotPrice;
                            }

                            function getNextPriceDown(spotPrice) {
                                return startParams.down * spotPrice;
                            }

                            function getAmericanOptionPut(upChildren, downChildren, spotPrice) {
                                const first = getOptionPutLast(spotPrice);
                                const twoPrice = getPriceInPreviousStep(upChildren.priceAmericanPut, downChildren.priceAmericanPut);
                                return Math.max(first, twoPrice);
                            }

                            function getPriceInPreviousStep(upPrice, downPrice) {
                                const {p, dF} = startParams;
                                const twoPart = dF * (p * upPrice + (1 - p) * downPrice);
                                return twoPart;
                            }

                            function getEuropeOptionCall(upChildren, downChildren) {
                                return getPriceInPreviousStep(upChildren.priceEuropeCall, downChildren.priceEuropeCall);
                            }

                            function getEuropeOptionPut(upChildren, downChildren) {
                                return getPriceInPreviousStep(upChildren.priceEuropePut, downChildren.priceEuropePut);
                            }
                        }

                        function getLastLeaf() {
                            const priceAmericanPut = getOptionPutLast(spotPrice);
                            const priceEuropeCall = getOptionCallLast(spotPrice);
                            const priceEuropePut = getOptionPutLast(spotPrice);
                            return {
                                spotPrice,
                                currentLevel,
                                priceAmericanPut,
                                priceEuropeCall,
                                priceEuropePut
                            };
                        }

                        function getOptionPutLast(strikePrice) {
                            return getPayoffPut(strikePrice, startParams.strikePrice);

                            function getPayoffPut(spotPrice, strikePrice) {
                                const profit = strikePrice - spotPrice;
                                return Math.max(profit, 0);
                            }
                        }

                        function getOptionCallLast(strikePrice) {
                            return getPayoffCall(strikePrice, startParams.strikePrice);

                            function getPayoffCall(spotPrice, strikePrice) {
                                const profit = spotPrice - strikePrice;
                                return Math.max(profit, 0);
                            }
                        }
                    }
                }
            }

        },
        computed: {
            paramsForTree() {
                const dT = this.time / this.countStep;
                const up = Math.exp(this.sigma * Math.sqrt(dT));
                const down = 1 / up;
                const p = (Math.exp(this.rate * dT) - down) / (up - down);
                const dF = Math.exp(-this.rate * dT);
                return {
                    up,
                    down,
                    p,
                    dT,
                    dF,
                    countStep: this.countStep,
                    strikePrice: this.strikePrice
                };
            },
            isUserParamsCorrect() {
                return this.countStep > 0
                    && this.countStep < 200
                    && this.time > 0
                    && this.sigma > 0
                    && this.rate > 0
                    && this.strikePrice > 0
                    && this.spotPrice > 0
            },
        }
    }
</script>

<style scoped>
    .main-container {
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
    }
</style>