<template>
    <div class="full-screen">
        <v-card>
            <v-card-title primary-title>
                <div>
                    <h3 class="headline mb-0">{{nameShort}}</h3>
                    <div><a :href="companyUrl">Сайт компании {{companyUrl}}</a></div>
                    <div><a :href="link">Подробнее о компании</a></div>
                    <div>{{companyDesc}}</div>
                    <div>EV/Ebitda на момент отчётности {{EV_EBITDA}}</div>
                    <div>EV/Ebitda на текущий момент {{EV_curent_EBITDA}}</div>
                    <div>Debt_EBITDA {{Debt_EBITDA}}</div>
                    <div>P/E момент отчётности {{P_E}}</div>
                    <div>P/E на текущий момент {{P_current_E}}</div>
                    <div>Крайняя отчётность {{fiscalQuarter}} квартал {{fiscalYear}} год</div>
                </div>
            </v-card-title>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: "InstrumentMultiplikators",
        props: {
            instrument: {
                type: Object,
                required: true
            }
        },
        computed: {
            nameShort() {
                return this.instrument.short_name;
            },
            link() {
                return this.instrument.link;
            },
            totalDebt() {
                return this.instrument.total_debt;
            },
            assets() {
                return this.instrument.assets;
            },
            capital() {
                return this.instrument.capital;
            },
            capitalization() {
                return this.instrument.capitalization;
            },
            companyDesc() {
                return this.instrument.company_desc;
            },
            ebitda() {
                return this.instrument.ebitda;
            },
            companyUrl() {
                return this.instrument.company_url;
            },
            currentCapitalisacion() {
                return this.instrument.current_capitalisacion;
            },
            earnings() {
                return this.instrument.earnings;
            },
            revenue() {
                return this.instrument.revenue;
            },
            sector_name() {
                return this.instrument.sector_name;
            },
            ticker() {
                return this.instrument.ticker;
            },
            total_cash() {
                return this.instrument.total_cash;
            },
            total_liabilities() {
                return this.instrument.total_liabilities;
            },
            Debt_EBITDA() {
                return this.instrument['Debt/EBITDA'];
            },
            EV_EBITDA() {
                return this.instrument['EV/EBITDA'];
            },
            EV_curent_EBITDA() {
                return this.instrument['EV_curent/EBITDA'];
            },
            E_P() {
                return this.instrument['E/P'];
            },
            L_A() {
                return this.instrument['L/A'];
            },
            P_B() {
                return this.instrument['P/B'];
            },
            P_current_E() {
                return this.instrument['P_current/E'];
            },
            P_E() {
                return this.instrument['P/E'];
            },
            P_S() {
                return this.instrument['P/S'];
            },
            fiscalYear() {
                return this.instrument['last_fiscal_year'];
            },
            fiscalQuarter() {
                return this.instrument['last_fiscal_quarter'];
            },
        },
        methods: {}
    }
</script>

<style scoped>
    .full-screen {
        width: 100%;
    }
</style>