<template>
    <div>
        <p>
            Введите количество дней для проверки Ml фильтра поиска негативных дней
        </p>
        <v-col cols="12" sm="6" md="3">
            <v-text-field
                    v-model.number="countLastDays"
                    type="number"
                    label="Количество дней"
            ></v-text-field>
        </v-col>
        <v-btn @click="update">Обновить</v-btn>
        <v-list-item-group color="primary">
            <v-list-item
                    v-for="(item, i) in tradingDays"
                    :key="i"
            >

                <v-list-item-content>
                    <v-list-item-title v-text="item"></v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list-item-group>
    </div>
</template>
<script>
    import AjaxHelper from "../classes/AjaxHelper";

    const axios = require("axios");
    export default {
        name: "InvestorRecomendationML",
        components: {},
        mounted() {
            this.update();
        },
        methods: {
            async update() {
                const url = AjaxHelper.getUrlMLFilterNegativeDaysLast(this.countLastDays);
                const response = await axios.get(url);
                this.answerMlServer = response.data;
            },
        },
        computed: {
            tradingDays() {
                return this.answerMlServer;
            },

        },
        data() {
            return {
                countLastDays: 15,
                answerMlServer: []
            }
        }
    }
</script>

<style scoped>

</style>