<template>
    <v-container fluid grid-list-md>
        <v-data-iterator
                :items="companyWithMultiplikators"
                :footer-props.items-per-page-options="pagination"
        >
            <template v-slot:item="props">

                <v-card class="margin">
                    <v-card-title><h4>{{ props.item.sectorName }}</h4></v-card-title>
                    <v-divider></v-divider>

                    <table-universal class="padding"
                                     :tableData="props.item.multiplicators">
                    </table-universal>
                </v-card>

            </template>
        </v-data-iterator>
    </v-container>
</template>

<script>
    import TableUniversal from "../components/TableUniversal";

    export default {
        name: 'InvestorSectorsTablesAll',
        components: {
            TableUniversal
        },
        props: {
            companyWithMultiplikators: {
                type: Array,
                required: true
            }
        },
        data: () => ({
            rowsPerPageItems: [4, 8, 12],
            pagination: {
                rowsPerPage: 8
            },
            items: [
                {
                    sectorName: 'CAD',
                    multiplicators: [{
                        "index": 8,
                        "link": "https:\/\/tezis.io\/company\/180",
                        "short_name": "iQIWI",
                        "ticker": "QIWI",
                        "EV\/EBITDA": 7.5146598782,
                        "EV_curent\/EBITDA": -6.7192341166,
                        "Debt\/EBITDA": 0.0,
                        "E\/P": 0.0419694733,
                        "P\/E": 23.8268417832,
                        "P_current\/E": 0.0,
                        "P\/B": 2.9522264703,
                        "P\/S": 3.0523972004,
                        "L\/A": 0.6152382275,
                        "capital": 27699000000,
                        "capitalization": 81773721000,
                        "earnings": 3432000000,
                        "ebitda": 5745000000,
                        "revenue": 26790000000,
                        "total_cash": 38602000000,
                        "total_debt": 0,
                        "total_liabilities": 44291000000,
                        "last_fiscal_year": 2019,
                        "last_fiscal_quarter": 2,
                        "sector_id": "1",
                        "sector_name": "Технологии",
                        "company_url": "www.qiwi.com",
                        "company_desc": "Международный платежный сервис. Лидер российского рынка моментальных платежей",
                        "assets": 71990000000,
                        "current_capitalisacion": 0.0
                    }],
                },
            ]
        })
    }
</script>
<style scoped>
    .margin {
        margin-bottom: 10px;
    }

    .padding {
        padding: 5px 5px 5px 5px;
    }
</style>