<template>
    <v-container>
        <v-layout>
            <v-btn icon @click="showDescription = !showDescription">
                Описание
                <v-icon>{{ showDescription ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
            </v-btn>
        </v-layout>
        <v-slide-y-transition>
            <div v-show="showDescription">
                let last = oldPrice[i - 1][nameCompany];
                let curr = oldPrice[i][nameCompany];
                copy[i][nameCompany] = Math.log(curr / last);
            </div>
        </v-slide-y-transition>
    </v-container>
</template>

<script>

    export default {
        name: 'ManipulationDescriptionPricePreprocessing',
        data: () => ({
            showDescription: false
        })
    }
</script>