<template>
    <v-container>
        <v-layout>
            <v-btn icon @click="showDescription = !showDescription">
                Описание
                <v-icon>{{ showDescription ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
            </v-btn>
        </v-layout>
        <transition-group v-if="showDescription">
            <div key="desc">Для расчёта корреляции Пирсона применялось</div>
            <ol key="listitems">
                <li key="listitem1">Удаление тренда</li>
                <li key="listitem2">Стандартизация</li>
            </ol>
        </transition-group>
    </v-container>
</template>

<script>

    export default {
        name: 'ManipulationDescriptionCorrelation',
        data: () => ({
            showDescription: false
        })
    }
</script>