<template>
    <v-container fluid grid-list-md>
<!--        :rows-per-page-items="rowsPerPageItems"-->
        <v-data-iterator
                :items="manipulationMethods"
                :footer-props.items-per-page-options="pagination"

                wrap
        >
            <template v-slot:item="props">
                <v-flex

                >
                    <v-card>
                        <v-card-title><h4>{{ props.item.name }}</h4></v-card-title>
                        <v-divider></v-divider>
                        <v-list v-if="props.item.anomalyTradeDate">
                            <v-list-item>
                                <v-list-item-content>Количество аномалий:</v-list-item-content>
                                <v-list-item-content class="align-end">{{ props.item.anomalyTradeDate.length }}
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item>
                                <v-list-item-content>Аномальные наблюдения:</v-list-item-content>
                                <v-list-item-content class="align-end">{{ props.item.anomalyTradeDate }}
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-card>
                </v-flex>
            </template>
        </v-data-iterator>
    </v-container>
</template>

<script>

    export default {
        name: 'ManipulationReportTables',
        props: {
            manipulationMethods: {
                type: Array,
                required: true
            }
            // const result = [{
            //     name:"",
            //     companyName: '',
            //     anomalyPricesNumbers: [],
            //     errors: [],
            //     predictPrice: [],
            //     expectPrice: []
            // }];
        },
        computed: {
            nameShort() {
                return this.instrument.short_name;
            },
        },
        data: () => ({
            rowsPerPageItems: [4, 8, 12],
            pagination: {
                rowsPerPage: 8
            },
            items: [
                {
                    name: 'CAD',
                    countManipulation: 159,
                    anomalyPoints: 6.0,
                    anomalyPricesNumbers: 24,
                    errors: 4.0,
                    predictPrice: 87,
                    expectPrice: '14%',
                    iron: '1%'
                },
                {
                    name: 'CAD abs',
                    countManipulation: 237,
                    anomalyPoints: 9.0,
                    anomalyPricesNumbers: 37,
                    errors: 4.3,
                    predictPrice: 129,
                    expectPrice: '8%',
                    iron: '1%'
                },
                {
                    name: 'Log(Price) CAD',
                    countManipulation: 262,
                    anomalyPoints: 16.0,
                    anomalyPricesNumbers: 23,
                    errors: 6.0,
                    predictPrice: 337,
                    expectPrice: '6%',
                    iron: '7%'
                },
                {
                    name: 'Log(Price) CAD abs',
                    countManipulation: 305,
                    anomalyPoints: 3.7,
                    anomalyPricesNumbers: 67,
                    errors: 4.3,
                    predictPrice: 413,
                    expectPrice: '3%',
                    iron: '8%'
                },
                {
                    name: 'Закон 118',
                    countManipulation: 356,
                    anomalyPoints: 16.0,
                    anomalyPricesNumbers: 49,
                    errors: 3.9,
                    predictPrice: 327,
                    expectPrice: '7%',
                    iron: '16%'
                },
            ]
        })
    }
</script>