<template>
    <v-container>
        <v-layout>
            <v-btn icon @click="showDescription = !showDescription">
                Описание
                <v-icon>{{ showDescription ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
            </v-btn>
        </v-layout>
        <v-slide-y-transition>
            <div v-show="showDescription">Для расчёта корреляции Пирсона применялось</div>
            <ol v-show="showDescription">
                <li>Удаление тренда</li>
                <li>Стандартизация</li>
            </ol>
        </v-slide-y-transition>
    </v-container>
</template>

<script>

    export default {
        name: 'ManipulationDescriptionCentroidMethods',
        data: () => ({
            showDescription: false
        })
    }
</script>