<template>
    <v-container>
        <v-layout>
            <v-btn icon @click="showDescription = !showDescription">
                Описание методики
                <v-icon>{{ showDescription ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
            </v-btn>
        </v-layout>
        <v-slide-y-transition>
            <v-img v-show="showDescription" src="/manipulation/fz.png">
            </v-img>
        </v-slide-y-transition>
    </v-container>
</template>

<script>

    export default {
        name: 'ManipulationDescriptionFZ',
        data: () => ({
            showDescription: false
        })
    }
</script>