<template>
    <v-layout>
        <v-data-table
                :items="transactions"
                :headers="headers"
                :footer-props.items-per-page-options="pagination"
                class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <td class="text-xs-right">{{ props.item["transactionDirection"] }}</td>
                <td class="text-xs-right">{{ props.item["transactionDateDone"].replace("T00:00:00.000Z", "") }}</td>
                <td class="text-xs-right">{{ props.item["transactionPrice"] }}</td>
                <td class="text-xs-right">{{ props.item["transactionVolume"] }}</td>
                <td class="text-xs-right">{{ props.item["transactionStockStatus"] }}</td>
                <td class="text-xs-right">{{ props.item["transactionMode"] }}</td>
                <td class="text-xs-right">{{ props.item["tradingAccount"] }}</td>
            </template>
        </v-data-table>
    </v-layout>
</template>

<script>
    export default {
        name: "StrategiesOrderBook",
        props: {
            transactions: {
                type: Array,
                required: true
            }
        },
        data() {

            return {
                pagination: {
                    rowsPerPage: 25 // -1 for All
                },
                headers: [
                    {
                        text: 'Направление',
                        align: 'left',
                        sortable: true,
                        value: 'transactionDirection'
                    },
                    {text: 'Дата исполнения', value: "transactionDateDone"},
                    {text: 'Цена', value: "transactionPrice"},
                    {text: 'Объем', value: "transactionVolume"},
                    {text: 'Статус', value: "transactionStockStatus"},
                    {text: 'Тип', value: "transactionMode"},
                    {text: 'Аккаунт', value: "tradingAccount"},
                ],
                columns: ["transactionStockStatus",
                    "transactionDateDone",
                    "transactionPrice",
                    "transactionVolume",
                    "transactionStockStatus",
                    "transactionMode"],
            }
        },
        mounted() {
            const example = {
                id: '1',
                direction: "buy",
                dateCreate: '08.01.2018',
                dateDone: "08.01.2018",
                timeDone: "12:15",
                price: 18000,
                volume: 1,
                securityId: 1,
                stockStatus: 'done',
                tradingAccount: 'ASD',
                comment: '',
                strategyId: 1,
                type: 'limit'
            };
        },
    }
</script>

<style scoped>

</style>