<template>
    <div class="full-screen-table">
        <v-layout>
            <v-data-table
                    :items="statistic"
                    :headers="headers"
                    :footer-props.items-per-page-options="pagination"
                    class="elevation-1 full-screen-table"
            >
                <template slot="items" slot-scope="props">
                    <td class="text-xs-right">{{ props.item["strategyName"] }}</td>
                    <td class="text-xs-right">{{ props.item["profitTotal"] }}</td>
                    <td class="text-xs-right">{{ props.item["profitCleanPosition"] }}</td>
                    <td class="text-xs-right">{{ props.item["profitCleanPositionCount"] }}</td>
                    <td class="text-xs-right">{{ props.item["recFactorSimple"] }}</td>
                    <td class="text-xs-right">{{ props.item["lossMax"] }}</td>
                    <td class="text-xs-right">{{ props.item["lossTotal"] }}</td>
                    <td class="text-xs-right">{{ props.item["oborot"] }}</td>
                    <td class="text-xs-right">{{ props.item["currentCleanPosition"] }}</td>
                </template>
            </v-data-table>
        </v-layout>
    </div>
</template>

<script>

    export default {
        name: "StrategiesStatistic",
        props: {
            statistic: {
                type: Array,
                required: true
            }
        },
        data() {

            return {
                pagination: {
                    rowsPerPage: 25 // -1 for All
                },
                headers: [
                    {
                        text: 'Cтратегия',
                        align: 'left',
                        sortable: true,
                        value: 'strategyName'
                    },
                    /*{
            "positionCountBuy": [1],
            "positionCountSell": [1, 1],
            "positionSumBuy": [21852],
            "positionSumCleanBuy": [21852],
            "positionSumCleanSell": [21926],
            "positionSumSell": [21926, 21926],
            "profitCleanPosition": 74,
            "profitCleanPositionCount": 1,
            "profitTotal": -22000,
        }*/
                    {text: 'Профит общий', value: "profitTotal"},
                    {text: 'Профит по закрытым позициям', value: "profitCleanPosition"},
                    {text: 'Колличество сделок', value: "profitCleanPositionCount"},
                    {text: 'Фактор востановления', value: "recFactor"},
                    {text: 'Фактор востановления простой', value: "recFactorSimple"},
                    {text: 'Максимальная просадка', value: "lossMax"},
                    {text: 'Общая просадка', value: "lossTotal"},
                    {text: 'Оборот', value: "oborot"},
                    {text: 'Текущая чистая позиция', value: "currentCleanPosition"},
                ],
                columns: ["strategyName",
                    "profitTotal",
                    "profitCleanPosition",
                    "profitCleanPositionCount",
                    "recFactor",
                    "recFactorSimple",
                    "lossMax",
                    "lossTotal",
                    "oborot",
                    "currentCleanPosition"
                ],
            }
        },
    }
</script>

<style scoped>
    .full-screen-table {
        width: 100%;
    }

</style>