<template>
    <div class='full-screen-table'>
        <v-layout>
            <v-card-title>
                <v-text-field
                    v-model='search'
                    append-icon='search'
                    label='Search'
                    single-line
                    hide-details
                ></v-text-field>
            </v-card-title>
        </v-layout>
        <v-layout>
            <!--                    :footer-props.items-per-page-options="pagination"-->
            <v-data-table
                :headers='getHeaders(tableData)'
                :items='tableData'
                :search='search'
                class='elevation-1 full-screen-table'
            >
                <template v-slot:item='props'>
                    <tr>
                        <td v-for='col of props.item' class='text-xs-right'>
                            <a v-if='isLink(col)' :href='getLink(col)'> {{ getCompanyName(col) }}</a>
                            <span v-else>{{ getFixed(col) }}</span>
                        </td>
                    </tr>
                </template>
                <!--                <template slot="items" slot-scope="props">-->
                <!--                    <td v-for="col in props.item" class="text-xs-right">-->
                <!--                        <a v-if="isLink(col)" :href="col"> {{col}}</a>-->
                <!--                        <span v-else>{{getFixed(col)}}</span>-->
                <!--                    </td>-->
                <!--                </template>-->
                <v-alert v-slot:no-results :value='true' color='error' icon='warning'>
                    Your search for "{{ search }}" found no results.
                </v-alert>
            </v-data-table>
        </v-layout>
    </div>
</template>

<script>
export default {
    name: 'TableUniversal',
    props: {
        tableData: {
            type: Array,
            required: true,
        },
    },
    computed: {},
    methods: {
        getHeaders(tableData) {
            const first = tableData[0];
            let header = [];
            for (const properties in first) {
                if (first.hasOwnProperty(properties)) {
                    header.push(
                        {
                            text: properties,
                            sortable: true,
                            value: properties,
                        },
                    );
                }
            }
            return header;
        },
        isLink(col) {
            if (typeof col === 'string') {
                const ru = col.includes('.ru');
                const com = col.includes('.com');
                return com || ru;
            }
            return false;
        },
        getLink(col) {
            const filter = col.replace(`'`, `"`);
            const subCols = filter.split(`"`);
            for (const a of subCols) {
                const ru = a.includes('.ru');
                const com = a.includes('.com');
                if (com || ru) {
                    return a;
                }
            }
            return col;
        },
        getCompanyName(col) {
            const filter = col.replace(`'`, `"`);
            const subCols = filter.split(`"`);
            let index = 0;
            for (const a of subCols) {
                index++;
                const isTitle = a.includes('title=');
                if (isTitle) {
                    return subCols[index];
                }
            }
            return col;
        },
        getFixed(cell) {
            if (isNumeric(cell)) {
                const nan = +cell;
                if (isFloat(nan)) {
                    const r = nan.toFixed(4);
                    return +r;
                }
            }
            return cell;

            function isNumeric(num) {
                return !isNaN(num);
            }

            function isFloat(n) {
                return Number(n) === n && n % 1 !== 0;
            }
        },
    },
    data() {
        return {
            pagination: {
                rowsPerPage: 10, // -1 for All
            },
            search: '',
        };
    },
};
</script>

<style scoped>
.full-screen-table {
    width: 100%;
}

</style>