<template>
    <div v-bind:style="globalStyle">
        <v-flex xs12 sm6 md3>
            <v-text-field
                    v-model="fontSizePX"
                    label="Размер шрифта"
                    placeholder="15"
                    type="number"
            ></v-text-field>
        </v-flex>
        <p>
            <a href="https://docs.google.com/presentation/d/1dZybCpR8Hx3fQ11W3h0PdcOCRVWcCEZmmP9IJRyeN8I/edit#slide=id.p3">
                Слайды презентации
            </a>
        </p>
        <p>Источник данных для разбивки по секторам
            <a href="https://tezis.io">
                Агригатор tezis
            </a>
        </p>
        <p>Источник данных для по рыночным котировкам -
            <a href="https://iss.moex.com">
                API Московской Биржи
            </a>
        </p>
        <p>
            <a href="http://itmo.burdinsky.ru/manipulations/tezis_crauler_corr_analiz.html">
                Полное иследование корреляции между финансовыми инструментами в рамках сектора
            </a>
        </p>
        <p>
            <a href="https://www.cbr.ru/finmarket/inside/inside_legals/">
                Законы, нормативные акты и иные документы по вопросам противодействия неправомерному использованию
                инсайдерской информации и манипулированию рынком
            </a>
        </p>
        <v-card-text>
            <v-autocomplete
                    v-model="currentTicker"
                    :items="allMoexInstrument"
                    :label="`Выберите иснтрумент`"
                    item-text="short_name"
                    item-value="ticker"
                    prepend-icon="mdi-city"
            >
                <template v-slot:selection="data">
                    <v-chip
                            :input-value="data.selected"
                    >
                        {{ data.item.short_name }}
                    </v-chip>
                </template>

                <template v-slot:item="data">
                    <template v-if="typeof data.item !== 'object'">
                        <v-list-item-content v-text="data.item"></v-list-item-content>
                    </template>
                    <template v-else>
                        <v-list-item-content>
                            <v-list-item-title v-html="data.item.short_name"></v-list-item-title>
                            <v-list-item-subtitle v-html="data.item.company_desc"></v-list-item-subtitle>
                        </v-list-item-content>
                    </template>
                </template>

            </v-autocomplete>
            <v-btn color="success" v-on:click="inspect">Вывести информацию по выбранной организации</v-btn>

        </v-card-text>

        <instrument-multiplikators :instrument="aboutInstrument"></instrument-multiplikators>

        <h2>График изменения цены</h2>


        <v-layout>
            <line-chart
                    :data="pricesInstrumentForGraph"
                    height="300px"
                    xtitle="Дата" ytitle="Цена инструмента"
                    decimal=".">
            </line-chart>
        </v-layout>


        <v-list subheader
                two-line>

            <v-subheader>Выберите какие коррелированые из отрасли инструменты учитывать при поиске манипуляций:
            </v-subheader>

            <template v-for="company of instrumentsForIncludeInCentroid">
                <v-list-item>
                    <v-list-item-action>
                        <v-checkbox v-model="securityByCentroid"
                                    :value="company.ticker"></v-checkbox>
                    </v-list-item-action>

                    <v-list-item-content>
                        <v-list-item-title>{{company.short_name}} {{company.company_desc}}</v-list-item-title>
                        <v-list-item-subtitle>Корреляция : {{company.correlations}}
                        </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </template>

        </v-list>

        <h3>Корреляция инструментов в рамках сектора</h3>

        <manipulation-description-correlation>
        </manipulation-description-correlation>

        <v-layout>
            <table-universal
                    :tableData="correlationsBySectorsShortName">
            </table-universal>
        </v-layout>


        <h3>Все организации в отрасли с расчитанными мультипликаторами, опубликовавшию отчётную иформацию за 2018-2019
            года</h3>


        <v-layout>
            <table-universal
                    :tableData="multiplikatorsBySectors">
            </table-universal>
        </v-layout>

        <h3>Обнаруженные существенные отклонения цен финансовых иснструментов по методическим рекомендация центрального
            банка россии, для ликвидных финансовых иснтрмументов</h3>
        <manipulation-description-f-z>
        </manipulation-description-f-z>

        <v-layout>
            <table-universal
                    :tableData="manipulationFZ">
            </table-universal>
        </v-layout>


        <h3>Котировки организаций в отрасле за крайние 128 календарных дней</h3>
        <v-layout>
            <table-universal
                    :tableData="pricesBySector">
            </table-universal>
        </v-layout>


        <h3>Предобработаные данные - переход от цен, к изменениям цен</h3>

        <manipulation-description-price-preprocessing>
        </manipulation-description-price-preprocessing>


        <v-layout>
            <table-universal
                    :tableData="recomputeCompanyPrice">
            </table-universal>
        </v-layout>


        <h2>Проценты изменения цен на графике с центроидом</h2>


        <v-list subheader
                two-line>

            <v-subheader>Выберите какие огранизации отображать на графике:
            </v-subheader>

            <template v-for="company of companysPotentialForGraph">
                <v-list-item>
                    <v-list-item-action>
                        <v-checkbox v-model="securityByGraph" :value="company.ticker"></v-checkbox>
                        <!--                        :id="companyIndex"-->
                    </v-list-item-action>

                    <v-list-item-content>
                        <v-list-item-title>{{company.short_name}} {{company.company_desc}}</v-list-item-title>
                        <v-list-item-subtitle>Корреляция : {{company.correlations}}
                        </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </template>

        </v-list>
        <v-layout>
            <div> Значение стандартного отклонения центройда {{centroidStd}} </div>
            <div> Значение 1,5 стандартного отклонения центройда {{1.5*centroidStd}} </div>
        </v-layout>
        <v-layout row>
            <v-flex xs4>
                <v-subheader>Значение границы отклонения от центроида</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Значение нижней границы отклонения"
                        v-model.number="centroidMinBorder"
                        type="number"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>


        <h2>График изменения цен - процент изменения цены</h2>


        <v-layout>
            <line-chart
                    :min="-0.06" :max="0.06"
                    height="800px"
                    xtitle="Дата" ytitle="Процент изменения цены"
                    decimal="."
                    :dataset="{borderWidth: 2}"
                    :data="resultsForGraph">
            </line-chart>
        </v-layout>
        <h2>График изменения цен - логарифмический процент изменения цены</h2>
        <v-layout>
            <line-chart
                    :min="-0.06" :max="0.06"
                    height="800px"
                    xtitle="Дата" ytitle="Логарифмический процент изменения цены"
                    decimal="."
                    :dataset="{borderWidth: 2}"
                    :data="resultsForGraphLogarifm">
            </line-chart>
        </v-layout>

        <h2>Обнаруженные аномалии </h2>

        <manipulation-description-c-a-d>
        </manipulation-description-c-a-d>

        <div>
            CAD - предсказание Xi на основе corr(Xi-1, C)
        </div>
        <div>
            Отклонение от центройда - выход евклидова расстояния (Xi, C) за допустимые границы.
        </div>

        <div v-for="company in predictAnomaly">
            <h3>
                Бумага {{company.companyName}}
            </h3>
            <div>
                Количество аномалий CAD: {{company.anomalyPricesNumbers.length}}
            </div>
            <template v-for="companyByCADModification in predictAnomalyModification">
                <div v-if="company.companyName === companyByCADModification.companyName">
                    Количество аномалий CAD (с использованием модулей чисел):
                    {{companyByCADModification.anomalyPricesNumbers.length}}
                </div>
            </template>
            <template v-for="companyByCentroid in predictAnomalyDifferenceByCentroid">
                <div v-if="company.companyName === companyByCentroid.companyName">
                    Количество аномалий отклонение от центройда: {{companyByCentroid.anomalyPricesNumbers.length}}
                </div>
            </template>
        </div>

        <h2>Обнаруженные аномалии CAD</h2>
        <anomaly-view :predict-anomaly="predictAnomaly"></anomaly-view>

        <h2>Обнаруженные аномалии CAD (с использованием модулей чисел)</h2>
        <anomaly-view :predict-anomaly="predictAnomalyModification"></anomaly-view>

        <h2>Обнаруженные аномалии отклонение от центройда</h2>
        <anomaly-view :predict-anomaly="predictAnomalyDifferenceByCentroid"></anomaly-view>

        <h2>Найденые анамалии по лагарифмированным изменениям цен</h2>


        <div v-for="company in predictAnomalyLogarifmPrice">
            <h3>
                Бумага {{company.companyName}}
            </h3>
            <div>
                Количество аномалий CAD: {{company.anomalyPricesNumbers.length}}
            </div>
            <template v-for="companyByCADModification in predictAnomalyModificationLogarifmPrice">
                <div v-if="company.companyName === companyByCADModification.companyName">
                    Количество аномалий CAD (с использованием модулей чисел):
                    {{companyByCADModification.anomalyPricesNumbers.length}}
                </div>
            </template>
            <template v-for="companyByCentroid in predictAnomalyDifferenceByCentroidLogarifmPrice">
                <div v-if="company.companyName === companyByCentroid.companyName">
                    Количество аномалий отклонение от центройда: {{companyByCentroid.anomalyPricesNumbers.length}}
                </div>
            </template>
        </div>

        <h2>Обнаруженные аномалии CAD</h2>
        <anomaly-view :predict-anomaly="predictAnomalyLogarifmPrice"></anomaly-view>


        <h2>Обнаруженные аномалии CAD (с использованием модулей чисел)</h2>
        <anomaly-view :predict-anomaly="predictAnomalyModificationLogarifmPrice"></anomaly-view>


        <h2>Обнаруженные аномалии отклонение от центройда</h2>
        <anomaly-view :predict-anomaly="predictAnomalyDifferenceByCentroidLogarifmPrice"></anomaly-view>

        <h3>Найденные аномальные отклонения цен финансового инструмента, различными методами</h3>
        <manipulation-report-tables :manipulationMethods="statisticManipulationFind">

        </manipulation-report-tables>
    </div>
</template>

<script>
    import ManipulationReportTables from "./../../components/ManipulationReportTables";
    import TableUniversal from "../../components/TableUniversal";
    import AnomalyView from "../../components/AnomalyView";
    import InstrumentMultiplikators from "../../components/InstrumentMultiplikators";
    import ManipulationDescriptionFZ from "../../components/ManipulationDescriptionFZ";
    import ManipulationDescriptionCorrelation from "../../components/ManipulationDescriptionCorrelation";
    import ManipulationDescriptionPricePreprocessing from "../../components/ManipulationDescriptionPricePreprocessing";
    import ManipulationDescriptionCAD from "../../components/ManipulationDescriptionCAD";

    import AjaxHelper from "../../classes/AjaxHelper.js";
    import InstrumentMoexAll from "../../classes/InstrumentMoexAll";

    const iqr = require('compute-iqr');
    const math = require('mathjs');
    const axios = require("axios");

    export default {
        name: "insiderDealing",
        components: {
            ManipulationReportTables,
            TableUniversal,
            InstrumentMultiplikators,
            AnomalyView,
            ManipulationDescriptionPricePreprocessing,
            ManipulationDescriptionCorrelation,
            ManipulationDescriptionFZ,
            ManipulationDescriptionCAD
        },
        data() {
            return {
                // columns: getColumn(),
                fontSizePX: 24,
                dataTable: [],
                currentTicker: "",
                pricesBySector: [],
                multiplikatorsBySectors: [],
                manipulationFZ: [],
                correlationsBySectors: [],
                correlationsBySectorsShortName: [],
                options: {
                    headings: {
                        name: 'Country Name',
                        code: 'Country Code',
                        uri: 'View Record'
                    },
                    sortable: ['name', 'code'],
                    filterable: ['name', 'code']
                },
                isEditing: false,
                model: null,
                allMoexInstrument: InstrumentMoexAll.getAll(),

                securityByCentroid: [],
                securityByGraph: [],
                centroid: [],
                centroidMinBorder: 0.018,
            }
        },
        computed: {
            instrumentsForIncludeInCentroid() {
                this.securityByCentroid = [];
                this.securityByGraph = [];//иначе возникает побочный эффект, после отрисовки dom там уже могут быть отмечены элементы
                const companysWithCorrelations = this.multiplikatorsBySectors.map(company => {
                    company.correlations = this.getCorrelationBySelectInstrument(company.ticker);
                    return company;
                });
                const result = companysWithCorrelations.sort(function (a, b) {
                    return b.correlations - a.correlations;
                });
                const dropDulicates = result.filter((company, index, self) =>
                    index === self.findIndex((t) => (
                        t.ticker === company.ticker
                    ))
                );
                return dropDulicates;
            },
            aboutInstrument() {
                for (const company of this.multiplikatorsBySectors) {
                    if (company.ticker === this.currentTicker) {
                        return company;
                    }
                }
                return {};
            },
            globalStyle() {
                return {
                    fontSize: `${this.fontSizePX}px`
                }
            },
            companysPotentialForGraph() {
                let result = [];
                for (const company of this.instrumentsForIncludeInCentroid) {
                    if (this.securityByCentroid.includes(company.ticker)) {
                        result.push(company);
                    }
                }
                return result;
            },
            pricesInstrumentForGraph() {
                let result = {};
                for (const a of this.pricesBySector) {
                    result[a['TRADEDATE']] = a[this.currentTicker];
                }
                return result;
            },
            centroidStd() {
                if (this.securityByCentroid.length) {
                    const centroid = getCentroidData(this.securityByCentroid, this.recomputeCompanyPrice);
                    return math.std(centroid);
                }
            },
            recomputeCompanyPrice() {
                const oldPrice = this.pricesBySector;
                let copy = JSON.parse(JSON.stringify(oldPrice));
                for (let i = 1; i < oldPrice.length; i++) {
                    for (const nameCompany in oldPrice[i]) {
                        if (nameCompany !== "index" && nameCompany !== "TRADEDATE") {
                            copy[i][nameCompany] = (oldPrice[i][nameCompany] - oldPrice[i - 1][nameCompany]) / oldPrice[i - 1][nameCompany];
                        }
                    }
                }
                return copy;
            },
            recomputeCompanyPriceLogarifm() {
                const oldPrice = this.pricesBySector;
                let copy = JSON.parse(JSON.stringify(oldPrice));
                for (let i = 1; i < oldPrice.length; i++) {
                    for (const nameCompany in oldPrice[i]) {
                        if (nameCompany !== "index" && nameCompany !== "TRADEDATE") {
                            let last = oldPrice[i - 1][nameCompany];
                            let curr = oldPrice[i][nameCompany];
                            copy[i][nameCompany] = Math.log(curr / last);//тут баг смотри внимательно
                        }
                    }
                }
                return copy;
            },
            canFindManipulation() {
                const recomputeCompanyPrice = this.recomputeCompanyPrice;
                const isExistPrices = recomputeCompanyPrice.length > 1;
                const isExistInstrument = this.securityByCentroid.length > 1;
                //const isExistInstrumentForGrach = this.securityByGraph.length >= 1;
                return isExistPrices && isExistInstrument && this.securityByGraph.length;
            },
            resultsForGraph() {
                const result = [];
                const recomputeCompanyPrice = this.recomputeCompanyPrice;
                if (!this.canFindManipulation) {
                    return [];
                }
                for (const includeCompany of this.securityByGraph) {
                    result.push({
                        name: includeCompany,
                        data: getForGrachByCompany(includeCompany, recomputeCompanyPrice)
                    })
                }
                const centroid = {
                    name: "Центроид",
                    data: getCentroidForGrapch(this.securityByCentroid, recomputeCompanyPrice)
                };
                const minBorder = {
                    name: "Нижняя допустимая граница",
                    data: getCentroidMinBorderForGrapch(this.securityByCentroid, recomputeCompanyPrice, this.centroidMinBorder)
                };
                const maxBorder = {
                    name: "Верхняя допустимая граница",
                    data: getCentroidMaxBorderForGrapch(this.securityByCentroid, recomputeCompanyPrice, this.centroidMinBorder)
                };
                result.push(centroid);
                result.push(minBorder);
                result.push(maxBorder);
                return result;
            },
            resultsForGraphLogarifm() {
                const result = [];
                const recomputeCompanyPriceLogarifm = this.recomputeCompanyPriceLogarifm;
                if (!this.canFindManipulation) {
                    return [];
                }
                for (const includeCompany of this.securityByGraph) {
                    result.push({
                        name: includeCompany,
                        data: getForGrachByCompany(includeCompany, recomputeCompanyPriceLogarifm)
                    })
                }
                const centroid = {
                    name: "Центроид",
                    data: getCentroidForGrapch(this.securityByCentroid, recomputeCompanyPriceLogarifm)
                };
                const minBorder = {
                    name: "Нижняя допустимая граница",
                    data: getCentroidMinBorderForGrapch(this.securityByCentroid, recomputeCompanyPriceLogarifm, this.centroidMinBorder)
                };
                const maxBorder = {
                    name: "Верхняя допустимая граница",
                    data: getCentroidMaxBorderForGrapch(this.securityByCentroid, recomputeCompanyPriceLogarifm, this.centroidMinBorder)
                };
                result.push(centroid);
                result.push(minBorder);
                result.push(maxBorder);
                return result;
            },
            predictAnomaly() {
                if (!this.canFindManipulation) {
                    return [];
                }
                return this.getPredictAnomaly(this.recomputeCompanyPrice);
            },
            predictAnomalyModification() {
                if (!this.canFindManipulation) {
                    return [];
                }
                return this.getPredictAnomalyModification(this.recomputeCompanyPrice);
            },
            predictAnomalyLogarifmPrice() {
                if (!this.canFindManipulation) {
                    return [];
                }
                return this.getPredictAnomaly(this.recomputeCompanyPriceLogarifm);
            },
            predictAnomalyDifferenceByCentroid() {
                if (!this.canFindManipulation) {
                    return [];
                }
                return this.getPredictDifferenceByCentroid(this.recomputeCompanyPrice);
            },
            predictAnomalyModificationLogarifmPrice() {
                if (!this.canFindManipulation) {
                    return [];
                }
                return this.getPredictAnomalyModification(this.recomputeCompanyPriceLogarifm);
            },
            predictAnomalyDifferenceByCentroidLogarifmPrice() {
                if (!this.canFindManipulation) {
                    return [];
                }
                return this.getPredictDifferenceByCentroid(this.recomputeCompanyPriceLogarifm);
            },
            statisticManipulationFind() {
                if (!this.canFindManipulation) {
                    return [];
                }
                if (this.predictAnomaly.length > 0 && this.manipulationFZ.length > 0) {
                    let cad = this.predictAnomaly[0];
                    cad.name = "CAD";
                    let cadABS = this.predictAnomalyModification[0];
                    cadABS.name = "CAD abs";
                    let cadLogPrice = this.predictAnomalyLogarifmPrice[0];
                    cadLogPrice.name = "Log(Price) CAD";
                    let cadModLogPrice = this.predictAnomalyModificationLogarifmPrice[0];
                    cadModLogPrice.name = "Log(Price) CAD abs";
                    let centroidA = this.predictAnomalyDifferenceByCentroid[0];
                    centroidA.name = "Центроид";
                    let centroidLog = this.predictAnomalyDifferenceByCentroidLogarifmPrice[0];
                    centroidLog.name = "Log(Price) Центроид";

                    const fz = {
                        name: "Закон 15.3 плюс",
                        companyName: this.currentTicker,
                        anomalyPricesNumbers: getAnomalyTradeDates(this.manipulationFZ),
                        anomalyTradeDate: getAnomalyTradeDates(this.manipulationFZ),
                        errors: [],
                        predictPrice: [],
                        expectPrice: []
                    };

                    const result = [cad, cadABS, cadLogPrice, cadModLogPrice, centroidA, centroidLog, fz];
                    return result;
                }

                function getAnomalyTradeDates(fz) {
                    let result = [];
                    for (const {TRADEDATE} of fz) {
                        result.push(TRADEDATE);
                    }
                    return result;
                }

                return [];
            },
            correlationByCentroid() {
                const prices = this.recomputeCompanyPrice;
                const allCompanyForPrediction = getConvertedCompanys(this.securityByGraph, prices);
                const centroid = getCentroidData(this.securityByCentroid, prices);

                const allCompanyForPredictionLogarifm = getConvertedCompanys(this.securityByGraph, this.recomputeCompanyPriceLogarifm);
                const centroidLogarifm = getCentroidData(this.securityByCentroid, this.recomputeCompanyPriceLogarifm);

                const result = [];
                for (let i = 0; i < allCompanyForPrediction.length; i++) {
                    let company = allCompanyForPrediction[i];
                    let companyLogarifm = allCompanyForPredictionLogarifm[i];
                    result.push(
                        {
                            companyName: company.name,
                            correlationByCentroid: getCorrelationByCentroid(company, centroid),
                            correlationByCentroidLogarifm: getCorrelationByCentroid(companyLogarifm, centroidLogarifm),
                        })
                }
                return result;


                function getCorrelationByCentroid({prices}, centroid) {
                    const forCorrelation = prices.slice(1, prices.length);
                    const correlation = getPearsonCorrelation(forCorrelation, centroid);
                    return correlation;
                }
            }
        },
        created() {
        },
        methods: {
            empty() {
                this.securityByCentroid = [];
                this.securityByGraph = [];
                this.centroid = [];
                this.centroidMinBorder = 0.015;
                this.pricesBySector = [];
                this.multiplikatorsBySectors = [];
                this.manipulationFZ = [];
            },
            inspect() {
                this.empty();
                const tiker = this.currentTicker;
                const tikerToLoverCase = tiker.toLocaleUpperCase();
                this.updateAll(tikerToLoverCase);
            },
            updateAll(tiker) {
                this.updatePricesInstrumentsInSector(tiker);
                this.updateMultiplikatorsBySectors(tiker);
                this.updateManipulationFZ(tiker);
                this.updateCorrelationsBySector(tiker);
                this.updateCorrelationsBySectorShortName(tiker);
            },
            async updatePricesInstrumentsInSector(tiker) {
                const a = AjaxHelper.getUrlPricesBySectors(tiker);
                const response = await axios.get(a);
                this.pricesBySector = response.data.data;
                console.log(a);
                console.log(response);
            },
            async updateMultiplikatorsBySectors(tiker) {
                const a = AjaxHelper.getUrlMultiplikatorsBySectors(tiker);
                const response = await axios.get(a);
                this.multiplikatorsBySectors = response.data.data;
                console.log(a);
                console.log(response);
            },
            async updateManipulationFZ(tiker) {
                const a = AjaxHelper.getUrlManipulationFZ(tiker);
                const response = await axios.get(a);
                this.manipulationFZ = response.data.data;
                console.log(a);
                console.log(response);
            },
            async updateCorrelationsBySector(tiker) {
                const a = AjaxHelper.getUrlCorrelationsBySectorsTicker(tiker);
                const response = await axios.get(a);
                this.correlationsBySectors = response.data.data;
                console.log(a);
                console.log(response);
            },
            async updateCorrelationsBySectorShortName(tiker) {
                const a = AjaxHelper.getUrlCorrelationsBySectorsShortName(tiker);
                const response = await axios.get(a);
                this.correlationsBySectorsShortName = response.data.data;
                console.log(a);
                console.log(response);
            },
            getPredictAnomaly(prices) {
                if (this.securityByGraph && this.securityByCentroid) {
                    const allCompanyForPrediction = getConvertedCompanys(this.securityByGraph, prices);
                    const centroid = getCentroidData(this.securityByCentroid, prices);
                    const anomaly = Anomaly.predictAnomaly(allCompanyForPrediction, centroid);
                    return anomaly;

                }
                return [];
            },
            getPredictAnomalyModification(prices) {
                if (this.securityByGraph && this.securityByCentroid) {
                    const allCompanyForPrediction = getConvertedCompanys(this.securityByGraph, prices);
                    const centroid = getCentroidData(this.securityByCentroid, prices);
                    const anomaly = Anomaly.predictAnomalyModification(allCompanyForPrediction, centroid);
                    return anomaly;

                }
                return [];
            },
            getPredictDifferenceByCentroid(prices) {
                if (this.securityByGraph && this.securityByCentroid) {
                    const allCompanyForPrediction = getConvertedCompanys(this.securityByGraph, prices);
                    const centroid = getCentroidData(this.securityByCentroid, prices);
                    const anomaly = Anomaly.predictAnomalyDifferenceCentroid(allCompanyForPrediction, centroid, this.centroidMinBorder);
                    return anomaly;
                }
                return [];
            },
            getCorrelationBySelectInstrument(ticker) {
                for (const company of this.correlationsBySectors) {
                    if (company.index === this.currentTicker) {
                        return company[ticker];
                    }
                }
                return ''
            }
        }
    }

    class Anomaly {
        static getBaseResult() {
            return {
                companyName: '',
                anomalyPricesNumbers: [],
                anomalyTradeDate: [],
                errors: [],
                predictPrice: [],
                expectPrice: []
            };
        }

        static predictAnomalyDifferenceCentroid(companys, centroid, errorBorder = math.std(centroid)) {
            let result = [];
            for (const company of companys) {
                result.push(getAnomalyCompany(company, centroid));
            }
            return result;

            function getAnomalyCompany(company) {
                let anomalyCompany = Anomaly.getBaseResult();
                anomalyCompany.companyName = company.name;
                let {prices} = company;
                for (let i = 1; i < prices.length; i++) {
                    let error = Math.sqrt((prices[i] - centroid[i - 1]) ** 2);
                    if (error > errorBorder) {
                        anomalyCompany.anomalyPricesNumbers.push(i);
                        anomalyCompany.anomalyTradeDate.push(company.timeserials[i]);
                        anomalyCompany.errors.push(error);
                        anomalyCompany.predictPrice.push(centroid[i - 1]);
                        anomalyCompany.expectPrice.push(prices[i]);
                    }
                }
                return anomalyCompany;
            }

            /*
            * устанавливаем границы
            * считаем центроид
            *
            *   проходимся по каждой компании
            *       считаем корреляцию между центройдом и временным рядом помпании
            *
            *       проходимся по временному ряду
            *           предсказываем значение
            *           считаем ошибку между фактическим значением и предсказанным
            *           если ошибка превышает определённый порог то это анамалия
            *           запоминаем её
            *
            * */
        }

        static predictAnomaly(companys, centroid,) {
            let result = [];
            for (const company of companys) {
                result.push(getAnomalyCompany(company));
            }
            return result;

            function getAnomalyCompany(company) {
                let anomalyCompany = Anomaly.getBaseResult();
                anomalyCompany.companyName = company.name;
                let {prices} = company;
                prices[0] = prices[1];
                const forCorrelation = prices.slice(1, prices.length);
                const correlation = getPearsonCorrelation(forCorrelation, centroid);
                const stdev = 1.5 * math.std(prices);
                for (let i = 1; i < prices.length; i++) {
                    let predict = prices[i - 1] * correlation;
                    let expect = prices[i];
                    let error = Math.sqrt((predict - expect) ** 2);
                    if (error > stdev) {
                        anomalyCompany.anomalyPricesNumbers.push(i);
                        anomalyCompany.anomalyTradeDate.push(company.timeserials[i]);
                        anomalyCompany.errors.push(error);
                        anomalyCompany.predictPrice.push(predict);
                        anomalyCompany.expectPrice.push(expect);
                    }
                }
                return anomalyCompany;
            }
        }

        static predictAnomalyModification(companys, centroid,) {
            let result = [];
            for (const company of companys) {
                result.push(getAnomalyCompany(company));
            }
            return result;

            function getAnomalyCompany(company) {
                let anomalyCompany = Anomaly.getBaseResult();
                anomalyCompany.companyName = company.name;
                let {prices} = company;
                prices[0] = prices[1];
                const forCorrelation = prices.slice(1, prices.length);
                const correlation = getPearsonCorrelation(forCorrelation, centroid);
                const stdev = 1.5 * math.std(prices);
                for (let i = 1; i < prices.length; i++) {
                    let predict = Math.abs(prices[i - 1] * correlation);
                    let expect = Math.abs(prices[i]);
                    let error = Math.sqrt((predict - expect) ** 2);
                    if (error > stdev) {
                        anomalyCompany.anomalyPricesNumbers.push(i);
                        anomalyCompany.anomalyTradeDate.push(company.timeserials[i]);
                        anomalyCompany.errors.push(error);
                        anomalyCompany.predictPrice.push(predict);
                        anomalyCompany.expectPrice.push(expect);
                    }
                }
                return anomalyCompany;
            }
        }

        static getMaxBorderAnomaly(centroid, maxBorderError) {
            let result = {};
            for (let i = 0; i < centroid.length; i++) {
                result[i + 1] = centroid[i] + maxBorderError;
            }
            return result;
        }

        static getMinBorderAnomaly(centroid, maxBorderError) {
            let result = {};
            for (let i = 0; i < centroid.length; i++) {
                result[i + 1] = centroid[i] - maxBorderError;
            }
            return result;
        }
    }

    function getConvertedCompanys(companyNames, dataSet) {
        let result = [];
        for (const companyName of companyNames) {
            let company = {
                name: companyName,
                prices: [],
                timeserials: [],
            };
            for (const set of dataSet) {
                company.prices.push(set[companyName]);
            }
            for (const set of dataSet) {
                company.timeserials.push(set['TRADEDATE']);
            }
            result.push(company);
        }
        return result;
    }

    /**
     * calculates pearson correlation
     * @param {number[]} d1
     * @param {number[]} d2
     */
    function getPearsonCorrelation(d1, d2) {
        let {min, pow, sqrt} = Math
        let add = (a, b) => a + b
        let n = min(d1.length, d2.length)
        if (n === 0) {
            return 0
        }
        [d1, d2] = [d1.slice(0, n), d2.slice(0, n)]
        let [sum1, sum2] = [d1, d2].map(l => l.reduce(add))
        let [pow1, pow2] = [d1, d2].map(l => l.reduce((a, b) => a + pow(b, 2), 0))
        let mulSum = d1.map((n, i) => n * d2[i]).reduce(add)
        let dense = sqrt((pow1 - pow(sum1, 2) / n) * (pow2 - pow(sum2, 2) / n))
        if (dense === 0) {
            return 0;
        }
        return (mulSum - (sum1 * sum2 / n)) / dense;
    }

    function getCentroidMinBorderForGrapch(companyName, prices, maxError = '') {
        const centroid = getCentroidData(companyName, prices);
        let border = [];
        if (maxError === '') {
            border = Anomaly.getMinBorderAnomaly(centroid, math.std(centroid));
        } else {
            border = Anomaly.getMinBorderAnomaly(centroid, maxError);
        }
        let result = {};
        for (let i = 0; i < centroid.length; i++) {
            result[prices[i]['TRADEDATE']] = border[i];
        }
        return result;
    }

    function getCentroidMaxBorderForGrapch(companyName, prices, maxError = '') {
        const centroid = getCentroidData(companyName, prices);
        let border = [];
        if (maxError === '') {
            border = Anomaly.getMaxBorderAnomaly(centroid, math.std(centroid));
        } else {
            border = Anomaly.getMaxBorderAnomaly(centroid, maxError);
        }
        let result = {};
        for (let i = 0; i < centroid.length; i++) {
            result[prices[i]['TRADEDATE']] = border[i];
        }
        return result;
    }


    function getCentroidForGrapch(companyNames, prices) {
        const centroid = getCentroidData(companyNames, prices);
        let result = {};
        for (let i = 1; i < centroid.length; i++) {
            result[prices[i + 1]['TRADEDATE']] = centroid[i];
        }
        return result;
    }

    function getCentroidData(companyNames, prices) {
        const timeserials = [];
        for (const companyName of companyNames) {
            timeserials.push({
                prices: getPrices(companyName, prices)
            });
        }
        const matrixPrice = getMatrixPrices(timeserials);
        const centroid = getCentroid(matrixPrice);
        return centroid;

        function getPrices(companyName, prices) {
            let result = [];
            for (let i = 1; i < prices.length; i++) {
                result.push(prices[i][companyName]);
            }
            return result;
        }

        function getMatrixPrices(companys) {
            let matrix = [];
            for (const company of companys) {
                matrix.push(company.prices);
            }
            return matrix;
        }

        function getCentroid(matrixPrices) {
            let centroid = [];
            for (let col = 0; col < matrixPrices[0].length; col++) {
                let sum = 0;
                for (let row = 0; row < matrixPrices.length; row++) {
                    let cell = matrixPrices[row][col];
                    sum = sum + cell;
                }
                centroid.push(sum / matrixPrices.length);
            }
            return centroid;
        }
    }

    function getForGrachByCompany(companyName, prices) {
        let result = {};
        for (let i = 1; i < prices.length; i++) {
            result[prices[i]['TRADEDATE']] = prices[i][companyName];
        }
        return result;
    }

</script>

<style>
    .big-size {
        font-size: 22px;
    }

    table.v-table {
        font-size: 16px
    }

    table.v-table thead th {
        font-size: 16px !important;
    }

    table.v-table tbody td {
        font-size: 15px !important;
    }

    /*@import './../../assets/style/bootstrap.min.css';*/
</style>