<template>
    <v-container fluid class="main-container section level1 big-size">
        <a href="https://docs.google.com/presentation/d/1dZybCpR8Hx3fQ11W3h0PdcOCRVWcCEZmmP9IJRyeN8I/edit#slide=id.p3">
            Слайды презентации
        </a>
        <h1>Основные положения</h1>
        <div>
            <p>Источник данных для разбивки по секторам
                <a href="https://tezis.io">
                    Агригатор tezis
                </a>
            </p>
            <p>Источник данных для по рыночным котировкам -
                <a href="https://iss.moex.com">
                    API Московской Биржи
                </a>
            </p>
            <p>
                <a href="http://itmo.burdinsky.ru/manipulations/tezis_crauler_corr_analiz.html">
                    Полное иследование корреляции между финансовыми инструментами в рамках сектора
                </a>
            </p>
        </div>
        <h2>Анализ организаций из сектора - Металлургия</h2>
        <v-layout>
            <div class="output_html rendered_html output_subarea ">
                <div>
                    <table border="1" class="dataframe">
                        <thead>
                        <tr style="text-align: right;">
                            <th></th>
                            <th>link</th>
                            <th>short_name</th>
                            <th>ticker</th>
                            <th>EV/EBITDA</th>
                            <th>Debt/EBITDA</th>
                            <th>E/P</th>
                            <th>P/E</th>
                            <th>P/B</th>
                            <th>P/S</th>
                            <th>L/A</th>
                            <th>...</th>
                            <th>ebitda</th>
                            <th>revenue</th>
                            <th>total_cash</th>
                            <th>total_debt</th>
                            <th>total_liabilities</th>
                            <th>sector_id</th>
                            <th>sector_name</th>
                            <th>company_url</th>
                            <th>company_desc</th>
                            <th>assets</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>136</th>
                            <td>https://tezis.io/company/71</td>
                            <td>ММК</td>
                            <td>MAGN</td>
                            <td>3.35252</td>
                            <td>0.212951</td>
                            <td>0.167881</td>
                            <td>5.95662</td>
                            <td>1.58091</td>
                            <td>1.05126</td>
                            <td>0.291634</td>
                            <td>...</td>
                            <td>150307203800</td>
                            <td>497512650400</td>
                            <td>51114585600</td>
                            <td>32008051800</td>
                            <td>136203168600</td>
                            <td>7</td>
                            <td>Металлургия</td>
                            <td>www.mmk.ru</td>
                            <td>Производитель стали. Добывает и перерабатывает...</td>
                            <td>467034951600</td>
                        </tr>
                        <tr>
                            <th>6</th>
                            <td>https://tezis.io/company/508</td>
                            <td>ENPL</td>
                            <td>ENPL</td>
                            <td>4.34028</td>
                            <td>3.81373</td>
                            <td>0.720938</td>
                            <td>1.38708</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>...</td>
                            <td>200764567300</td>
                            <td></td>
                            <td>49144780800</td>
                            <td>765661440000</td>
                            <td></td>
                            <td>7</td>
                            <td>Металлургия</td>
                            <td></td>
                            <td>Металлургическая компания. Производит алюминий...</td>
                            <td>1281325516800</td>
                        </tr>
                        <tr>
                            <th>271</th>
                            <td>https://tezis.io/company/135</td>
                            <td>СевСт-ао</td>
                            <td>CHMF</td>
                            <td>4.61867</td>
                            <td>0.488364</td>
                            <td>0.226159</td>
                            <td>4.42166</td>
                            <td>4.56511</td>
                            <td>1.60879</td>
                            <td>0.539302</td>
                            <td>...</td>
                            <td>187692332750</td>
                            <td>522119265150</td>
                            <td>64753333200</td>
                            <td>91662213600</td>
                            <td>215393914800</td>
                            <td>7</td>
                            <td>Металлургия</td>
                            <td>www.severstal.com</td>
                            <td>Одно из крупнейших в мире сталелитейных и горн...</td>
                            <td>399394135800</td>
                        </tr>
                        <tr>
                            <th>141</th>
                            <td>https://tezis.io/company/93</td>
                            <td>НЛМК ао</td>
                            <td>NLMK</td>
                            <td>4.69532</td>
                            <td>0.608726</td>
                            <td>0.138301</td>
                            <td>7.23059</td>
                            <td>2.4937</td>
                            <td>1.3246</td>
                            <td>0.400116</td>
                            <td>...</td>
                            <td>214264306650</td>
                            <td>716509343900</td>
                            <td>73477216800</td>
                            <td>130428203400</td>
                            <td>253852725600</td>
                            <td>7</td>
                            <td>Металлургия</td>
                            <td>http://www.nlmk.com</td>
                            <td>Металлургическая компания. Добывает, перерабат...</td>
                            <td>634447506600</td>
                        </tr>
                        <tr>
                            <th>282</th>
                            <td>https://tezis.io/company/148</td>
                            <td>ТМК ао</td>
                            <td>TRMK</td>
                            <td>5.47974</td>
                            <td>4.43852</td>
                            <td>-0.000341425</td>
                            <td>-2928.9</td>
                            <td>1.07523</td>
                            <td>0.187394</td>
                            <td>0.827849</td>
                            <td>...</td>
                            <td>41162999537</td>
                            <td>303499972358</td>
                            <td>14014550389</td>
                            <td>182702942647</td>
                            <td>254361905510</td>
                            <td>7</td>
                            <td>Металлургия</td>
                            <td>www.tmk-group.ru</td>
                            <td>Металлургическая компания. Производит и продае...</td>
                            <td>307256531979</td>
                        </tr>
                        <tr>
                            <th>100</th>
                            <td>https://tezis.io/company/118</td>
                            <td>RUSAL plc</td>
                            <td>RUAL</td>
                            <td>6.20995</td>
                            <td>3.56843</td>
                            <td>0.27439</td>
                            <td>3.64445</td>
                            <td>1.34937</td>
                            <td>0.681196</td>
                            <td>0.66748</td>
                            <td>...</td>
                            <td>144807618400</td>
                            <td>646576711500</td>
                            <td>57933959400</td>
                            <td>516736513800</td>
                            <td>655212807000</td>
                            <td>7</td>
                            <td>Металлургия</td>
                            <td>http://rusal.ru</td>
                            <td>Металлургическая компания. Производит алюминий...</td>
                            <td>981621212400</td>
                        </tr>
                        <tr>
                            <th>234</th>
                            <td>https://tezis.io/company/99</td>
                            <td>ГМКНорНик</td>
                            <td>GMKN</td>
                            <td>7.48865</td>
                            <td>1.82874</td>
                            <td>0.0837637</td>
                            <td>11.9384</td>
                            <td>7.44686</td>
                            <td>3.17789</td>
                            <td>0.765669</td>
                            <td>...</td>
                            <td>318024801600</td>
                            <td>634298000000</td>
                            <td>215739000000</td>
                            <td>581584000000</td>
                            <td>884447000000</td>
                            <td>7</td>
                            <td>Металлургия</td>
                            <td>www.nornik.ru</td>
                            <td>Крупнейший в мире производитель никеля и палладия</td>
                            <td>1155129000000</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>7 rows × 23 columns</p>
                </div>
            </div>
        </v-layout>
        <h2>Таблица корреляции между бумагами в рамках одного сектора - Металлургия</h2>
        <v-layout>
            <div class="output_html rendered_html output_subarea ">
                <div>
                    <table border="1" class="dataframe">
                        <thead>
                        <tr style="text-align: right;">
                            <th></th>
                            <th>ММК</th>
                            <th>ENPL-гдр</th>
                            <th>СевСт-ао</th>
                            <th>НЛМК ао</th>
                            <th>ТМК ао</th>
                            <th>RUSAL plc</th>
                            <th>ГМКНорНик</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>ММК</th>
                            <td>1.000000</td>
                            <td>0.074554</td>
                            <td>0.787295</td>
                            <td>0.900798</td>
                            <td>0.708741</td>
                            <td>0.194243</td>
                            <td>0.158492</td>
                        </tr>
                        <tr>
                            <th>ENPL-гдр</th>
                            <td>0.074554</td>
                            <td>1.000000</td>
                            <td>-0.025640</td>
                            <td>0.231141</td>
                            <td>-0.039083</td>
                            <td>0.824394</td>
                            <td>-0.005603</td>
                        </tr>
                        <tr>
                            <th>СевСт-ао</th>
                            <td>0.787295</td>
                            <td>-0.025640</td>
                            <td>1.000000</td>
                            <td>0.826187</td>
                            <td>0.805547</td>
                            <td>0.128998</td>
                            <td>-0.070972</td>
                        </tr>
                        <tr>
                            <th>НЛМК ао</th>
                            <td>0.900798</td>
                            <td>0.231141</td>
                            <td>0.826187</td>
                            <td>1.000000</td>
                            <td>0.712810</td>
                            <td>0.274846</td>
                            <td>0.104802</td>
                        </tr>
                        <tr>
                            <th>ТМК ао</th>
                            <td>0.708741</td>
                            <td>-0.039083</td>
                            <td>0.805547</td>
                            <td>0.712810</td>
                            <td>1.000000</td>
                            <td>0.013320</td>
                            <td>0.125770</td>
                        </tr>
                        <tr>
                            <th>RUSAL plc</th>
                            <td>0.194243</td>
                            <td>0.824394</td>
                            <td>0.128998</td>
                            <td>0.274846</td>
                            <td>0.013320</td>
                            <td>1.000000</td>
                            <td>-0.323053</td>
                        </tr>
                        <tr>
                            <th>ГМКНорНик</th>
                            <td>0.158492</td>
                            <td>-0.005603</td>
                            <td>-0.070972</td>
                            <td>0.104802</td>
                            <td>0.125770</td>
                            <td>-0.323053</td>
                            <td>1.000000</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </v-layout>
        <div>
            <div>Для расчёта корреляции Пирсона применялось</div>
            <ol>
                <li>Удаление тренда</li>
                <li>Стандартизация</li>
            </ol>
        </div>
        <h2>Данные с московской фондовой биржи от 2018-08-01</h2>
        <v-layout>
            <div class="output_subarea output_html rendered_html output_result">
                <div>
                    <table border="1" class="dataframe">
                        <thead>
                        <tr style="text-align: right;">
                            <th></th>
                            <th>ММК</th>
                            <th>ENPL-гдр</th>
                            <th>СевСт-ао</th>
                            <th>НЛМК ао</th>
                            <th>ТМК ао</th>
                            <th>RUSAL plc</th>
                            <th>ГМКНорНик</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>0</th>
                            <td>45.990</td>
                            <td>329.0</td>
                            <td>1017.2</td>
                            <td>161.12</td>
                            <td>71.60</td>
                            <td>25.720</td>
                            <td>10819</td>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td>46.070</td>
                            <td>319.0</td>
                            <td>1002.0</td>
                            <td>160.16</td>
                            <td>71.70</td>
                            <td>25.370</td>
                            <td>10682</td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>46.240</td>
                            <td>305.5</td>
                            <td>1008.4</td>
                            <td>161.26</td>
                            <td>71.75</td>
                            <td>24.950</td>
                            <td>10671</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>47.500</td>
                            <td>304.5</td>
                            <td>1021.3</td>
                            <td>163.40</td>
                            <td>71.95</td>
                            <td>25.430</td>
                            <td>10750</td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <td>47.580</td>
                            <td>300.0</td>
                            <td>1020.3</td>
                            <td>160.88</td>
                            <td>72.10</td>
                            <td>25.060</td>
                            <td>10798</td>
                        </tr>
                        <tr>
                            <th>5</th>
                            <td>47.025</td>
                            <td>291.0</td>
                            <td>1017.2</td>
                            <td>158.12</td>
                            <td>72.05</td>
                            <td>24.590</td>
                            <td>10769</td>
                        </tr>
                        <tr>
                            <th>6</th>
                            <td>47.125</td>
                            <td>283.5</td>
                            <td>1017.2</td>
                            <td>158.66</td>
                            <td>71.55</td>
                            <td>24.170</td>
                            <td>10871</td>
                        </tr>
                        <tr>
                            <th>7</th>
                            <td>45.715</td>
                            <td>282.5</td>
                            <td>987.3</td>
                            <td>153.66</td>
                            <td>71.00</td>
                            <td>24.740</td>
                            <td>10664</td>
                        </tr>
                        <tr>
                            <th>8</th>
                            <td>45.815</td>
                            <td>292.0</td>
                            <td>1007.6</td>
                            <td>153.74</td>
                            <td>71.10</td>
                            <td>24.600</td>
                            <td>10981</td>
                        </tr>
                        <tr>
                            <th>9</th>
                            <td>46.160</td>
                            <td>296.5</td>
                            <td>1020.8</td>
                            <td>154.92</td>
                            <td>71.50</td>
                            <td>24.460</td>
                            <td>11044</td>
                        </tr>
                        <tr>
                            <th>10</th>
                            <td>46.055</td>
                            <td>298.5</td>
                            <td>1015.8</td>
                            <td>154.20</td>
                            <td>71.35</td>
                            <td>24.160</td>
                            <td>10935</td>
                        </tr>
                        <tr>
                            <th>11</th>
                            <td>45.700</td>
                            <td>295.5</td>
                            <td>1017.9</td>
                            <td>154.28</td>
                            <td>73.35</td>
                            <td>24.080</td>
                            <td>10932</td>
                        </tr>
                        <tr>
                            <th>12</th>
                            <td>45.820</td>
                            <td>295.5</td>
                            <td>1020.7</td>
                            <td>154.96</td>
                            <td>73.30</td>
                            <td>24.210</td>
                            <td>10870</td>
                        </tr>
                        <tr>
                            <th>13</th>
                            <td>46.980</td>
                            <td>289.5</td>
                            <td>1037.6</td>
                            <td>157.38</td>
                            <td>73.05</td>
                            <td>24.260</td>
                            <td>10926</td>
                        </tr>
                        <tr>
                            <th>14</th>
                            <td>46.795</td>
                            <td>283.0</td>
                            <td>1044.1</td>
                            <td>158.00</td>
                            <td>73.05</td>
                            <td>24.130</td>
                            <td>10964</td>
                        </tr>
                        <tr>
                            <th>15</th>
                            <td>46.870</td>
                            <td>273.0</td>
                            <td>1049.5</td>
                            <td>159.60</td>
                            <td>72.45</td>
                            <td>23.740</td>
                            <td>10979</td>
                        </tr>
                        <tr>
                            <th>16</th>
                            <td>46.655</td>
                            <td>268.5</td>
                            <td>1057.8</td>
                            <td>159.92</td>
                            <td>71.45</td>
                            <td>22.870</td>
                            <td>11013</td>
                        </tr>
                        <tr>
                            <th>17</th>
                            <td>46.985</td>
                            <td>256.0</td>
                            <td>1054.4</td>
                            <td>157.72</td>
                            <td>71.15</td>
                            <td>21.690</td>
                            <td>10991</td>
                        </tr>
                        <tr>
                            <th>18</th>
                            <td>47.375</td>
                            <td>259.5</td>
                            <td>1081.3</td>
                            <td>158.94</td>
                            <td>71.05</td>
                            <td>21.740</td>
                            <td>11033</td>
                        </tr>
                        <tr>
                            <th>19</th>
                            <td>48.145</td>
                            <td>262.0</td>
                            <td>1091.0</td>
                            <td>164.20</td>
                            <td>71.65</td>
                            <td>21.870</td>
                            <td>11208</td>
                        </tr>
                        <tr>
                            <th>20</th>
                            <td>48.675</td>
                            <td>277.5</td>
                            <td>1092.8</td>
                            <td>167.48</td>
                            <td>71.25</td>
                            <td>22.000</td>
                            <td>11308</td>
                        </tr>
                        <tr>
                            <th>21</th>
                            <td>48.785</td>
                            <td>281.5</td>
                            <td>1091.5</td>
                            <td>167.46</td>
                            <td>71.25</td>
                            <td>21.980</td>
                            <td>11285</td>
                        </tr>
                        <tr>
                            <th>22</th>
                            <td>48.485</td>
                            <td>278.5</td>
                            <td>1081.7</td>
                            <td>165.42</td>
                            <td>70.60</td>
                            <td>21.740</td>
                            <td>11237</td>
                        </tr>
                        <tr>
                            <th>23</th>
                            <td>48.745</td>
                            <td>275.0</td>
                            <td>1096.5</td>
                            <td>167.82</td>
                            <td>70.90</td>
                            <td>21.720</td>
                            <td>11270</td>
                        </tr>
                        <tr>
                            <th>24</th>
                            <td>48.590</td>
                            <td>269.0</td>
                            <td>1093.1</td>
                            <td>166.62</td>
                            <td>71.05</td>
                            <td>21.540</td>
                            <td>11227</td>
                        </tr>
                        <tr>
                            <th>25</th>
                            <td>48.475</td>
                            <td>264.5</td>
                            <td>1081.3</td>
                            <td>165.06</td>
                            <td>70.65</td>
                            <td>21.340</td>
                            <td>11179</td>
                        </tr>
                        <tr>
                            <th>26</th>
                            <td>48.560</td>
                            <td>261.5</td>
                            <td>1069.7</td>
                            <td>164.80</td>
                            <td>70.65</td>
                            <td>21.430</td>
                            <td>11215</td>
                        </tr>
                        <tr>
                            <th>27</th>
                            <td>48.950</td>
                            <td>265.5</td>
                            <td>1059.8</td>
                            <td>164.62</td>
                            <td>70.70</td>
                            <td>20.700</td>
                            <td>11175</td>
                        </tr>
                        <tr>
                            <th>28</th>
                            <td>49.070</td>
                            <td>255.0</td>
                            <td>1061.3</td>
                            <td>168.58</td>
                            <td>70.65</td>
                            <td>19.840</td>
                            <td>11303</td>
                        </tr>
                        <tr>
                            <th>29</th>
                            <td>48.955</td>
                            <td>251.0</td>
                            <td>1064.7</td>
                            <td>169.04</td>
                            <td>70.80</td>
                            <td>19.790</td>
                            <td>11401</td>
                        </tr>
                        <tr>
                            <th>...</th>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <th>67</th>
                            <td>47.980</td>
                            <td>298.2</td>
                            <td>1037.8</td>
                            <td>158.66</td>
                            <td>61.85</td>
                            <td>28.385</td>
                            <td>11387</td>
                        </tr>
                        <tr>
                            <th>68</th>
                            <td>47.005</td>
                            <td>314.2</td>
                            <td>1038.2</td>
                            <td>157.66</td>
                            <td>62.30</td>
                            <td>29.405</td>
                            <td>11489</td>
                        </tr>
                        <tr>
                            <th>69</th>
                            <td>46.180</td>
                            <td>313.9</td>
                            <td>1039.5</td>
                            <td>157.40</td>
                            <td>62.30</td>
                            <td>29.750</td>
                            <td>11620</td>
                        </tr>
                        <tr>
                            <th>70</th>
                            <td>46.935</td>
                            <td>314.6</td>
                            <td>1031.3</td>
                            <td>157.46</td>
                            <td>62.35</td>
                            <td>29.830</td>
                            <td>11672</td>
                        </tr>
                        <tr>
                            <th>71</th>
                            <td>47.710</td>
                            <td>314.7</td>
                            <td>1030.0</td>
                            <td>159.64</td>
                            <td>61.75</td>
                            <td>29.680</td>
                            <td>11615</td>
                        </tr>
                        <tr>
                            <th>72</th>
                            <td>47.975</td>
                            <td>320.2</td>
                            <td>1036.7</td>
                            <td>161.84</td>
                            <td>61.40</td>
                            <td>29.915</td>
                            <td>11651</td>
                        </tr>
                        <tr>
                            <th>73</th>
                            <td>47.655</td>
                            <td>324.6</td>
                            <td>1035.9</td>
                            <td>163.38</td>
                            <td>60.80</td>
                            <td>29.665</td>
                            <td>11626</td>
                        </tr>
                        <tr>
                            <th>74</th>
                            <td>47.135</td>
                            <td>325.0</td>
                            <td>1031.8</td>
                            <td>164.58</td>
                            <td>60.25</td>
                            <td>29.695</td>
                            <td>11613</td>
                        </tr>
                        <tr>
                            <th>75</th>
                            <td>47.500</td>
                            <td>324.1</td>
                            <td>1030.0</td>
                            <td>164.88</td>
                            <td>60.55</td>
                            <td>29.655</td>
                            <td>11781</td>
                        </tr>
                        <tr>
                            <th>76</th>
                            <td>47.370</td>
                            <td>326.2</td>
                            <td>1025.2</td>
                            <td>163.86</td>
                            <td>60.70</td>
                            <td>29.555</td>
                            <td>11678</td>
                        </tr>
                        <tr>
                            <th>77</th>
                            <td>47.115</td>
                            <td>336.7</td>
                            <td>1017.6</td>
                            <td>163.20</td>
                            <td>60.45</td>
                            <td>29.545</td>
                            <td>11778</td>
                        </tr>
                        <tr>
                            <th>78</th>
                            <td>45.625</td>
                            <td>333.8</td>
                            <td>1003.6</td>
                            <td>162.06</td>
                            <td>59.70</td>
                            <td>29.140</td>
                            <td>11670</td>
                        </tr>
                        <tr>
                            <th>79</th>
                            <td>45.120</td>
                            <td>334.7</td>
                            <td>1007.9</td>
                            <td>162.80</td>
                            <td>59.25</td>
                            <td>29.200</td>
                            <td>11771</td>
                        </tr>
                        <tr>
                            <th>80</th>
                            <td>46.015</td>
                            <td>333.3</td>
                            <td>1008.0</td>
                            <td>163.66</td>
                            <td>59.10</td>
                            <td>29.515</td>
                            <td>11846</td>
                        </tr>
                        <tr>
                            <th>81</th>
                            <td>46.025</td>
                            <td>327.3</td>
                            <td>1004.6</td>
                            <td>164.18</td>
                            <td>58.55</td>
                            <td>29.330</td>
                            <td>11897</td>
                        </tr>
                        <tr>
                            <th>82</th>
                            <td>45.735</td>
                            <td>318.0</td>
                            <td>999.3</td>
                            <td>162.90</td>
                            <td>58.85</td>
                            <td>28.410</td>
                            <td>11898</td>
                        </tr>
                        <tr>
                            <th>83</th>
                            <td>46.125</td>
                            <td>320.1</td>
                            <td>996.1</td>
                            <td>162.34</td>
                            <td>59.00</td>
                            <td>28.870</td>
                            <td>12187</td>
                        </tr>
                        <tr>
                            <th>84</th>
                            <td>46.575</td>
                            <td>321.5</td>
                            <td>992.9</td>
                            <td>160.14</td>
                            <td>58.95</td>
                            <td>28.825</td>
                            <td>12589</td>
                        </tr>
                        <tr>
                            <th>85</th>
                            <td>46.250</td>
                            <td>320.0</td>
                            <td>1003.3</td>
                            <td>160.76</td>
                            <td>58.95</td>
                            <td>28.885</td>
                            <td>12830</td>
                        </tr>
                        <tr>
                            <th>86</th>
                            <td>46.260</td>
                            <td>313.6</td>
                            <td>999.2</td>
                            <td>158.78</td>
                            <td>57.10</td>
                            <td>28.845</td>
                            <td>12701</td>
                        </tr>
                        <tr>
                            <th>87</th>
                            <td>46.610</td>
                            <td>316.7</td>
                            <td>978.0</td>
                            <td>161.22</td>
                            <td>56.60</td>
                            <td>29.140</td>
                            <td>12806</td>
                        </tr>
                        <tr>
                            <th>88</th>
                            <td>46.175</td>
                            <td>317.8</td>
                            <td>968.7</td>
                            <td>159.94</td>
                            <td>57.20</td>
                            <td>29.030</td>
                            <td>12645</td>
                        </tr>
                        <tr>
                            <th>89</th>
                            <td>45.755</td>
                            <td>318.2</td>
                            <td>966.0</td>
                            <td>158.32</td>
                            <td>57.10</td>
                            <td>28.850</td>
                            <td>12649</td>
                        </tr>
                        <tr>
                            <th>90</th>
                            <td>45.615</td>
                            <td>315.3</td>
                            <td>954.6</td>
                            <td>157.18</td>
                            <td>56.80</td>
                            <td>28.465</td>
                            <td>12647</td>
                        </tr>
                        <tr>
                            <th>91</th>
                            <td>46.600</td>
                            <td>314.7</td>
                            <td>956.9</td>
                            <td>158.06</td>
                            <td>56.40</td>
                            <td>28.260</td>
                            <td>12717</td>
                        </tr>
                        <tr>
                            <th>92</th>
                            <td>47.355</td>
                            <td>307.2</td>
                            <td>954.2</td>
                            <td>157.08</td>
                            <td>55.95</td>
                            <td>28.235</td>
                            <td>12685</td>
                        </tr>
                        <tr>
                            <th>93</th>
                            <td>46.805</td>
                            <td>305.7</td>
                            <td>939.3</td>
                            <td>156.96</td>
                            <td>55.65</td>
                            <td>27.765</td>
                            <td>12663</td>
                        </tr>
                        <tr>
                            <th>94</th>
                            <td>46.340</td>
                            <td>305.0</td>
                            <td>933.1</td>
                            <td>156.40</td>
                            <td>54.65</td>
                            <td>27.520</td>
                            <td>12840</td>
                        </tr>
                        <tr>
                            <th>95</th>
                            <td>46.920</td>
                            <td>304.5</td>
                            <td>933.1</td>
                            <td>153.96</td>
                            <td>54.45</td>
                            <td>26.830</td>
                            <td>13127</td>
                        </tr>
                        <tr>
                            <th>96</th>
                            <td>46.420</td>
                            <td>300.3</td>
                            <td>932.5</td>
                            <td>151.76</td>
                            <td>53.85</td>
                            <td>26.395</td>
                            <td>13122</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>97 rows × 7 columns</p>
                </div>
            </div>
        </v-layout>
        <h2>Предобработаные данные - переход от цен, к изменениям цен</h2>
        <v-layout>
            <v-data-table
                    :headers="headers"
                    :items="preprocessedPrice"
                    :footer-props.items-per-page-options="pagination"
                    class="elevation-1"
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.index }}</td>
                    <td class="text-xs-right">{{ props.item["ММК"].toFixed(5) }}</td>
                    <td class="text-xs-right">{{ props.item["СевСт-ао"].toFixed(5) }}</td>
                    <td class="text-xs-right">{{ props.item["НЛМК ао"].toFixed(5) }}</td>
                    <td class="text-xs-right">{{ props.item["ТМК ао"].toFixed(5) }}</td>
                </template>
            </v-data-table>
        </v-layout>


        <h2>Проценты изменения цен на графике с центроидом</h2>


        <v-container fluid>
            <p>Бумаги для расчёта центроида {{ securityByCentroid }}</p>
            <v-checkbox v-model="securityByCentroid" label="Магнитогорский металлургический комбинат ММК"
                        value="ММК"></v-checkbox>
            <v-checkbox v-model="securityByCentroid" label="Северсталь" value="СевСт-ао"></v-checkbox>
            <v-checkbox v-model="securityByCentroid" label="Группа НЛМК. Международная сталелитейная компания"
                        value="НЛМК ао"></v-checkbox>
            <v-checkbox v-model="securityByCentroid" label="Трубной Металлургической Компании. ТМК"
                        value="ТМК ао"></v-checkbox>
        </v-container>


        <h2>Корреляция между бумагой и центроидом</h2>


        <v-layout>
            <v-data-table
                    :headers="headersByCorrelation"
                    :items="correlationByCentroid"
                    :footer-props.items-per-page-options="pagination"
                    class="elevation-1"
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.companyName }}</td>
                    <td class="text-xs-right">{{ props.item.correlationByCentroid.toFixed(5) }}</td>
                    <td class="text-xs-right">{{ props.item.correlationByCentroidLogarifm.toFixed(5) }}</td>
                </template>
            </v-data-table>
        </v-layout>


        <v-container fluid>
            <p>Бумаги для отображения на графике {{ securityByGraph }}</p>
            <v-checkbox v-model="securityByGraph" label="Магнитогорский металлургический комбинат ММК"
                        value="ММК"></v-checkbox>
            <v-checkbox v-model="securityByGraph" label="Северсталь" value="СевСт-ао"></v-checkbox>
            <v-checkbox v-model="securityByGraph" label="Группа НЛМК. Международная сталелитейная компания"
                        value="НЛМК ао"></v-checkbox>
            <v-checkbox v-model="securityByGraph" label="Трубной Металлургической Компании. ТМК"
                        value="ТМК ао"></v-checkbox>
        </v-container>

        <v-layout row>
            <v-flex xs4>
                <v-subheader>Значение границы отклонения от центроида</v-subheader>
            </v-flex>
            <v-flex xs8>
                <v-text-field
                        label="Значение нижней границы отклонения"
                        v-model.number="centroidMinBorder"
                        type="number"
                        single-line
                ></v-text-field>
            </v-flex>
        </v-layout>


        <h2>График изменения цен - процент изменения цены</h2>


        <v-layout>
            <line-chart
                    :min="-0.06" :max="0.06"
                    height="800px"
                    xtitle="Номер наблюдения" ytitle="Процент изменения цены"
                    decimal="."
                    :dataset="{borderWidth: 2}"
                    :data="resultsForGraph">
            </line-chart>
        </v-layout>
        <h2>График изменения цен - логарифмический процент изменения цены</h2>
        <v-layout>
            <line-chart
                    :min="-0.06" :max="0.06"
                    height="800px"
                    xtitle="Номер наблюдения" ytitle="Логарифмический процент изменения цены"
                    decimal="."
                    :dataset="{borderWidth: 2}"
                    :data="resultsForGraphLogarifm">
            </line-chart>
        </v-layout>


        <h2>Обнаруженные аномалии </h2>
        <div>
            CAD - предсказание Xi на основе corr(Xi-1, C)
        </div>
        <div>
            Отклонение от центройда - выход евклидова расстояния (Xi, C) за допустимые границы.
        </div>

        <div v-for="company in predictAnomaly">
            <h3>
                Бумага {{company.companyName}}
            </h3>
            <div>
                Количество аномалий CAD: {{company.anomalyPricesNumbers.length}}
            </div>
            <template v-for="companyByCADModification in predictAnomalyModification">
                <div v-if="company.companyName === companyByCADModification.companyName">
                    Количество аномалий CAD (с использованием модулей чисел): {{companyByCADModification.anomalyPricesNumbers.length}}
                </div>
            </template>
            <template v-for="companyByCentroid in predictAnomalyDifferenceByCentroid">
                <div v-if="company.companyName === companyByCentroid.companyName">
                    Количество аномалий отклонение от центройда: {{companyByCentroid.anomalyPricesNumbers.length}}
                </div>
            </template>
        </div>

        <h2>Обнаруженные аномалии CAD</h2>
        <div v-for="company in predictAnomaly">
            <h3>
                Бумага {{company.companyName}}
            </h3>
            <div>
                Номера аномальных наблюдений:
            </div>
            <div>
                {{company.anomalyPricesNumbers}}
            </div>
            <div>
                Величина ошибки относительно наблюдений:
            </div>
            <div>
                {{company.errors}}
            </div>
            <div>
                Предсказанные значения:
            </div>
            <div>
                {{company.predictPrice}}
            </div>
            <div>
                Фактические значения:
            </div>
            <div>
                {{company.expectPrice}}
            </div>
        </div>

        <h2>Обнаруженные аномалии CAD (с использованием модулей чисел)</h2>
        <div v-for="company in predictAnomalyModification">
            <h3>
                Бумага {{company.companyName}}
            </h3>
            <div>
                Номера аномальных наблюдений:
            </div>
            <div>
                {{company.anomalyPricesNumbers}}
            </div>
            <div>
                Величина ошибки относительно наблюдений:
            </div>
            <div>
                {{company.errors}}
            </div>
            <div>
                Предсказанные значения:
            </div>
            <div>
                {{company.predictPrice}}
            </div>
            <div>
                Фактические значения:
            </div>
            <div>
                {{company.expectPrice}}
            </div>
        </div>

        <h2>Обнаруженные аномалии отклонение от центройда</h2>
        <div v-for="company in predictAnomalyDifferenceByCentroid">
            <h3>
                Бумага {{company.companyName}}
            </h3>
            <div>
                Номера аномальных наблюдений:
            </div>
            <div>
                {{company.anomalyPricesNumbers}}
            </div>
            <div>
                Величина ошибки относительно наблюдений:
            </div>
            <div>
                {{company.errors}}
            </div>
            <div>
                Значение цен центроида:
            </div>
            <div>
                {{company.predictPrice}}
            </div>
            <div>
                Фактические значения цен:
            </div>
            <div>
                {{company.expectPrice}}
            </div>
        </div>



        <h2>Найденые анамалии по лагарифмированным изменениям цен</h2>



        <div v-for="company in predictAnomalyLogarifmPrice">
            <h3>
                Бумага {{company.companyName}}
            </h3>
            <div>
                Количество аномалий CAD: {{company.anomalyPricesNumbers.length}}
            </div>
            <template v-for="companyByCADModification in predictAnomalyModificationLogarifmPrice">
                <div v-if="company.companyName === companyByCADModification.companyName">
                    Количество аномалий CAD (с использованием модулей чисел): {{companyByCADModification.anomalyPricesNumbers.length}}
                </div>
            </template>
            <template v-for="companyByCentroid in predictAnomalyDifferenceByCentroidLogarifmPrice">
                <div v-if="company.companyName === companyByCentroid.companyName">
                    Количество аномалий отклонение от центройда: {{companyByCentroid.anomalyPricesNumbers.length}}
                </div>
            </template>
        </div>

        <h2>Обнаруженные аномалии CAD</h2>
        <div v-for="company in predictAnomalyLogarifmPrice">
            <h3>
                Бумага {{company.companyName}}
            </h3>
            <div>
                Номера аномальных наблюдений:
            </div>
            <div>
                {{company.anomalyPricesNumbers}}
            </div>
            <div>
                Величина ошибки относительно наблюдений:
            </div>
            <div>
                {{company.errors}}
            </div>
            <div>
                Предсказанные значения:
            </div>
            <div>
                {{company.predictPrice}}
            </div>
            <div>
                Фактические значения:
            </div>
            <div>
                {{company.expectPrice}}
            </div>
        </div>

        <h2>Обнаруженные аномалии CAD (с использованием модулей чисел)</h2>
        <div v-for="company in predictAnomalyModificationLogarifmPrice">
            <h3>
                Бумага {{company.companyName}}
            </h3>
            <div>
                Номера аномальных наблюдений:
            </div>
            <div>
                {{company.anomalyPricesNumbers}}
            </div>
            <div>
                Величина ошибки относительно наблюдений:
            </div>
            <div>
                {{company.errors}}
            </div>
            <div>
                Предсказанные значения:
            </div>
            <div>
                {{company.predictPrice}}
            </div>
            <div>
                Фактические значения:
            </div>
            <div>
                {{company.expectPrice}}
            </div>
        </div>

        <h2>Обнаруженные аномалии отклонение от центройда</h2>
        <div v-for="company in predictAnomalyDifferenceByCentroidLogarifmPrice">
            <h3>
                Бумага {{company.companyName}}
            </h3>
            <div>
                Номера аномальных наблюдений:
            </div>
            <div>
                {{company.anomalyPricesNumbers}}
            </div>
            <div>
                Величина ошибки относительно наблюдений:
            </div>
            <div>
                {{company.errors}}
            </div>
            <div>
                Значение цен центроида:
            </div>
            <div>
                {{company.predictPrice}}
            </div>
            <div>
                Фактические значения цен:
            </div>
            <div>
                {{company.expectPrice}}
            </div>
        </div>


        <a href="https://docs.google.com/presentation/d/1dZybCpR8Hx3fQ11W3h0PdcOCRVWcCEZmmP9IJRyeN8I/edit#slide=id.g2a42997d6c_0_3">
            Слайды презентации
        </a>
        <a href="https://docs.google.com/document/d/121swsgwcLIL_EsKeRc_7sY1PJdd22v16piXz8f8KAYs/edit">
            Ссылка на статью
        </a>
    </v-container>
</template>

<script>
    const iqr = require('compute-iqr');
    const math = require('mathjs');
    export default {
        name: "momentumIgnition",
        data() {
            return {
                pagination: {
                    rowsPerPage: 25 // -1 for All
                },
                headers: [
                    {
                        text: 'Номер наблюдения',
                        align: 'left',
                        sortable: true,
                        value: 'index'
                    },
                    {text: 'ММК', value: "ММК"},
                    {text: 'СевСт-ао', value: "СевСт-ао"},
                    {text: 'НЛМК ао', value: "НЛМК ао"},
                    {text: 'ТМК ао', value: "ТМК ао"},
                ],
                columns: getColumnName(),
                headersByCorrelation: [
                    {
                        text: 'Название бумаги',
                        align: 'left',
                        sortable: true,
                        value: 'companyName'
                    },
                    {text: 'Корреляция по измененным ценам', value: "correlationByCentroid"},
                    {text: 'Корреляция по логарифмическим измененниям цен', value: "correlationByCentroidLogarifm"},
                ],
                preprocessedPrice: recomputeCompanyPrice(),
                securityByCentroid: getAssertNames(),
                securityByGraph: getAssertNames(),
                centroid: getCentroidData(getAssertNames(), recomputeCompanyPrice()),
                centroidMinBorder: 1.5 * math.std(getCentroidData(getAssertNames(), recomputeCompanyPrice())),
            }
        },
        computed: {
            resultsForGraph() {
                const result = [];
                for (const includeCompany of this.securityByGraph) {
                    result.push({
                        name: includeCompany,
                        data: getForGrachByCompany(includeCompany, recomputeCompanyPrice())
                    })
                }
                const centroid = {
                    name: "Центроид",
                    data: getCentroidForGrapch(this.securityByCentroid, recomputeCompanyPrice())
                };
                const minBorder = {
                    name: "Нижняя допустимая граница",
                    data: getCentroidMinBorderForGrapch(this.securityByCentroid, recomputeCompanyPrice(), this.centroidMinBorder)
                };
                const maxBorder = {
                    name: "Верхняя допустимая граница",
                    data: getCentroidMaxBorderForGrapch(this.securityByCentroid, recomputeCompanyPrice(), this.centroidMinBorder)
                };
                result.push(centroid);
                result.push(minBorder);
                result.push(maxBorder);
                return result;
            },
            resultsForGraphLogarifm() {
                const result = [];
                for (const includeCompany of this.securityByGraph) {
                    result.push({
                        name: includeCompany,
                        data: getForGrachByCompany(includeCompany, recomputeCompanyPriceLogarifm())
                    })
                }
                const centroid = {
                    name: "Центроид",
                    data: getCentroidForGrapch(this.securityByCentroid, recomputeCompanyPriceLogarifm())
                };
                const minBorder = {
                    name: "Нижняя допустимая граница",
                    data: getCentroidMinBorderForGrapch(this.securityByCentroid, recomputeCompanyPriceLogarifm(), this.centroidMinBorder)
                };
                const maxBorder = {
                    name: "Верхняя допустимая граница",
                    data: getCentroidMaxBorderForGrapch(this.securityByCentroid, recomputeCompanyPriceLogarifm(), this.centroidMinBorder)
                };
                result.push(centroid);
                result.push(minBorder);
                result.push(maxBorder);
                return result;
            },
            predictAnomaly() {
                return this.getPredictAnomaly(recomputeCompanyPrice());
            },
            predictAnomalyModification() {
                return this.getPredictAnomalyModification(recomputeCompanyPrice());
            },
            predictAnomalyLogarifmPrice() {
                return this.getPredictAnomaly(recomputeCompanyPriceLogarifm());
            },
            predictAnomalyDifferenceByCentroid() {
                return this.getPredictDifferenceByCentroid(recomputeCompanyPrice());
            },
            predictAnomalyModificationLogarifmPrice() {
                return this.getPredictAnomalyModification(recomputeCompanyPriceLogarifm());
            },
            predictAnomalyDifferenceByCentroidLogarifmPrice() {
                return this.getPredictDifferenceByCentroid(recomputeCompanyPriceLogarifm());
            },
            correlationByCentroid() {
                const prices = recomputeCompanyPrice();
                const allCompanyForPrediction = getConvertedCompanys(this.securityByGraph, prices);
                const centroid = getCentroidData(this.securityByCentroid, prices)

                const allCompanyForPredictionLogarifm = getConvertedCompanys(this.securityByGraph, recomputeCompanyPriceLogarifm());
                ;
                const centroidLogarifm = getCentroidData(this.securityByCentroid, recomputeCompanyPriceLogarifm());

                const result = [];
                for (let i = 0; i < allCompanyForPrediction.length; i++) {
                    let company = allCompanyForPrediction[i];
                    let companyLogarifm = allCompanyForPredictionLogarifm[i];
                    result.push(
                        {
                            companyName: company.name,
                            correlationByCentroid: getCorrelationByCentroid(company, centroid),
                            correlationByCentroidLogarifm: getCorrelationByCentroid(companyLogarifm, centroidLogarifm),
                        })
                }
                return result;


                function getCorrelationByCentroid({prices}, centroid) {
                    const forCorrelation = prices.slice(1, prices.length);
                    const correlation = getPearsonCorrelation(forCorrelation, centroid);
                    return correlation;
                }
            }
        },
        methods: {
            getPredictAnomaly(prices) {
                if (this.securityByGraph && this.securityByCentroid) {
                    const allCompanyForPrediction = getConvertedCompanys(this.securityByGraph, prices);
                    const centroid = getCentroidData(this.securityByCentroid, prices);
                    const anomaly = Anomaly.predictAnomaly(allCompanyForPrediction, centroid);
                    return anomaly;

                }
                return [];
            },
            getPredictAnomalyModification(prices) {
                if (this.securityByGraph && this.securityByCentroid) {
                    const allCompanyForPrediction = getConvertedCompanys(this.securityByGraph, prices);
                    const centroid = getCentroidData(this.securityByCentroid, prices);
                    const anomaly = Anomaly.predictAnomalyModification(allCompanyForPrediction, centroid);
                    return anomaly;

                }
                return [];
            },
            getPredictDifferenceByCentroid(prices) {
                if (this.securityByGraph && this.securityByCentroid) {
                    const allCompanyForPrediction = getConvertedCompanys(this.securityByGraph, prices);
                    const centroid = getCentroidData(this.securityByCentroid, prices);
                    const anomaly = Anomaly.predictAnomalyDifferenceCentroid(allCompanyForPrediction, centroid, this.centroidMinBorder);
                    return anomaly;
                }
                return [];
            },
        }
    }

    function getPredictAnomaly() {
        const allCompanyForPrediction = getConvertedCompanys(getAssertNames(), recomputeCompanyPrice());
        const centroid = getCentroidData(getAssertNames(), recomputeCompanyPrice());
        const anomaly = Anomaly.predictAnomalyDifferenceCentroid(allCompanyForPrediction, centroid);
        return anomaly;
    }

    function getAssertNames() {
        return ["ММК", 'СевСт-ао', "НЛМК ао", "ТМК ао"];
    }

    function getColumnName() {
        return ["index",
            "ММК",
            "ENPL-гдр",
            "СевСт-ао",
            "НЛМК ао",
            "ТМК ао",
            "RUSAL plc",
            "ГМКНорНик"];
    }


    class Anomaly {
        static getBaseResult() {
            return {
                companyName: '',
                anomalyPricesNumbers: [],
                errors: [],
                predictPrice: [],
                expectPrice: []
            };
        }

        static predictAnomalyDifferenceCentroid(companys, centroid, errorBorder = math.std(centroid)) {
            let result = [];
            for (const company of companys) {
                result.push(getAnomalyCompany(company, centroid));
            }
            return result;

            function getAnomalyCompany(company) {
                let anomalyCompany = Anomaly.getBaseResult();
                anomalyCompany.companyName = company.name;
                let {prices} = company;
                for (let i = 1; i < prices.length; i++) {
                    let error = Math.sqrt((prices[i] - centroid[i - 1]) ** 2);
                    if (error > errorBorder) {
                        anomalyCompany.anomalyPricesNumbers.push(i);
                        anomalyCompany.errors.push(error);
                        anomalyCompany.predictPrice.push(centroid[i - 1]);
                        anomalyCompany.expectPrice.push(prices[i]);
                    }
                }
                return anomalyCompany;
            }

            /*
            * устанавливаем границы
            * считаем центроид
            *
            *   проходимся по каждой компании
            *       считаем корреляцию между центройдом и временным рядом помпании
            *
            *       проходимся по временному ряду
            *           предсказываем значение
            *           считаем ошибку между фактическим значением и предсказанным
            *           если ошибка превышает определённый порог то это анамалия
            *           запоминаем её
            *
            * */
        }

        static predictAnomaly(companys, centroid,) {
            let result = [];
            for (const company of companys) {
                result.push(getAnomalyCompany(company));
            }
            return result;

            function getAnomalyCompany(company) {
                let anomalyCompany = Anomaly.getBaseResult();
                anomalyCompany.companyName = company.name;
                let {prices} = company;
                prices[0] = prices[1];
                const forCorrelation = prices.slice(1, prices.length);
                const correlation = getPearsonCorrelation(forCorrelation, centroid);
                const stdev = 1.5 * math.std(prices);
                for (let i = 1; i < prices.length; i++) {
                    let predict = prices[i - 1] * correlation;
                    let expect = prices[i];
                    let error = Math.sqrt((predict - expect) ** 2);
                    if (error > stdev) {
                        anomalyCompany.anomalyPricesNumbers.push(i);
                        anomalyCompany.errors.push(error);
                        anomalyCompany.predictPrice.push(predict);
                        anomalyCompany.expectPrice.push(expect);
                    }
                }
                return anomalyCompany;
            }
        }

        static predictAnomalyModification(companys, centroid,) {
            let result = [];
            for (const company of companys) {
                result.push(getAnomalyCompany(company));
            }
            return result;

            function getAnomalyCompany(company) {
                let anomalyCompany = Anomaly.getBaseResult();
                anomalyCompany.companyName = company.name;
                let {prices} = company;
                prices[0] = prices[1];
                const forCorrelation = prices.slice(1, prices.length);
                const correlation = getPearsonCorrelation(forCorrelation, centroid);
                const stdev = 1.5 * math.std(prices);
                for (let i = 1; i < prices.length; i++) {
                    let predict = Math.abs(prices[i - 1] * correlation);
                    let expect = Math.abs(prices[i]);
                    let error = Math.sqrt((predict - expect) ** 2);
                    if (error > stdev) {
                        anomalyCompany.anomalyPricesNumbers.push(i);
                        anomalyCompany.errors.push(error);
                        anomalyCompany.predictPrice.push(predict);
                        anomalyCompany.expectPrice.push(expect);
                    }
                }
                return anomalyCompany;
            }
        }

        static getMaxBorderAnomaly(centroid, maxBorderError) {
            let result = {};
            for (let i = 0; i < centroid.length; i++) {
                result[i + 1] = centroid[i] + maxBorderError;
            }
            return result;
        }

        static getMinBorderAnomaly(centroid, maxBorderError) {
            let result = {};
            for (let i = 0; i < centroid.length; i++) {
                result[i + 1] = centroid[i] - maxBorderError;
            }
            return result;
        }
    }

    function getConvertedCompanys(companyNames, dataSet) {
        let result = [];
        for (const companyName of companyNames) {
            let company = {
                name: companyName,
                prices: [],
                timeserials: ['10.11.2018', '11.11.2018', '12.11.2018'],
            };
            for (const set of dataSet) {
                company.prices.push(set[companyName]);
            }
            result.push(company);
        }
        return result;
    }

    function recomputeCompanyPrice() {
        const oldPrice = getTablePrices();
        let copy = getTablePrices();
        for (let i = 1; i < oldPrice.length; i++) {
            for (const nameCompany in oldPrice[i]) {
                if (nameCompany != "index") {
                    copy[i][nameCompany] = (oldPrice[i][nameCompany] - oldPrice[i - 1][nameCompany]) / oldPrice[i - 1][nameCompany];
                }
            }
        }
        return copy;
    }

    function recomputeCompanyPriceLogarifm() {
        const oldPrice = getTablePrices();
        let copy = getTablePrices();
        for (let i = 1; i < oldPrice.length; i++) {
            for (const nameCompany in oldPrice[i]) {
                if (nameCompany != "index") {
                    let last = oldPrice[i - 1][nameCompany];
                    let curr = oldPrice[i][nameCompany];
                    copy[i][nameCompany] = Math.log(curr / last);//тут баг смотри внимательно
                }
            }
        }
        return copy;
    }

    /**
     * calculates pearson correlation
     * @param {number[]} d1
     * @param {number[]} d2
     */
    function getPearsonCorrelation(d1, d2) {
        let {min, pow, sqrt} = Math
        let add = (a, b) => a + b
        let n = min(d1.length, d2.length)
        if (n === 0) {
            return 0
        }
        [d1, d2] = [d1.slice(0, n), d2.slice(0, n)]
        let [sum1, sum2] = [d1, d2].map(l => l.reduce(add))
        let [pow1, pow2] = [d1, d2].map(l => l.reduce((a, b) => a + pow(b, 2), 0))
        let mulSum = d1.map((n, i) => n * d2[i]).reduce(add)
        let dense = sqrt((pow1 - pow(sum1, 2) / n) * (pow2 - pow(sum2, 2) / n))
        if (dense === 0) {
            return 0;
        }
        return (mulSum - (sum1 * sum2 / n)) / dense;
    }

    function getCentroidMinBorderForGrapch(companyName, prices, maxError = '') {
        const centroid = getCentroidData(companyName, prices);
        if (maxError === '') {
            return Anomaly.getMinBorderAnomaly(centroid, math.std(centroid));
        }
        return Anomaly.getMinBorderAnomaly(centroid, maxError);
    }

    function getCentroidMaxBorderForGrapch(companyName, prices, maxError = '') {
        const centroid = getCentroidData(companyName, prices);
        if (maxError === '') {
            return Anomaly.getMaxBorderAnomaly(centroid, math.std(centroid));
        }
        return Anomaly.getMaxBorderAnomaly(centroid, maxError);
    }


    function getCentroidForGrapch(companyNames, prices) {
        const centroid = getCentroidData(companyNames, prices);
        let result = {};
        for (let i = 0; i < centroid.length; i++) {
            result[i + 1] = centroid[i];
        }
        return result;
    }

    function getCentroidData(companyNames, prices) {
        const timeserials = [];
        for (const companyName of companyNames) {
            timeserials.push({
                prices: getPrices(companyName, prices)
            });
        }
        const matrixPrice = getMatrixPrices(timeserials);
        const centroid = getCentroid(matrixPrice);
        return centroid;

        function getPrices(companyName, prices) {
            let result = [];
            for (let i = 1; i < prices.length; i++) {
                result.push(prices[i][companyName]);
            }
            return result;
        }

        function getMatrixPrices(companys) {
            let matrix = [];
            for (const company of companys) {
                matrix.push(company.prices);
            }
            return matrix;
        }

        function getCentroid(matrixPrices) {
            let centroid = [];
            for (let col = 0; col < matrixPrices[0].length; col++) {
                let sum = 0;
                for (let row = 0; row < matrixPrices.length; row++) {
                    let cell = matrixPrices[row][col];
                    sum = sum + cell;
                }
                centroid.push(sum / matrixPrices.length);
            }
            return centroid;
        }
    }

    function getForGrachByCompany(companyName, prices) {
        let result = {};
        for (let i = 1; i < prices.length; i++) {
            result[i] = prices[i][companyName];
        }
        return result;
    }

    function getTablePrices() {
        return [{
            "index": 0,
            "ММК": 45.99,
            "ENPL-гдр": 329.0,
            "СевСт-ао": 1017.2,
            "НЛМК ао": 161.12,
            "ТМК ао": 71.6,
            "RUSAL plc": 25.72,
            "ГМКНорНик": 10819
        }, {
            "index": 1,
            "ММК": 46.07,
            "ENPL-гдр": 319.0,
            "СевСт-ао": 1002.0,
            "НЛМК ао": 160.16,
            "ТМК ао": 71.7,
            "RUSAL plc": 25.37,
            "ГМКНорНик": 10682
        }, {
            "index": 2,
            "ММК": 46.24,
            "ENPL-гдр": 305.5,
            "СевСт-ао": 1008.4,
            "НЛМК ао": 161.26,
            "ТМК ао": 71.75,
            "RUSAL plc": 24.95,
            "ГМКНорНик": 10671
        }, {
            "index": 3,
            "ММК": 47.5,
            "ENPL-гдр": 304.5,
            "СевСт-ао": 1021.3,
            "НЛМК ао": 163.4,
            "ТМК ао": 71.95,
            "RUSAL plc": 25.43,
            "ГМКНорНик": 10750
        }, {
            "index": 4,
            "ММК": 47.58,
            "ENPL-гдр": 300.0,
            "СевСт-ао": 1020.3,
            "НЛМК ао": 160.88,
            "ТМК ао": 72.1,
            "RUSAL plc": 25.06,
            "ГМКНорНик": 10798
        }, {
            "index": 5,
            "ММК": 47.025,
            "ENPL-гдр": 291.0,
            "СевСт-ао": 1017.2,
            "НЛМК ао": 158.12,
            "ТМК ао": 72.05,
            "RUSAL plc": 24.59,
            "ГМКНорНик": 10769
        }, {
            "index": 6,
            "ММК": 47.125,
            "ENPL-гдр": 283.5,
            "СевСт-ао": 1017.2,
            "НЛМК ао": 158.66,
            "ТМК ао": 71.55,
            "RUSAL plc": 24.17,
            "ГМКНорНик": 10871
        }, {
            "index": 7,
            "ММК": 45.715,
            "ENPL-гдр": 282.5,
            "СевСт-ао": 987.3,
            "НЛМК ао": 153.66,
            "ТМК ао": 71.0,
            "RUSAL plc": 24.74,
            "ГМКНорНик": 10664
        }, {
            "index": 8,
            "ММК": 45.815,
            "ENPL-гдр": 292.0,
            "СевСт-ао": 1007.6,
            "НЛМК ао": 153.74,
            "ТМК ао": 71.1,
            "RUSAL plc": 24.6,
            "ГМКНорНик": 10981
        }, {
            "index": 9,
            "ММК": 46.16,
            "ENPL-гдр": 296.5,
            "СевСт-ао": 1020.8,
            "НЛМК ао": 154.92,
            "ТМК ао": 71.5,
            "RUSAL plc": 24.46,
            "ГМКНорНик": 11044
        }, {
            "index": 10,
            "ММК": 46.055,
            "ENPL-гдр": 298.5,
            "СевСт-ао": 1015.8,
            "НЛМК ао": 154.2,
            "ТМК ао": 71.35,
            "RUSAL plc": 24.16,
            "ГМКНорНик": 10935
        }, {
            "index": 11,
            "ММК": 45.7,
            "ENPL-гдр": 295.5,
            "СевСт-ао": 1017.9,
            "НЛМК ао": 154.28,
            "ТМК ао": 73.35,
            "RUSAL plc": 24.08,
            "ГМКНорНик": 10932
        }, {
            "index": 12,
            "ММК": 45.82,
            "ENPL-гдр": 295.5,
            "СевСт-ао": 1020.7,
            "НЛМК ао": 154.96,
            "ТМК ао": 73.3,
            "RUSAL plc": 24.21,
            "ГМКНорНик": 10870
        }, {
            "index": 13,
            "ММК": 46.98,
            "ENPL-гдр": 289.5,
            "СевСт-ао": 1037.6,
            "НЛМК ао": 157.38,
            "ТМК ао": 73.05,
            "RUSAL plc": 24.26,
            "ГМКНорНик": 10926
        }, {
            "index": 14,
            "ММК": 46.795,
            "ENPL-гдр": 283.0,
            "СевСт-ао": 1044.1,
            "НЛМК ао": 158.0,
            "ТМК ао": 73.05,
            "RUSAL plc": 24.13,
            "ГМКНорНик": 10964
        }, {
            "index": 15,
            "ММК": 46.87,
            "ENPL-гдр": 273.0,
            "СевСт-ао": 1049.5,
            "НЛМК ао": 159.6,
            "ТМК ао": 72.45,
            "RUSAL plc": 23.74,
            "ГМКНорНик": 10979
        }, {
            "index": 16,
            "ММК": 46.655,
            "ENPL-гдр": 268.5,
            "СевСт-ао": 1057.8,
            "НЛМК ао": 159.92,
            "ТМК ао": 71.45,
            "RUSAL plc": 22.87,
            "ГМКНорНик": 11013
        }, {
            "index": 17,
            "ММК": 46.985,
            "ENPL-гдр": 256.0,
            "СевСт-ао": 1054.4,
            "НЛМК ао": 157.72,
            "ТМК ао": 71.15,
            "RUSAL plc": 21.69,
            "ГМКНорНик": 10991
        }, {
            "index": 18,
            "ММК": 47.375,
            "ENPL-гдр": 259.5,
            "СевСт-ао": 1081.3,
            "НЛМК ао": 158.94,
            "ТМК ао": 71.05,
            "RUSAL plc": 21.74,
            "ГМКНорНик": 11033
        }, {
            "index": 19,
            "ММК": 48.145,
            "ENPL-гдр": 262.0,
            "СевСт-ао": 1091.0,
            "НЛМК ао": 164.2,
            "ТМК ао": 71.65,
            "RUSAL plc": 21.87,
            "ГМКНорНик": 11208
        }, {
            "index": 20,
            "ММК": 48.675,
            "ENPL-гдр": 277.5,
            "СевСт-ао": 1092.8,
            "НЛМК ао": 167.48,
            "ТМК ао": 71.25,
            "RUSAL plc": 22.0,
            "ГМКНорНик": 11308
        }, {
            "index": 21,
            "ММК": 48.785,
            "ENPL-гдр": 281.5,
            "СевСт-ао": 1091.5,
            "НЛМК ао": 167.46,
            "ТМК ао": 71.25,
            "RUSAL plc": 21.98,
            "ГМКНорНик": 11285
        }, {
            "index": 22,
            "ММК": 48.485,
            "ENPL-гдр": 278.5,
            "СевСт-ао": 1081.7,
            "НЛМК ао": 165.42,
            "ТМК ао": 70.6,
            "RUSAL plc": 21.74,
            "ГМКНорНик": 11237
        }, {
            "index": 23,
            "ММК": 48.745,
            "ENPL-гдр": 275.0,
            "СевСт-ао": 1096.5,
            "НЛМК ао": 167.82,
            "ТМК ао": 70.9,
            "RUSAL plc": 21.72,
            "ГМКНорНик": 11270
        }, {
            "index": 24,
            "ММК": 48.59,
            "ENPL-гдр": 269.0,
            "СевСт-ао": 1093.1,
            "НЛМК ао": 166.62,
            "ТМК ао": 71.05,
            "RUSAL plc": 21.54,
            "ГМКНорНик": 11227
        }, {
            "index": 25,
            "ММК": 48.475,
            "ENPL-гдр": 264.5,
            "СевСт-ао": 1081.3,
            "НЛМК ао": 165.06,
            "ТМК ао": 70.65,
            "RUSAL plc": 21.34,
            "ГМКНорНик": 11179
        }, {
            "index": 26,
            "ММК": 48.56,
            "ENPL-гдр": 261.5,
            "СевСт-ао": 1069.7,
            "НЛМК ао": 164.8,
            "ТМК ао": 70.65,
            "RUSAL plc": 21.43,
            "ГМКНорНик": 11215
        }, {
            "index": 27,
            "ММК": 48.95,
            "ENPL-гдр": 265.5,
            "СевСт-ао": 1059.8,
            "НЛМК ао": 164.62,
            "ТМК ао": 70.7,
            "RUSAL plc": 20.7,
            "ГМКНорНик": 11175
        }, {
            "index": 28,
            "ММК": 49.07,
            "ENPL-гдр": 255.0,
            "СевСт-ао": 1061.3,
            "НЛМК ао": 168.58,
            "ТМК ао": 70.65,
            "RUSAL plc": 19.84,
            "ГМКНорНик": 11303
        }, {
            "index": 29,
            "ММК": 48.955,
            "ENPL-гдр": 251.0,
            "СевСт-ао": 1064.7,
            "НЛМК ао": 169.04,
            "ТМК ао": 70.8,
            "RUSAL plc": 19.79,
            "ГМКНорНик": 11401
        }, {
            "index": 30,
            "ММК": 49.37,
            "ENPL-гдр": 264.0,
            "СевСт-ао": 1075.6,
            "НЛМК ао": 169.1,
            "ТМК ао": 71.25,
            "RUSAL plc": 21.99,
            "ГМКНорНик": 11516
        }, {
            "index": 31,
            "ММК": 49.55,
            "ENPL-гдр": 266.0,
            "СевСт-ао": 1088.5,
            "НЛМК ао": 169.6,
            "ТМК ао": 70.05,
            "RUSAL plc": 22.26,
            "ГМКНорНик": 11606
        }, {
            "index": 32,
            "ММК": 49.435,
            "ENPL-гдр": 268.5,
            "СевСт-ао": 1090.9,
            "НЛМК ао": 169.58,
            "ТМК ао": 69.9,
            "RUSAL plc": 23.28,
            "ГМКНорНик": 11551
        }, {
            "index": 33,
            "ММК": 49.21,
            "ENPL-гдр": 290.5,
            "СевСт-ао": 1085.3,
            "НЛМК ао": 171.0,
            "ТМК ао": 70.4,
            "RUSAL plc": 25.96,
            "ГМКНорНик": 11468
        }, {
            "index": 34,
            "ММК": 49.685,
            "ENPL-гдр": 306.0,
            "СевСт-ао": 1079.1,
            "НЛМК ао": 172.52,
            "ТМК ао": 70.1,
            "RUSAL plc": 27.61,
            "ГМКНорНик": 11586
        }, {
            "index": 35,
            "ММК": 49.79,
            "ENPL-гдр": 299.5,
            "СевСт-ао": 1085.9,
            "НЛМК ао": 173.26,
            "ТМК ао": 69.6,
            "RUSAL plc": 27.5,
            "ГМКНорНик": 11694
        }, {
            "index": 36,
            "ММК": 51.005,
            "ENPL-гдр": 303.0,
            "СевСт-ао": 1101.8,
            "НЛМК ао": 175.48,
            "ТМК ао": 69.1,
            "RUSAL plc": 27.89,
            "ГМКНорНик": 11751
        }, {
            "index": 37,
            "ММК": 52.155,
            "ENPL-гдр": 324.5,
            "СевСт-ао": 1109.1,
            "НЛМК ао": 177.0,
            "ТМК ао": 70.85,
            "RUSAL plc": 29.11,
            "ГМКНорНик": 11969
        }, {
            "index": 38,
            "ММК": 51.445,
            "ENPL-гдр": 344.0,
            "СевСт-ао": 1077.8,
            "НЛМК ао": 176.84,
            "ТМК ао": 69.1,
            "RUSAL plc": 28.94,
            "ГМКНорНик": 11915
        }, {
            "index": 39,
            "ММК": 51.025,
            "ENPL-гдр": 333.0,
            "СевСт-ао": 1068.5,
            "НЛМК ао": 176.14,
            "ТМК ао": 68.7,
            "RUSAL plc": 27.76,
            "ГМКНорНик": 11889
        }, {
            "index": 40,
            "ММК": 50.67,
            "ENPL-гдр": 324.0,
            "СевСт-ао": 1069.4,
            "НЛМК ао": 173.7,
            "ТМК ао": 68.35,
            "RUSAL plc": 27.84,
            "ГМКНорНик": 11923
        }, {
            "index": 41,
            "ММК": 51.0,
            "ENPL-гдр": 318.0,
            "СевСт-ао": 1075.7,
            "НЛМК ао": 175.98,
            "ТМК ао": 68.5,
            "RUSAL plc": 28.05,
            "ГМКНорНик": 11838
        }, {
            "index": 42,
            "ММК": 51.445,
            "ENPL-гдр": 303.0,
            "СевСт-ао": 1087.6,
            "НЛМК ао": 177.26,
            "ТМК ао": 68.15,
            "RUSAL plc": 27.84,
            "ГМКНорНик": 11296
        }, {
            "index": 43,
            "ММК": 51.65,
            "ENPL-гдр": 310.0,
            "СевСт-ао": 1086.6,
            "НЛМК ао": 177.9,
            "ТМК ао": 68.3,
            "RUSAL plc": 28.38,
            "ГМКНорНик": 11418
        }, {
            "index": 44,
            "ММК": 51.12,
            "ENPL-гдр": 309.5,
            "СевСт-ао": 1079.4,
            "НЛМК ао": 178.38,
            "ТМК ао": 68.2,
            "RUSAL plc": 28.64,
            "ГМКНорНик": 11251
        }, {
            "index": 45,
            "ММК": 52.635,
            "ENPL-гдр": 313.5,
            "СевСт-ао": 1095.5,
            "НЛМК ао": 180.98,
            "ТМК ао": 67.6,
            "RUSAL plc": 28.89,
            "ГМКНорНик": 11404
        }, {
            "index": 46,
            "ММК": 52.62,
            "ENPL-гдр": 312.5,
            "СевСт-ао": 1107.8,
            "НЛМК ао": 183.3,
            "ТМК ао": 67.65,
            "RUSAL plc": 29.22,
            "ГМКНорНик": 11385
        }, {
            "index": 47,
            "ММК": 52.095,
            "ENPL-гдр": 305.0,
            "СевСт-ао": 1106.4,
            "НЛМК ао": 180.42,
            "ТМК ао": 67.1,
            "RUSAL plc": 28.08,
            "ГМКНорНик": 11312
        }, {
            "index": 48,
            "ММК": 50.62,
            "ENPL-гдр": 302.5,
            "СевСт-ао": 1095.2,
            "НЛМК ао": 179.44,
            "ТМК ао": 66.45,
            "RUSAL plc": 27.91,
            "ГМКНорНик": 11332
        }, {
            "index": 49,
            "ММК": 50.0,
            "ENPL-гдр": 304.5,
            "СевСт-ао": 1096.9,
            "НЛМК ао": 179.74,
            "ТМК ао": 67.25,
            "RUSAL plc": 27.97,
            "ГМКНорНик": 11429
        }, {
            "index": 50,
            "ММК": 48.75,
            "ENPL-гдр": 315.0,
            "СевСт-ао": 1094.4,
            "НЛМК ао": 177.82,
            "ТМК ао": 66.85,
            "RUSAL plc": 28.01,
            "ГМКНорНик": 11475
        }, {
            "index": 51,
            "ММК": 47.475,
            "ENPL-гдр": 304.0,
            "СевСт-ао": 1068.3,
            "НЛМК ао": 167.92,
            "ТМК ао": 65.35,
            "RUSAL plc": 27.58,
            "ГМКНорНик": 11208
        }, {
            "index": 52,
            "ММК": 48.56,
            "ENPL-гдр": 317.0,
            "СевСт-ао": 1058.4,
            "НЛМК ао": 166.86,
            "ТМК ао": 65.0,
            "RUSAL plc": 28.47,
            "ГМКНорНик": 11237
        }, {
            "index": 53,
            "ММК": 48.2,
            "ENPL-гдр": 315.5,
            "СевСт-ао": 1042.6,
            "НЛМК ао": 166.44,
            "ТМК ао": 64.9,
            "RUSAL plc": 28.37,
            "ГМКНорНик": 11098
        }, {
            "index": 54,
            "ММК": 48.03,
            "ENPL-гдр": 315.5,
            "СевСт-ао": 1035.6,
            "НЛМК ао": 165.3,
            "ТМК ао": 64.9,
            "RUSAL plc": 28.43,
            "ГМКНорНик": 11177
        }, {
            "index": 55,
            "ММК": 48.57,
            "ENPL-гдр": 314.5,
            "СевСт-ао": 1068.7,
            "НЛМК ао": 170.76,
            "ТМК ао": 64.85,
            "RUSAL plc": 28.5,
            "ГМКНорНик": 11389
        }, {
            "index": 56,
            "ММК": 47.845,
            "ENPL-гдр": 312.5,
            "СевСт-ао": 1057.8,
            "НЛМК ао": 167.42,
            "ТМК ао": 63.45,
            "RUSAL plc": 28.74,
            "ГМКНорНик": 11332
        }, {
            "index": 57,
            "ММК": 48.04,
            "ENPL-гдр": 305.0,
            "СевСт-ао": 1056.8,
            "НЛМК ао": 163.36,
            "ТМК ао": 62.05,
            "RUSAL plc": 28.85,
            "ГМКНорНик": 11389
        }, {
            "index": 58,
            "ММК": 47.28,
            "ENPL-гдр": 301.5,
            "СевСт-ао": 1051.6,
            "НЛМК ао": 160.0,
            "ТМК ао": 62.4,
            "RUSAL plc": 28.62,
            "ГМКНорНик": 11430
        }, {
            "index": 59,
            "ММК": 45.995,
            "ENPL-гдр": 292.5,
            "СевСт-ао": 1024.7,
            "НЛМК ао": 158.84,
            "ТМК ао": 61.55,
            "RUSAL plc": 28.05,
            "ГМКНорНик": 11172
        }, {
            "index": 60,
            "ММК": 47.33,
            "ENPL-гдр": 297.5,
            "СевСт-ао": 1023.1,
            "НЛМК ао": 159.18,
            "ТМК ао": 61.95,
            "RUSAL plc": 28.24,
            "ГМКНорНик": 11137
        }, {
            "index": 61,
            "ММК": 46.475,
            "ENPL-гдр": 297.5,
            "СевСт-ао": 1007.0,
            "НЛМК ао": 158.58,
            "ТМК ао": 61.35,
            "RUSAL plc": 28.38,
            "ГМКНорНик": 10943
        }, {
            "index": 62,
            "ММК": 46.345,
            "ENPL-гдр": 295.0,
            "СевСт-ао": 996.2,
            "НЛМК ао": 157.82,
            "ТМК ао": 61.2,
            "RUSAL plc": 28.32,
            "ГМКНорНик": 10721
        }, {
            "index": 63,
            "ММК": 46.915,
            "ENPL-гдр": 297.0,
            "СевСт-ао": 995.0,
            "НЛМК ао": 158.72,
            "ТМК ао": 61.55,
            "RUSAL plc": 28.74,
            "ГМКНорНик": 10675
        }, {
            "index": 64,
            "ММК": 46.8,
            "ENPL-гдр": 293.5,
            "СевСт-ао": 993.9,
            "НЛМК ао": 158.1,
            "ТМК ао": 62.05,
            "RUSAL plc": 28.43,
            "ГМКНорНик": 10682
        }, {
            "index": 65,
            "ММК": 47.795,
            "ENPL-гдр": 296.5,
            "СевСт-ао": 1016.6,
            "НЛМК ао": 160.06,
            "ТМК ао": 61.8,
            "RUSAL plc": 28.51,
            "ГМКНорНик": 10920
        }, {
            "index": 66,
            "ММК": 47.42,
            "ENPL-гдр": 295.1,
            "СевСт-ао": 1020.4,
            "НЛМК ао": 158.32,
            "ТМК ао": 61.45,
            "RUSAL plc": 28.175,
            "ГМКНорНик": 11054
        }, {
            "index": 67,
            "ММК": 47.98,
            "ENPL-гдр": 298.2,
            "СевСт-ао": 1037.8,
            "НЛМК ао": 158.66,
            "ТМК ао": 61.85,
            "RUSAL plc": 28.385,
            "ГМКНорНик": 11387
        }, {
            "index": 68,
            "ММК": 47.005,
            "ENPL-гдр": 314.2,
            "СевСт-ао": 1038.2,
            "НЛМК ао": 157.66,
            "ТМК ао": 62.3,
            "RUSAL plc": 29.405,
            "ГМКНорНик": 11489
        }, {
            "index": 69,
            "ММК": 46.18,
            "ENPL-гдр": 313.9,
            "СевСт-ао": 1039.5,
            "НЛМК ао": 157.4,
            "ТМК ао": 62.3,
            "RUSAL plc": 29.75,
            "ГМКНорНик": 11620
        }, {
            "index": 70,
            "ММК": 46.935,
            "ENPL-гдр": 314.6,
            "СевСт-ао": 1031.3,
            "НЛМК ао": 157.46,
            "ТМК ао": 62.35,
            "RUSAL plc": 29.83,
            "ГМКНорНик": 11672
        }, {
            "index": 71,
            "ММК": 47.71,
            "ENPL-гдр": 314.7,
            "СевСт-ао": 1030.0,
            "НЛМК ао": 159.64,
            "ТМК ао": 61.75,
            "RUSAL plc": 29.68,
            "ГМКНорНик": 11615
        }, {
            "index": 72,
            "ММК": 47.975,
            "ENPL-гдр": 320.2,
            "СевСт-ао": 1036.7,
            "НЛМК ао": 161.84,
            "ТМК ао": 61.4,
            "RUSAL plc": 29.915,
            "ГМКНорНик": 11651
        }, {
            "index": 73,
            "ММК": 47.655,
            "ENPL-гдр": 324.6,
            "СевСт-ао": 1035.9,
            "НЛМК ао": 163.38,
            "ТМК ао": 60.8,
            "RUSAL plc": 29.665,
            "ГМКНорНик": 11626
        }, {
            "index": 74,
            "ММК": 47.135,
            "ENPL-гдр": 325.0,
            "СевСт-ао": 1031.8,
            "НЛМК ао": 164.58,
            "ТМК ао": 60.25,
            "RUSAL plc": 29.695,
            "ГМКНорНик": 11613
        }, {
            "index": 75,
            "ММК": 47.5,
            "ENPL-гдр": 324.1,
            "СевСт-ао": 1030.0,
            "НЛМК ао": 164.88,
            "ТМК ао": 60.55,
            "RUSAL plc": 29.655,
            "ГМКНорНик": 11781
        }, {
            "index": 76,
            "ММК": 47.37,
            "ENPL-гдр": 326.2,
            "СевСт-ао": 1025.2,
            "НЛМК ао": 163.86,
            "ТМК ао": 60.7,
            "RUSAL plc": 29.555,
            "ГМКНорНик": 11678
        }, {
            "index": 77,
            "ММК": 47.115,
            "ENPL-гдр": 336.7,
            "СевСт-ао": 1017.6,
            "НЛМК ао": 163.2,
            "ТМК ао": 60.45,
            "RUSAL plc": 29.545,
            "ГМКНорНик": 11778
        }, {
            "index": 78,
            "ММК": 45.625,
            "ENPL-гдр": 333.8,
            "СевСт-ао": 1003.6,
            "НЛМК ао": 162.06,
            "ТМК ао": 59.7,
            "RUSAL plc": 29.14,
            "ГМКНорНик": 11670
        }, {
            "index": 79,
            "ММК": 45.12,
            "ENPL-гдр": 334.7,
            "СевСт-ао": 1007.9,
            "НЛМК ао": 162.8,
            "ТМК ао": 59.25,
            "RUSAL plc": 29.2,
            "ГМКНорНик": 11771
        }, {
            "index": 80,
            "ММК": 46.015,
            "ENPL-гдр": 333.3,
            "СевСт-ао": 1008.0,
            "НЛМК ао": 163.66,
            "ТМК ао": 59.1,
            "RUSAL plc": 29.515,
            "ГМКНорНик": 11846
        }, {
            "index": 81,
            "ММК": 46.025,
            "ENPL-гдр": 327.3,
            "СевСт-ао": 1004.6,
            "НЛМК ао": 164.18,
            "ТМК ао": 58.55,
            "RUSAL plc": 29.33,
            "ГМКНорНик": 11897
        }, {
            "index": 82,
            "ММК": 45.735,
            "ENPL-гдр": 318.0,
            "СевСт-ао": 999.3,
            "НЛМК ао": 162.9,
            "ТМК ао": 58.85,
            "RUSAL plc": 28.41,
            "ГМКНорНик": 11898
        }, {
            "index": 83,
            "ММК": 46.125,
            "ENPL-гдр": 320.1,
            "СевСт-ао": 996.1,
            "НЛМК ао": 162.34,
            "ТМК ао": 59.0,
            "RUSAL plc": 28.87,
            "ГМКНорНик": 12187
        }, {
            "index": 84,
            "ММК": 46.575,
            "ENPL-гдр": 321.5,
            "СевСт-ао": 992.9,
            "НЛМК ао": 160.14,
            "ТМК ао": 58.95,
            "RUSAL plc": 28.825,
            "ГМКНорНик": 12589
        }, {
            "index": 85,
            "ММК": 46.25,
            "ENPL-гдр": 320.0,
            "СевСт-ао": 1003.3,
            "НЛМК ао": 160.76,
            "ТМК ао": 58.95,
            "RUSAL plc": 28.885,
            "ГМКНорНик": 12830
        }, {
            "index": 86,
            "ММК": 46.26,
            "ENPL-гдр": 313.6,
            "СевСт-ао": 999.2,
            "НЛМК ао": 158.78,
            "ТМК ао": 57.1,
            "RUSAL plc": 28.845,
            "ГМКНорНик": 12701
        }, {
            "index": 87,
            "ММК": 46.61,
            "ENPL-гдр": 316.7,
            "СевСт-ао": 978.0,
            "НЛМК ао": 161.22,
            "ТМК ао": 56.6,
            "RUSAL plc": 29.14,
            "ГМКНорНик": 12806
        }, {
            "index": 88,
            "ММК": 46.175,
            "ENPL-гдр": 317.8,
            "СевСт-ао": 968.7,
            "НЛМК ао": 159.94,
            "ТМК ао": 57.2,
            "RUSAL plc": 29.03,
            "ГМКНорНик": 12645
        }, {
            "index": 89,
            "ММК": 45.755,
            "ENPL-гдр": 318.2,
            "СевСт-ао": 966.0,
            "НЛМК ао": 158.32,
            "ТМК ао": 57.1,
            "RUSAL plc": 28.85,
            "ГМКНорНик": 12649
        }, {
            "index": 90,
            "ММК": 45.615,
            "ENPL-гдр": 315.3,
            "СевСт-ао": 954.6,
            "НЛМК ао": 157.18,
            "ТМК ао": 56.8,
            "RUSAL plc": 28.465,
            "ГМКНорНик": 12647
        }, {
            "index": 91,
            "ММК": 46.6,
            "ENPL-гдр": 314.7,
            "СевСт-ао": 956.9,
            "НЛМК ао": 158.06,
            "ТМК ао": 56.4,
            "RUSAL plc": 28.26,
            "ГМКНорНик": 12717
        }, {
            "index": 92,
            "ММК": 47.355,
            "ENPL-гдр": 307.2,
            "СевСт-ао": 954.2,
            "НЛМК ао": 157.08,
            "ТМК ао": 55.95,
            "RUSAL plc": 28.235,
            "ГМКНорНик": 12685
        }, {
            "index": 93,
            "ММК": 46.805,
            "ENPL-гдр": 305.7,
            "СевСт-ао": 939.3,
            "НЛМК ао": 156.96,
            "ТМК ао": 55.65,
            "RUSAL plc": 27.765,
            "ГМКНорНик": 12663
        }, {
            "index": 94,
            "ММК": 46.34,
            "ENPL-гдр": 305.0,
            "СевСт-ао": 933.1,
            "НЛМК ао": 156.4,
            "ТМК ао": 54.65,
            "RUSAL plc": 27.52,
            "ГМКНорНик": 12840
        }, {
            "index": 95,
            "ММК": 46.92,
            "ENPL-гдр": 304.5,
            "СевСт-ао": 933.1,
            "НЛМК ао": 153.96,
            "ТМК ао": 54.45,
            "RUSAL plc": 26.83,
            "ГМКНорНик": 13127
        }, {
            "index": 96,
            "ММК": 46.42,
            "ENPL-гдр": 300.3,
            "СевСт-ао": 932.5,
            "НЛМК ао": 151.76,
            "ТМК ао": 53.85,
            "RUSAL plc": 26.395,
            "ГМКНорНик": 13122
        }];

    }
</script>

<style scoped>
    .big-size {
        font-size: 22px;
    }

    .dataframe tbody tr {
        vertical-align: middle;
        padding: 11px;
    }

    .dataframe th, td {
        padding: 11px;
    }

    .dataframe {
        text-align: center;
        vertical-align: top;
        padding: 6px;
        font-size: 22px;
    }

    .dataframe tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    div.output_subarea {
        overflow-x: auto;
        padding: 0.4em;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        flex: 1;
        max-width: calc(100% - 14ex);
    }
</style>