<template>
    <v-app class="telegram-style">
        <v-navigation-drawer
                class="blue-background width"
                :mini-variant.sync="miniVariant"
                :clipped="clipped"
                v-model="drawer"
                fixed
                app
        >
            <v-list dense>
                <template v-for="item in items">
                    <v-layout

                            row
                            v-if="item.heading"
                            align-center
                            :key="item.heading"
                    >
                        <v-flex xs6>
                            <v-subheader v-if="item.heading">
                                {{ item.heading }}
                            </v-subheader>
                        </v-flex>
                        <v-flex xs6 class="text-xs-center">
                            <a href="#!" class="body-2 black--text">EDIT</a>
                        </v-flex>
                    </v-layout>
                    <v-list-group
                            v-else-if="item.children"
                            v-model="item.model"
                            :key="item.title"
                            :prepend-icon="item.model ? item.icon : item['icon-alt']"
                            append-icon=""
                    >
                        <template v-slot:activator>
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ item.title }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </template>

                        <v-list-item
                                router
                                :to="child.to"
                                :key="i"
                                v-for="(child, i) in item.children"
                        >
                            <v-list-item-action v-if="child.icon">
                                <v-icon>{{ child.icon }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ child.text }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-group>
                    <v-list-item v-else
                                 router
                                 :to="item.to"
                    >
                        <v-list-item-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ item.title }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar
                fixed
                app
                :clipped-left="clipped"
        >
            <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
            <v-btn
                    icon
                    @click.stop="clipped = !clipped"
            >
                >
                <v-icon>web</v-icon>
            </v-btn>
            <v-toolbar-title v-text="title"></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-sm-and-down">
                <v-btn class="hidden-sm-and-down">
                    <v-img src="/logos/itmo_logo.png" alt="Университет ИТМО"/>
                </v-btn>
                <v-btn class="hidden-sm-and-down">
                    <v-img src="/logos/itiviti_logo.png" alt="Itiviti" width="50"/>
                </v-btn>
            </v-toolbar-items>
        </v-app-bar>
        <v-content>
            <v-container>
                <nuxt/>
            </v-container>
        </v-content>

        <v-footer :fixed="fixed">
            <span>&copy; BurdinskiyVA@gmail.com {{ new Date().getFullYear() }}</span>
<!--            <v-btn-->
<!--                    href="https://github.com/difenischin"-->
<!--                    text small color="primary">-->
<!--                GitHub-->
<!--            </v-btn>-->
            <v-btn
                    href="https://bitbucket.org/difenischin/"
                    text small color="primary">Bitbucket Repository
            </v-btn>
        </v-footer>
    </v-app>
</template>

<script>
    export default {
        data() {
            return {
                clipped: false,
                drawer: true,
                fixed: true,
                items: [
                    {icon: 'mdi-home', title: 'Главная', to: '/', model: true},
                    {
                        icon: 'keyboard_arrow_up',
                        'icon-alt': 'keyboard_arrow_down',
                        text: 'More',
                        title: 'Манипуляции на фин рынках',
                        model: false,
                        children: [
                            {text: 'Спуфинг', to: '/manipulations/spoofing'},
                            {text: 'Пример Металлургия', to: '/manipulations/momentumIgnition'},
                            {text: 'Анализ по компании', to: '/manipulations/insiderDealing'},
                        ]
                    },
                    {
                        icon: 'keyboard_arrow_up',
                        'icon-alt': 'keyboard_arrow_down',
                        text: 'More',
                        title: 'Финансовая математика',
                        model: false,
                        children: [
                            {text: 'Введение в статистику', to: '/financialMathematics/simpleStatistics'},
                            {text: 'Европейские опционы', to: '/financialMathematics/options'},
                            {text: 'Американские опционы', to: '/financialMathematics/americanOptions'},
                            {text: 'Конечно разностная схема', to: '/financialMathematics/finiteDifferenceGrid'},
                            {text: 'Лекционные материалы', to: '/financialMathematics/lectures'},
                        ]
                    },
                    {
                        icon: 'keyboard_arrow_up',
                        'icon-alt': 'keyboard_arrow_down',
                        text: 'More',
                        title: 'Для инвесторов',
                        model: false,
                        children: [
                            {text: 'Балансировка портфеля', to: '/invest/InvestorCorrelationInstruments'},
                            {text: 'Анализ всех компаний', to: '/InvestorCompanyFull'},
                            {text: 'Лучшие компании на сегодня', to: '/InvestorCompanyBest'},
                            {text: 'Лучшие компании на сегодня BT', to: '/InvestorCompanyBestBt'},
                        ]
                    },
                    {
                        icon: 'apps',
                        title: 'Лучшие компании на сегодня',
                        model: true,
                        to: '/InvestorCompanyBestBt'
                    },
                    {
                        icon: 'apps',
                        title: 'Анализ организации',
                        model: true,
                        to: '/manipulations/insiderDealing'
                    },
                    {
                        icon: 'apps',
                        title: 'Real trading system',
                        model: true,
                        to: '/StrategiesSystem'
                    },
                    {
                        icon: 'apps',
                        title: 'Complex Systems',
                        model: true,
                        to: '/complexSystems'
                    }
                ],
                miniVariant: false,
                right: true,
                rightDrawer: false,
                title: 'Проекты в рамках университета ИТМО'
            }
        }
    }
</script>

<style>
    .telegram-style {
        background-image: url("/telegram-bg.jpg") !important;
    }

    .blue-background {
        background-color: #5682a3 !important;
    }

    .width {
        width: 300px;
    }

    .v-toolbar__title {
        font-weight: 500;
    }

    .v-toolbar__title:not(:first-child) {
        margin-left: 20px;
    }

    .v-list--dense {
        background-color: #fff !important;
    }

    .theme--light.v-sheet {
        background-color: #f5f5f5;
    }
    .hidden-sm-and-down {
        box-shadow: 0 0 0 0;
    }

</style>
