<template>
    <v-layout>
        <div tabindex="-1" id="notebook" class="border-box-sizing">
            <div class="container" id="notebook-container">

                <div class="cell border-box-sizing text_cell rendered">
                    <div class="prompt input_prompt">
                    </div>
                    <div class="inner_cell">
                        <div class="text_cell_render border-box-sizing rendered_html">
                            <h1>MATHEMATICAL AND COMPUTATIONAL MODELS FOR COMPLEX SYSTEMS</h1>
                            <p>Lecturer: MARCO ALBERTO JAVARONE</p>
                            <p>Laboratory works</p>
                            <p>Authors:
                            <ul>
                                <li>Vyacheslav Burdinskiy
                                    <small>BurdinskiyVA@gmail.com</small>
                                </li>
                                <li>Sergey Yakimov
                                    <small>yakimovsergey26@gmail.com</small>
                                </li>
                            </ul>
                            </p>
                            <p>Code repository reference <a href="https://bitbucket.org/Difenischin/complex_system/src">Bitbucket</a>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="cell border-box-sizing code_cell rendered">
                    <div class="input">
                        <div class="prompt input_prompt">In&nbsp;[20]:</div>
                        <div class="inner_cell">
                            <div class="input_area">
                                <div class=" highlight hl-ipython3"><pre><span></span><span class="ch">#!/usr/bin/env python3</span>
<span class="c1"># -*- coding: utf-8 -*-</span>
<span class="sd">"""</span>
<span class="sd">Created on Tue Apr 24 09:55:50 2018</span>

<span class="sd">@author: marcoj</span>
<span class="sd">"""</span>

<span class="kn">from</span> <span class="nn">numpy</span> <span class="k">import</span> <span class="nb">float</span>
<span class="kn">from</span> <span class="nn">numpy</span> <span class="k">import</span> <span class="o">*</span>

<span class="kn">from</span> <span class="nn">real_node</span> <span class="k">import</span> <span class="o">*</span>
<span class="kn">from</span> <span class="nn">real_node</span> <span class="k">import</span> <span
                                            class="n">real_node</span>

<span class="kn">from</span> <span class="nn">numpy.core.numeric</span> <span class="k">import</span> <span class="n">zeros</span>
<span class="kn">from</span> <span class="nn">time</span> <span class="k">import</span> <span class="n">clock</span>
<span class="kn">import</span> <span class="nn">random</span>


<span class="k">def</span> <span class="nf">weighted_choice</span><span class="p">(</span><span class="n">weights</span><span
                                            class="p">):</span>
    <span class="n">totals</span> <span class="o">=</span> <span class="p">[]</span>
    <span class="n">running_total</span> <span class="o">=</span> <span class="mi">0</span>

    <span class="k">for</span> <span class="n">w</span> <span class="ow">in</span> <span class="n">weights</span><span
                                            class="p">:</span>
        <span class="n">running_total</span> <span class="o">+=</span> <span class="n">w</span>
        <span class="n">totals</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span
                                            class="n">running_total</span><span class="p">)</span>

    <span class="n">rnd</span> <span class="o">=</span> <span class="n">random</span><span class="o">.</span><span
                                            class="n">random</span><span class="p">()</span> <span
                                            class="o">*</span> <span class="n">running_total</span>
    <span class="k">for</span> <span class="n">i</span><span class="p">,</span> <span class="n">total</span> <span
                                            class="ow">in</span> <span class="nb">enumerate</span><span
                                            class="p">(</span><span class="n">totals</span><span class="p">):</span>
        <span class="k">if</span> <span class="n">rnd</span> <span class="o">&lt;</span> <span
                                            class="n">total</span><span class="p">:</span>
            <span class="k">return</span> <span class="n">i</span>


<span class="k">def</span> <span class="nf">compute_magnetization</span><span class="p">(</span><span
                                            class="n">agents</span><span class="p">):</span>
    <span class="n">magnetization</span> <span class="o">=</span> <span class="mf">0.0</span>

    <span class="n">w</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="k">while</span> <span class="n">w</span> <span class="o">&lt;</span> <span class="nb">len</span><span
                                            class="p">(</span><span class="n">agents</span><span class="p">):</span>
        <span class="n">magnetization</span> <span class="o">=</span> <span class="n">magnetization</span> <span
                                            class="o">+</span> <span class="n">agents</span><span
                                            class="p">[</span><span class="n">w</span><span class="p">]</span><span
                                            class="o">.</span><span class="n">spin</span>

        <span class="n">w</span> <span class="o">+=</span> <span class="mi">1</span>

    <span class="k">return</span> <span class="n">magnetization</span> <span class="o">/</span> <span class="n">w</span>


<span class="k">def</span> <span class="nf">compute_energy</span><span class="p">(</span><span
                                            class="n">random_agent</span><span class="p">,</span> <span class="n">current_spin</span><span
                                            class="p">,</span> <span class="n">neigh_list</span><span class="p">,</span> <span
                                            class="n">agents</span><span class="p">):</span>
    <span class="n">energy</span> <span class="o">=</span> <span class="mf">0.0</span>

    <span class="n">w</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="k">while</span> <span class="n">w</span> <span class="o">&lt;</span> <span class="nb">len</span><span
                                            class="p">(</span><span class="n">neigh_list</span><span class="p">):</span>
        <span class="n">current_neigh</span> <span class="o">=</span> <span class="n">neigh_list</span><span
                                            class="p">[</span><span class="n">w</span><span class="p">]</span>

        <span class="n">energy</span> <span class="o">=</span> <span class="n">energy</span> <span
                                            class="o">+</span> <span class="n">current_spin</span> <span
                                            class="o">*</span> <span class="n">agents</span><span
                                            class="p">[</span><span class="n">current_neigh</span><span
                                            class="p">]</span><span class="o">.</span><span class="n">spin</span>

        <span class="n">w</span> <span class="o">+=</span> <span class="mi">1</span>

    <span class="n">energy</span> <span class="o">=</span> <span class="n">energy</span> <span class="o">*</span> <span
                                            class="p">(</span><span class="o">-</span><span class="mi">1</span><span
                                            class="p">)</span>

    <span class="k">return</span> <span class="n">energy</span>


<span class="k">def</span> <span class="nf">run_ising</span><span class="p">(</span><span class="n">agents</span><span
                                            class="p">,</span> <span class="n">temperature</span><span
                                            class="p">,</span> <span class="n">time_step</span><span class="p">):</span>
    <span class="n">mag</span> <span class="o">=</span> <span class="mf">0.0</span>

    <span class="n">k</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="k">while</span> <span class="n">k</span> <span class="o">&lt;</span> <span
                                            class="n">time_step</span><span class="p">:</span>
        <span class="n">random_agent</span> <span class="o">=</span> <span class="n">random</span><span
                                            class="o">.</span><span class="n">randint</span><span
                                            class="p">(</span><span class="mi">0</span><span class="p">,</span> <span
                                            class="nb">len</span><span class="p">(</span><span
                                            class="n">agents</span><span class="p">)</span> <span
                                            class="o">-</span> <span class="mi">1</span><span class="p">)</span>

        <span class="n">initial_energy</span> <span class="o">=</span> <span class="mi">0</span>

        <span class="n">its_spin</span> <span class="o">=</span> <span class="n">agents</span><span
                                            class="p">[</span><span class="n">random_agent</span><span
                                            class="p">]</span><span class="o">.</span><span class="n">spin</span>

        <span class="n">neigh_list</span> <span class="o">=</span> <span class="n">agents</span><span class="p">[</span><span
                                            class="n">random_agent</span><span class="p">]</span><span
                                            class="o">.</span><span class="n">neigh</span>

        <span class="n">initial_energy</span> <span class="o">=</span> <span class="n">compute_energy</span><span
                                            class="p">(</span><span class="n">random_agent</span><span
                                            class="p">,</span> <span class="n">its_spin</span><span
                                            class="p">,</span> <span class="n">neigh_list</span><span class="p">,</span> <span
                                            class="n">agents</span><span class="p">)</span>

        <span class="n">inverse_spin</span> <span class="o">=</span> <span class="n">its_spin</span> <span
                                            class="o">*</span> <span class="p">(</span><span class="o">-</span><span
                                            class="mi">1</span><span class="p">)</span>

        <span class="n">second_energy</span> <span class="o">=</span> <span class="n">compute_energy</span><span
                                            class="p">(</span><span class="n">random_agent</span><span
                                            class="p">,</span> <span class="n">inverse_spin</span><span
                                            class="p">,</span> <span class="n">neigh_list</span><span class="p">,</span> <span
                                            class="n">agents</span><span class="p">)</span>

        <span class="n">delta_energy</span> <span class="o">=</span> <span class="n">second_energy</span> <span
                                            class="o">-</span> <span class="n">initial_energy</span>

        <span class="k">if</span> <span class="n">delta_energy</span> <span class="o">&lt;=</span> <span
                                            class="mi">0</span><span class="p">:</span>

            <span class="n">agents</span><span class="p">[</span><span class="n">random_agent</span><span
                                            class="p">]</span><span class="o">.</span><span
                                            class="n">UpdateSpin</span><span class="p">(</span><span class="n">inverse_spin</span><span
                                            class="p">)</span>

        <span class="k">else</span><span class="p">:</span>
            <span class="n">result</span> <span class="o">=</span> <span class="mi">2</span>
            <span class="n">probability_change</span> <span class="o">=</span> <span class="n">exp</span><span
                                            class="p">(</span><span class="o">-</span><span
                                            class="n">delta_energy</span> <span class="o">/</span> <span class="n">temperature</span><span
                                            class="p">)</span>
            <span class="n">prob_list</span> <span class="o">=</span> <span class="p">[</span><span class="n">probability_change</span><span
                                            class="p">,</span> <span class="mf">1.0</span> <span
                                            class="o">-</span> <span class="n">probability_change</span><span class="p">]</span>

            <span class="n">result</span> <span class="o">=</span> <span class="n">weighted_choice</span><span
                                            class="p">(</span><span class="n">prob_list</span><span class="p">)</span>

            <span class="k">if</span> <span class="n">result</span> <span class="o">==</span> <span
                                            class="mi">0</span><span class="p">:</span>
                <span class="n">agents</span><span class="p">[</span><span class="n">random_agent</span><span class="p">]</span><span
                                            class="o">.</span><span class="n">UpdateSpin</span><span
                                            class="p">(</span><span class="n">inverse_spin</span><span
                                            class="p">)</span>

        <span class="n">k</span> <span class="o">+=</span> <span class="mi">1</span>

    <span class="n">mag</span> <span class="o">=</span> <span class="n">compute_magnetization</span><span
                                            class="p">(</span><span class="n">agents</span><span class="p">)</span>

    <span class="k">return</span> <span class="n">mag</span>


<span class="k">def</span> <span class="nf">generate_lattice_2d</span><span class="p">(</span><span
                                            class="n">nr_agent</span><span class="p">):</span>
    <span class="n">lista_starting</span> <span class="o">=</span> <span class="p">[]</span>
    <span class="c1"># lista_final = []</span>
    <span class="c1"># lista_variation = []</span>

    <span class="n">x</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="n">w</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="k">while</span> <span class="p">(</span><span class="n">x</span> <span class="o">&lt;</span> <span
                                            class="n">nr_agent</span><span class="p">):</span>

        <span class="n">y</span> <span class="o">=</span> <span class="n">x</span>
        <span class="n">w</span> <span class="o">=</span> <span class="mi">0</span>
        <span class="k">while</span> <span class="p">(</span><span class="n">w</span> <span class="o">&lt;</span> <span
                                            class="p">(</span><span class="n">sqrt</span><span class="p">(</span><span
                                            class="n">nr_agent</span><span class="p">)</span> <span
                                            class="o">-</span> <span class="mi">1</span><span class="p">)):</span>
            <span class="n">lista_starting</span><span class="o">.</span><span class="n">append</span><span
                                            class="p">((</span><span class="n">y</span><span class="p">,</span> <span
                                            class="n">y</span> <span class="o">+</span> <span class="mi">1</span><span
                                            class="p">))</span>
            <span class="n">lista_starting</span><span class="o">.</span><span class="n">append</span><span
                                            class="p">((</span><span class="n">y</span> <span class="o">+</span> <span
                                            class="mi">1</span><span class="p">,</span> <span class="n">y</span><span
                                            class="p">))</span>
            <span class="n">y</span> <span class="o">+=</span> <span class="mi">1</span>
            <span class="n">w</span> <span class="o">+=</span> <span class="mi">1</span>
        <span class="n">x</span> <span class="o">+=</span> <span class="nb">int</span><span class="p">(</span><span
                                            class="n">sqrt</span><span class="p">(</span><span class="n">nr_agent</span><span
                                            class="p">))</span>
    <span class="c1"># up down</span>
    <span class="n">x</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="n">w</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="k">while</span> <span class="p">(</span><span class="n">x</span> <span class="o">&lt;</span> <span
                                            class="n">sqrt</span><span class="p">(</span><span class="n">nr_agent</span><span
                                            class="p">)):</span>

        <span class="n">y</span> <span class="o">=</span> <span class="n">x</span>
        <span class="n">w</span> <span class="o">=</span> <span class="mi">0</span>
        <span class="k">while</span> <span class="p">(</span><span class="n">w</span> <span class="o">&lt;</span> <span
                                            class="p">(</span><span class="n">nr_agent</span> <span
                                            class="o">-</span> <span class="n">sqrt</span><span class="p">(</span><span
                                            class="n">nr_agent</span><span class="p">))):</span>
            <span class="n">lista_starting</span><span class="o">.</span><span class="n">append</span><span
                                            class="p">((</span><span class="nb">int</span><span class="p">(</span><span
                                            class="n">y</span> <span class="o">+</span> <span class="n">sqrt</span><span
                                            class="p">(</span><span class="n">nr_agent</span><span class="p">)),</span> <span
                                            class="n">y</span><span class="p">))</span>
            <span class="n">lista_starting</span><span class="o">.</span><span class="n">append</span><span
                                            class="p">((</span><span class="n">y</span><span class="p">,</span> <span
                                            class="p">(</span><span class="nb">int</span><span class="p">(</span><span
                                            class="n">y</span> <span class="o">+</span> <span class="n">sqrt</span><span
                                            class="p">(</span><span class="n">nr_agent</span><span
                                            class="p">)))))</span>
            <span class="n">y</span> <span class="o">+=</span> <span class="nb">int</span><span class="p">(</span><span
                                            class="n">sqrt</span><span class="p">(</span><span class="n">nr_agent</span><span
                                            class="p">))</span>
            <span class="n">w</span> <span class="o">+=</span> <span class="n">sqrt</span><span class="p">(</span><span
                                            class="n">nr_agent</span><span class="p">)</span>

        <span class="n">x</span> <span class="o">+=</span> <span class="mi">1</span>

    <span class="c1">###aggiungo periodic boundary up down</span>
    <span class="n">x</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="n">y</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="k">while</span> <span class="p">(</span><span class="n">x</span> <span class="o">&lt;</span> <span
                                            class="n">sqrt</span><span class="p">(</span><span class="n">nr_agent</span><span
                                            class="p">)):</span>
        <span class="n">y</span> <span class="o">=</span> <span class="n">x</span> <span class="o">+</span> <span
                                            class="p">(</span><span class="n">sqrt</span><span class="p">(</span><span
                                            class="n">nr_agent</span><span class="p">)</span> <span
                                            class="o">-</span> <span class="mi">1</span><span class="p">)</span> <span
                                            class="o">*</span> <span class="n">sqrt</span><span class="p">(</span><span
                                            class="n">nr_agent</span><span class="p">)</span>
        <span class="n">lista_starting</span><span class="o">.</span><span class="n">append</span><span
                                            class="p">((</span><span class="n">x</span><span class="p">,</span> <span
                                            class="nb">int</span><span class="p">(</span><span class="n">y</span><span
                                            class="p">)))</span>
        <span class="n">lista_starting</span><span class="o">.</span><span class="n">append</span><span
                                            class="p">((</span><span class="nb">int</span><span class="p">(</span><span
                                            class="n">y</span><span class="p">),</span> <span class="n">x</span><span
                                            class="p">))</span>

        <span class="n">x</span> <span class="o">+=</span> <span class="mi">1</span>
    <span class="c1">###boundary right left</span>

    <span class="n">x</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="n">y</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="k">while</span> <span class="p">(</span><span class="n">x</span> <span class="o">&lt;</span> <span
                                            class="n">nr_agent</span><span class="p">):</span>
        <span class="n">y</span> <span class="o">=</span> <span class="n">x</span> <span class="o">+</span> <span
                                            class="n">sqrt</span><span class="p">(</span><span class="n">nr_agent</span><span
                                            class="p">)</span> <span class="o">-</span> <span class="mi">1</span>
        <span class="n">lista_starting</span><span class="o">.</span><span class="n">append</span><span
                                            class="p">((</span><span class="n">x</span><span class="p">,</span> <span
                                            class="nb">int</span><span class="p">(</span><span class="n">y</span><span
                                            class="p">)))</span>
        <span class="n">lista_starting</span><span class="o">.</span><span class="n">append</span><span
                                            class="p">((</span><span class="nb">int</span><span class="p">(</span><span
                                            class="n">y</span><span class="p">),</span> <span class="n">x</span><span
                                            class="p">))</span>
        <span class="n">x</span> <span class="o">+=</span> <span class="nb">int</span><span class="p">(</span><span
                                            class="n">sqrt</span><span class="p">(</span><span class="n">nr_agent</span><span
                                            class="p">))</span>

    <span class="k">return</span> <span class="n">lista_starting</span>


<span class="k">def</span> <span class="nf">get_neighs</span><span class="p">(</span><span
                                            class="n">my_lattice</span><span class="p">,</span> <span class="n">k</span><span
                                            class="p">):</span>
    <span class="n">my_list</span> <span class="o">=</span> <span class="p">[]</span>

    <span class="n">w</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="k">while</span> <span class="n">w</span> <span class="o">&lt;</span> <span class="nb">len</span><span
                                            class="p">(</span><span class="n">my_lattice</span><span class="p">):</span>

        <span class="n">elem</span> <span class="o">=</span> <span class="n">my_lattice</span><span
                                            class="p">[</span><span class="n">w</span><span class="p">]</span>
        <span class="k">if</span> <span class="n">elem</span><span class="p">[</span><span class="mi">0</span><span
                                            class="p">]</span> <span class="o">==</span> <span class="n">k</span><span
                                            class="p">:</span>
            <span class="n">my_list</span><span class="o">.</span><span class="n">append</span><span
                                            class="p">(</span><span class="n">elem</span><span class="p">[</span><span
                                            class="mi">1</span><span class="p">])</span>

        <span class="n">w</span> <span class="o">+=</span> <span class="mi">1</span>

    <span class="k">return</span> <span class="n">my_list</span>


<span class="n">nr_agent</span> <span class="o">=</span> <span class="mi">100</span>

<span class="n">my_lattice</span> <span class="o">=</span> <span class="n">generate_lattice_2d</span><span
                                            class="p">(</span><span class="n">nr_agent</span><span class="p">)</span>

<span class="n">start</span> <span class="o">=</span> <span class="n">clock</span><span class="p">()</span>

<span class="n">agents</span> <span class="o">=</span> <span class="p">[]</span>
<span class="n">k</span> <span class="o">=</span> <span class="mi">0</span>

<span class="n">my_spin</span> <span class="o">=</span> <span class="mi">0</span>

<span class="k">while</span> <span class="n">k</span> <span class="o">&lt;</span> <span class="n">nr_agent</span><span
                                            class="p">:</span>

    <span class="n">agents</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span
                                            class="n">real_node</span><span class="p">(</span><span
                                            class="n">k</span><span class="p">))</span>

    <span class="n">random_spin</span> <span class="o">=</span> <span class="n">random</span><span
                                            class="o">.</span><span class="n">randint</span><span
                                            class="p">(</span><span class="mi">0</span><span class="p">,</span> <span
                                            class="mi">2</span><span class="p">)</span>
    <span class="k">if</span> <span class="n">random_spin</span> <span class="o">==</span> <span
                                            class="mi">0</span><span class="p">:</span>
        <span class="n">my_spin</span> <span class="o">=</span> <span class="mi">1</span>
    <span class="k">elif</span> <span class="n">random_spin</span> <span class="o">==</span> <span
                                            class="mi">1</span><span class="p">:</span>
        <span class="n">my_spin</span> <span class="o">=</span> <span class="o">-</span><span class="mi">1</span>
    <span class="c1"># else:</span>
    <span class="c1"># print("Error spin")</span>

    <span class="n">agents</span><span class="p">[</span><span class="n">k</span><span class="p">]</span><span
                                            class="o">.</span><span class="n">UpdateSpin</span><span
                                            class="p">(</span><span class="n">my_spin</span><span class="p">)</span>

    <span class="n">k</span> <span class="o">+=</span> <span class="mi">1</span>

<span class="n">k</span> <span class="o">=</span> <span class="mi">0</span>
<span class="k">while</span> <span class="n">k</span> <span class="o">&lt;</span> <span class="n">nr_agent</span><span
                                            class="p">:</span>
    <span class="n">neighs</span> <span class="o">=</span> <span class="n">get_neighs</span><span
                                            class="p">(</span><span class="n">my_lattice</span><span class="p">,</span> <span
                                            class="n">k</span><span class="p">)</span>

    <span class="n">agents</span><span class="p">[</span><span class="n">k</span><span class="p">]</span><span
                                            class="o">.</span><span class="n">neigh</span> <span
                                            class="o">=</span> <span class="n">neighs</span>

    <span class="n">k</span> <span class="o">+=</span> <span class="mi">1</span>

<span class="c1"># Metropolis</span>
<span class="n">Temperature</span> <span class="o">=</span> <span class="mf">2.1</span>
<span class="n">time_step</span> <span class="o">=</span> <span class="mi">5000</span>
<span class="n">nr_simulation</span> <span class="o">=</span> <span class="mi">50</span>

<span class="n">mag_list</span> <span class="o">=</span> <span class="p">[]</span>

<span class="n">magnetization</span> <span class="o">=</span> <span class="mf">0.0</span>


<span class="k">def</span> <span class="nf">base</span><span class="p">():</span>
    <span class="n">w</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="k">while</span> <span class="n">w</span> <span class="o">&lt;</span> <span
                                            class="n">nr_simulation</span><span class="p">:</span>
        <span class="n">magnetization</span> <span class="o">=</span> <span class="n">run_ising</span><span
                                            class="p">(</span><span class="n">agents</span><span
                                            class="p">,</span> <span class="n">Temperature</span><span
                                            class="p">,</span> <span class="n">time_step</span><span class="p">)</span>

        <span class="n">mag_list</span><span class="o">.</span><span class="n">append</span><span
                                            class="p">(</span><span class="n">magnetization</span><span
                                            class="p">)</span>

        <span class="n">w</span> <span class="o">+=</span> <span class="mi">1</span>

    <span class="n">magnetization</span> <span class="o">=</span> <span class="mf">0.0</span>
    <span class="n">w</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="k">while</span> <span class="n">w</span> <span class="o">&lt;</span> <span class="nb">len</span><span
                                            class="p">(</span><span class="n">mag_list</span><span class="p">):</span>
        <span class="n">magnetization</span> <span class="o">=</span> <span class="n">magnetization</span> <span
                                            class="o">+</span> <span class="n">mag_list</span><span
                                            class="p">[</span><span class="n">w</span><span class="p">]</span>

        <span class="n">w</span> <span class="o">+=</span> <span class="mi">1</span>

    <span class="nb">print</span><span class="p">(</span><span class="s2">"Avg Magnetization: "</span><span
                                            class="p">,</span> <span class="n">magnetization</span> <span
                                            class="o">/</span> <span class="n">w</span><span class="p">)</span>


<span class="k">def</span> <span class="nf">compute_conformist_probopility</span><span class="p">(</span><span
                                            class="n">agents</span><span class="p">,</span> <span
                                            class="n">neigh_list</span><span class="p">):</span>
    <span class="k">def</span> <span class="nf">get_count_positiv_neigh</span><span class="p">():</span>
        <span class="n">count_positiv_neigh</span> <span class="o">=</span> <span class="mi">0</span>
        <span class="k">for</span> <span class="n">neigh_index</span> <span class="ow">in</span> <span class="n">neigh_list</span><span
                                            class="p">:</span>
            <span class="n">energy</span> <span class="o">=</span> <span class="n">agents</span><span class="p">[</span><span
                                            class="n">neigh_index</span><span class="p">]</span><span class="o">.</span><span
                                            class="n">spin</span>
            <span class="k">if</span> <span class="p">(</span><span class="n">energy</span> <span
                                            class="o">==</span> <span class="mi">1</span><span class="p">):</span>
                <span class="n">count_positiv_neigh</span> <span class="o">+=</span> <span class="mi">1</span>

        <span class="k">return</span> <span class="n">count_positiv_neigh</span>

    <span class="n">count_positiv_spin</span> <span class="o">=</span> <span
                                            class="n">get_count_positiv_neigh</span><span class="p">()</span>
    <span class="n">flip_probability</span> <span class="o">=</span> <span class="n">count_positiv_spin</span> <span
                                            class="o">/</span> <span class="nb">len</span><span class="p">(</span><span
                                            class="n">neigh_list</span><span class="p">)</span>
    <span class="n">no_flip_probability</span> <span class="o">=</span> <span class="mi">1</span> <span
                                            class="o">-</span> <span class="n">flip_probability</span>
    <span class="k">return</span> <span class="n">flip_probability</span><span class="p">,</span> <span class="n">no_flip_probability</span>


<span class="k">def</span> <span class="nf">conformist_probopility</span><span class="p">():</span>
    <span class="n">k</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="k">while</span> <span class="n">k</span> <span class="o">&lt;</span> <span
                                            class="n">time_step</span><span class="p">:</span>
        <span class="n">random_agent</span> <span class="o">=</span> <span class="n">random</span><span
                                            class="o">.</span><span class="n">randint</span><span
                                            class="p">(</span><span class="mi">0</span><span class="p">,</span> <span
                                            class="nb">len</span><span class="p">(</span><span
                                            class="n">agents</span><span class="p">)</span> <span
                                            class="o">-</span> <span class="mi">1</span><span class="p">)</span>

        <span class="n">its_spin</span> <span class="o">=</span> <span class="n">agents</span><span
                                            class="p">[</span><span class="n">random_agent</span><span
                                            class="p">]</span><span class="o">.</span><span class="n">spin</span>
        <span class="n">inverse_spin</span> <span class="o">=</span> <span class="n">its_spin</span> <span
                                            class="o">*</span> <span class="p">(</span><span class="o">-</span><span
                                            class="mi">1</span><span class="p">)</span>
        <span class="n">neigh_list</span> <span class="o">=</span> <span class="n">agents</span><span class="p">[</span><span
                                            class="n">random_agent</span><span class="p">]</span><span
                                            class="o">.</span><span class="n">neigh</span>

        <span class="n">flip_probability</span><span class="p">,</span> <span
                                            class="n">not_flip_probability</span> <span class="o">=</span> <span
                                            class="n">compute_conformist_probopility</span><span class="p">(</span><span
                                            class="n">agents</span><span class="p">,</span> <span
                                            class="n">neigh_list</span><span class="p">)</span>

        <span class="n">prob_list</span> <span class="o">=</span> <span class="p">[</span><span class="n">flip_probability</span><span
                                            class="p">,</span> <span class="mf">1.0</span> <span
                                            class="o">-</span> <span class="n">not_flip_probability</span><span
                                            class="p">]</span>

        <span class="n">result</span> <span class="o">=</span> <span class="n">weighted_choice</span><span
                                            class="p">(</span><span class="n">prob_list</span><span class="p">)</span>

        <span class="k">if</span> <span class="n">result</span> <span class="o">==</span> <span class="mi">0</span><span
                                            class="p">:</span>
            <span class="n">agents</span><span class="p">[</span><span class="n">random_agent</span><span
                                            class="p">]</span><span class="o">.</span><span
                                            class="n">UpdateSpin</span><span class="p">(</span><span class="n">inverse_spin</span><span
                                            class="p">)</span>

        <span class="n">k</span> <span class="o">+=</span> <span class="mi">1</span>

    <span class="n">mag</span> <span class="o">=</span> <span class="n">compute_magnetization</span><span
                                            class="p">(</span><span class="n">agents</span><span class="p">)</span>

    <span class="k">return</span> <span class="n">mag</span>


<span class="k">def</span> <span class="nf">simulations_conformist</span><span class="p">():</span>
    <span class="n">magnetization</span> <span class="o">=</span> <span class="mf">0.0</span>
    <span class="n">conformist_magnetizations</span> <span class="o">=</span> <span class="p">[]</span>
    <span class="n">w</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="k">while</span> <span class="n">w</span> <span class="o">&lt;</span> <span
                                            class="n">nr_simulation</span><span class="p">:</span>
        <span class="n">magnetization</span> <span class="o">=</span> <span class="n">conformist_probopility</span><span
                                            class="p">()</span>
        <span class="n">conformist_magnetizations</span><span class="o">.</span><span class="n">append</span><span
                                            class="p">(</span><span class="n">magnetization</span><span
                                            class="p">)</span>
        <span class="n">w</span> <span class="o">+=</span> <span class="mi">1</span>

    <span class="n">magnetization</span> <span class="o">=</span> <span class="mf">0.0</span>
    <span class="n">sum_conformist_magnetizations</span> <span class="o">=</span> <span class="nb">sum</span><span
                                            class="p">(</span><span class="n">conformist_magnetizations</span><span
                                            class="p">)</span>

    <span class="nb">print</span><span class="p">(</span><span
                                            class="s2">"Avg Magnetization (simulations_conformist): "</span><span
                                            class="p">,</span> <span
                                            class="n">sum_conformist_magnetizations</span> <span
                                            class="o">/</span> <span class="n">w</span><span class="p">)</span>


<span class="k">def</span> <span class="nf">get_merge_conformist_temperature</span><span class="p">(</span><span
                                            class="n">temperature</span><span class="p">,</span> <span class="n">percent_conformist</span><span
                                            class="p">,</span> <span class="n">time_step</span><span class="p">):</span>
    <span class="k">def</span> <span class="nf">for_temperature</span><span class="p">():</span>
        <span class="n">initial_energy</span> <span class="o">=</span> <span class="mi">0</span>

        <span class="n">its_spin</span> <span class="o">=</span> <span class="n">agents</span><span
                                            class="p">[</span><span class="n">random_agent</span><span
                                            class="p">]</span><span class="o">.</span><span class="n">spin</span>

        <span class="n">neigh_list</span> <span class="o">=</span> <span class="n">agents</span><span class="p">[</span><span
                                            class="n">random_agent</span><span class="p">]</span><span
                                            class="o">.</span><span class="n">neigh</span>

        <span class="n">initial_energy</span> <span class="o">=</span> <span class="n">compute_energy</span><span
                                            class="p">(</span><span class="n">random_agent</span><span
                                            class="p">,</span> <span class="n">its_spin</span><span
                                            class="p">,</span> <span class="n">neigh_list</span><span class="p">,</span> <span
                                            class="n">agents</span><span class="p">)</span>

        <span class="n">inverse_spin</span> <span class="o">=</span> <span class="n">its_spin</span> <span
                                            class="o">*</span> <span class="p">(</span><span class="o">-</span><span
                                            class="mi">1</span><span class="p">)</span>

        <span class="n">second_energy</span> <span class="o">=</span> <span class="n">compute_energy</span><span
                                            class="p">(</span><span class="n">random_agent</span><span
                                            class="p">,</span> <span class="n">inverse_spin</span><span
                                            class="p">,</span> <span class="n">neigh_list</span><span class="p">,</span> <span
                                            class="n">agents</span><span class="p">)</span>

        <span class="n">delta_energy</span> <span class="o">=</span> <span class="n">second_energy</span> <span
                                            class="o">-</span> <span class="n">initial_energy</span>

        <span class="k">if</span> <span class="n">delta_energy</span> <span class="o">&lt;=</span> <span
                                            class="mi">0</span><span class="p">:</span>

            <span class="n">agents</span><span class="p">[</span><span class="n">random_agent</span><span
                                            class="p">]</span><span class="o">.</span><span
                                            class="n">UpdateSpin</span><span class="p">(</span><span class="n">inverse_spin</span><span
                                            class="p">)</span>

        <span class="k">else</span><span class="p">:</span>
            <span class="kn">import</span> <span class="nn">numpy</span> <span class="k">as</span> <span
                                            class="nn">np</span>
            <span class="n">probability_change</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span
                                            class="n">exp</span><span class="p">(</span><span class="o">-</span><span
                                            class="n">delta_energy</span> <span class="o">/</span> <span class="n">temperature</span><span
                                            class="p">)</span>
            <span class="n">prob_list</span> <span class="o">=</span> <span class="p">[</span><span class="n">probability_change</span><span
                                            class="p">,</span> <span class="mf">1.0</span> <span
                                            class="o">-</span> <span class="n">probability_change</span><span class="p">]</span>

            <span class="n">result</span> <span class="o">=</span> <span class="n">weighted_choice</span><span
                                            class="p">(</span><span class="n">prob_list</span><span class="p">)</span>

            <span class="k">if</span> <span class="n">result</span> <span class="o">==</span> <span
                                            class="mi">0</span><span class="p">:</span>
                <span class="n">agents</span><span class="p">[</span><span class="n">random_agent</span><span class="p">]</span><span
                                            class="o">.</span><span class="n">UpdateSpin</span><span
                                            class="p">(</span><span class="n">inverse_spin</span><span
                                            class="p">)</span>

    <span class="k">def</span> <span class="nf">for_conformist</span><span class="p">():</span>
        <span class="n">its_spin</span> <span class="o">=</span> <span class="n">agents</span><span
                                            class="p">[</span><span class="n">random_agent</span><span
                                            class="p">]</span><span class="o">.</span><span class="n">spin</span>
        <span class="n">inverse_spin</span> <span class="o">=</span> <span class="n">its_spin</span> <span
                                            class="o">*</span> <span class="p">(</span><span class="o">-</span><span
                                            class="mi">1</span><span class="p">)</span>
        <span class="n">neigh_list</span> <span class="o">=</span> <span class="n">agents</span><span class="p">[</span><span
                                            class="n">random_agent</span><span class="p">]</span><span
                                            class="o">.</span><span class="n">neigh</span>

        <span class="n">flip_probability</span><span class="p">,</span> <span
                                            class="n">not_flip_probability</span> <span class="o">=</span> <span
                                            class="n">compute_conformist_probopility</span><span class="p">(</span><span
                                            class="n">agents</span><span class="p">,</span> <span
                                            class="n">neigh_list</span><span class="p">)</span>

        <span class="n">prob_list</span> <span class="o">=</span> <span class="p">[</span><span class="n">flip_probability</span><span
                                            class="p">,</span> <span class="mf">1.0</span> <span
                                            class="o">-</span> <span class="n">not_flip_probability</span><span
                                            class="p">]</span>

        <span class="n">result</span> <span class="o">=</span> <span class="n">weighted_choice</span><span
                                            class="p">(</span><span class="n">prob_list</span><span class="p">)</span>

        <span class="k">if</span> <span class="n">result</span> <span class="o">==</span> <span class="mi">0</span><span
                                            class="p">:</span>
            <span class="n">agents</span><span class="p">[</span><span class="n">random_agent</span><span
                                            class="p">]</span><span class="o">.</span><span
                                            class="n">UpdateSpin</span><span class="p">(</span><span class="n">inverse_spin</span><span
                                            class="p">)</span>

    <span class="n">mag</span> <span class="o">=</span> <span class="mf">0.0</span>
    <span class="n">k</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="k">while</span> <span class="n">k</span> <span class="o">&lt;</span> <span
                                            class="n">time_step</span><span class="p">:</span>
        <span class="n">random_agent</span> <span class="o">=</span> <span class="n">random</span><span
                                            class="o">.</span><span class="n">randint</span><span
                                            class="p">(</span><span class="mi">0</span><span class="p">,</span> <span
                                            class="nb">len</span><span class="p">(</span><span
                                            class="n">agents</span><span class="p">)</span> <span
                                            class="o">-</span> <span class="mi">1</span><span class="p">)</span>
        <span class="n">is_temperature</span> <span class="o">=</span> <span class="n">agents</span><span
                                            class="p">[</span><span class="n">random_agent</span><span
                                            class="p">]</span><span class="o">.</span><span
                                            class="n">behavior</span> <span class="o">&gt;</span> <span class="n">percent_conformist</span>
        <span class="k">if</span> <span class="p">(</span><span class="n">is_temperature</span><span class="p">):</span>
            <span class="n">for_temperature</span><span class="p">()</span>
        <span class="k">else</span><span class="p">:</span>
            <span class="n">for_conformist</span><span class="p">()</span>

        <span class="n">k</span> <span class="o">+=</span> <span class="mi">1</span>

    <span class="n">mag</span> <span class="o">=</span> <span class="n">compute_magnetization</span><span
                                            class="p">(</span><span class="n">agents</span><span class="p">)</span>

    <span class="k">return</span> <span class="n">mag</span>


<span class="k">def</span> <span class="nf">get_data_for_graph</span><span class="p">(</span><span class="n">temperature_range</span><span
                                            class="p">,</span> <span class="n">percent_conformist_range</span><span
                                            class="p">,</span> <span class="n">time_step</span><span class="p">,</span> <span
                                            class="n">count_simulation</span><span class="o">=</span><span
                                            class="mi">1</span><span class="p">):</span>
    <span class="k">def</span> <span class="nf">get_avg_magnetization</span><span class="p">(</span><span class="n">temper</span><span
                                            class="p">,</span> <span class="n">percent_conformist</span><span class="p">):</span>
        <span class="n">magnetization</span> <span class="o">=</span> <span class="mf">0.0</span>
        <span class="n">number_simulation</span> <span class="o">=</span> <span class="mi">0</span>
        <span class="k">while</span> <span class="n">number_simulation</span> <span class="o">&lt;</span> <span
                                            class="n">count_simulation</span><span class="p">:</span>
            <span class="n">magnetization</span> <span class="o">+=</span> <span class="nb">abs</span><span
                                            class="p">(</span><span
                                            class="n">get_merge_conformist_temperature</span><span
                                            class="p">(</span><span class="n">temper</span><span
                                            class="p">,</span> <span class="n">percent_conformist</span><span class="p">,</span> <span
                                            class="n">time_step</span><span class="p">))</span>
            <span class="n">number_simulation</span> <span class="o">+=</span> <span class="mi">1</span>

        <span class="n">avg</span> <span class="o">=</span> <span class="n">magnetization</span> <span
                                            class="o">/</span> <span class="n">count_simulation</span>
        <span class="k">return</span> <span class="n">avg</span>

    <span class="n">result_temperatures</span> <span class="o">=</span> <span class="p">[]</span>
    <span class="n">result_percent_conformist</span> <span class="o">=</span> <span class="p">[]</span>
    <span class="n">result_magnetization</span> <span class="o">=</span> <span class="p">[]</span>
    <span class="k">for</span> <span class="n">temper</span> <span class="ow">in</span> <span class="n">temperature_range</span><span
                                            class="p">:</span>
        <span class="k">for</span> <span class="n">percent_conformist</span> <span class="ow">in</span> <span class="n">percent_conformist_range</span><span
                                            class="p">:</span>
            <span class="n">avg_magnetization</span> <span class="o">=</span> <span
                                            class="n">get_avg_magnetization</span><span class="p">(</span><span
                                            class="n">temper</span><span class="p">,</span> <span class="n">percent_conformist</span><span
                                            class="p">)</span>
            <span class="n">result_magnetization</span><span class="o">.</span><span class="n">append</span><span
                                            class="p">(</span><span class="n">avg_magnetization</span><span
                                            class="p">)</span>
            <span class="n">result_temperatures</span><span class="o">.</span><span class="n">append</span><span
                                            class="p">(</span><span class="n">temper</span><span class="p">)</span>
            <span class="n">result_percent_conformist</span><span class="o">.</span><span class="n">append</span><span
                                            class="p">(</span><span class="n">percent_conformist</span><span
                                            class="p">)</span>

    <span class="k">return</span> <span class="p">{</span><span class="s1">'temperatures'</span><span class="p">:</span> <span
                                            class="n">result_temperatures</span><span class="p">,</span>
            <span class="s1">'percent_conformist'</span><span class="p">:</span> <span class="n">result_percent_conformist</span><span
                                            class="p">,</span>
            <span class="s1">'magnetization'</span><span class="p">:</span> <span
                                            class="n">result_magnetization</span><span class="p">}</span>


<span class="k">def</span> <span class="nf">create_graph</span><span class="p">(</span><span
                                            class="n">time_step</span><span class="p">,</span> <span class="n">count_simulation</span><span
                                            class="o">=</span><span class="mi">10</span><span class="p">):</span>
    <span class="n">temperature_range</span> <span class="o">=</span> <span class="n">get_temperature_range</span><span
                                            class="p">()</span>
    <span class="n">percent_conformist_range</span> <span class="o">=</span> <span class="n">get_percent_conformist_range</span><span
                                            class="p">()</span>
    <span class="n">data</span> <span class="o">=</span> <span class="n">get_data_for_graph</span><span
                                            class="p">(</span><span class="n">temperature_range</span><span
                                            class="p">,</span> <span class="n">percent_conformist_range</span><span
                                            class="p">,</span> <span class="n">time_step</span><span class="p">,</span> <span
                                            class="n">count_simulation</span><span class="p">)</span>
    <span class="kn">import</span> <span class="nn">matplotlib.pyplot</span> <span class="k">as</span> <span class="nn">plt</span>
    <span class="kn">from</span> <span class="nn">mpl_toolkits.mplot3d</span> <span class="k">import</span> <span
                                            class="n">Axes3D</span>

    <span class="n">baseFigure</span> <span class="o">=</span> <span class="n">plt</span><span class="o">.</span><span
                                            class="n">figure</span><span class="p">(</span><span
                                            class="mi">1</span><span class="p">,</span> <span
                                            class="n">figsize</span><span class="o">=</span><span
                                            class="p">(</span><span class="mi">8</span><span class="p">,</span> <span
                                            class="mi">6</span><span class="p">))</span>
    <span class="n">ax</span> <span class="o">=</span> <span class="n">Axes3D</span><span class="p">(</span><span
                                            class="n">baseFigure</span><span class="p">,</span> <span
                                            class="n">elev</span><span class="o">=-</span><span
                                            class="mi">150</span><span class="p">,</span> <span
                                            class="n">azim</span><span class="o">=</span><span
                                            class="mi">110</span><span class="p">)</span>
    <span class="n">ax</span><span class="o">.</span><span class="n">set_xlabel</span><span class="p">(</span><span
                                            class="s2">"temperatures"</span><span class="p">)</span>
    <span class="n">ax</span><span class="o">.</span><span class="n">set_ylabel</span><span class="p">(</span><span
                                            class="s2">"percent conformist"</span><span class="p">)</span>
    <span class="n">ax</span><span class="o">.</span><span class="n">set_zlabel</span><span class="p">(</span><span
                                            class="s2">"magnetization"</span><span class="p">)</span>
    <span class="n">ax</span><span class="o">.</span><span class="n">scatter</span><span class="p">(</span><span
                                            class="n">data</span><span class="p">[</span><span
                                            class="s1">'temperatures'</span><span class="p">],</span> <span class="n">data</span><span
                                            class="p">[</span><span class="s1">'percent_conformist'</span><span
                                            class="p">],</span> <span class="n">data</span><span class="p">[</span><span
                                            class="s1">'magnetization'</span><span class="p">])</span>


<span class="k">def</span> <span class="nf">get_temperature_range</span><span class="p">():</span>
    <span class="n">temperatures</span> <span class="o">=</span> <span class="p">[]</span>
    <span class="n">start</span> <span class="o">=</span> <span class="mi">1</span>
    <span class="k">for</span> <span class="n">x</span> <span class="ow">in</span> <span class="nb">range</span><span
                                            class="p">(</span><span class="mi">0</span><span class="p">,</span> <span
                                            class="mi">25</span><span class="p">):</span>
        <span class="n">temperatures</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span
                                            class="n">start</span><span class="p">)</span>
        <span class="n">start</span> <span class="o">+=</span> <span class="mf">0.25</span>
    <span class="k">return</span> <span class="n">temperatures</span>


<span class="k">def</span> <span class="nf">get_percent_conformist_range</span><span class="p">():</span>
    <span class="n">percent_conformist</span> <span class="o">=</span> <span class="p">[]</span>
    <span class="n">start</span> <span class="o">=</span> <span class="mf">0.0</span>
    <span class="k">for</span> <span class="n">x</span> <span class="ow">in</span> <span class="nb">range</span><span
                                            class="p">(</span><span class="mi">0</span><span class="p">,</span> <span
                                            class="mi">10</span><span class="p">):</span>
        <span class="n">percent_conformist</span><span class="o">.</span><span class="n">append</span><span
                                            class="p">(</span><span class="n">start</span><span class="p">)</span>
        <span class="n">start</span> <span class="o">+=</span> <span class="mf">0.1</span>
    <span class="k">return</span> <span class="n">percent_conformist</span>


<span class="k">def</span> <span class="nf">create_graph_temperature_range</span><span class="p">(</span><span
                                            class="n">time_step</span><span class="p">,</span> <span class="n">count_simulation</span><span
                                            class="o">=</span><span class="mi">10</span><span class="p">):</span>
    <span class="n">temperature_range</span> <span class="o">=</span> <span class="n">get_temperature_range</span><span
                                            class="p">()</span>
    <span class="n">percent_conformist_range</span> <span class="o">=</span> <span class="p">[</span><span
                                            class="mi">0</span><span class="p">]</span>

    <span class="n">data</span> <span class="o">=</span> <span class="n">get_data_for_graph</span><span
                                            class="p">(</span><span class="n">temperature_range</span><span
                                            class="p">,</span> <span class="n">percent_conformist_range</span><span
                                            class="p">,</span> <span class="n">time_step</span><span class="p">,</span> <span
                                            class="n">count_simulation</span><span class="p">)</span>

    <span class="kn">import</span> <span class="nn">matplotlib.pyplot</span> <span class="k">as</span> <span class="nn">plt</span>
    <span class="n">plt</span><span class="o">.</span><span class="n">plot</span><span class="p">(</span><span
                                            class="n">data</span><span class="p">[</span><span
                                            class="s1">'temperatures'</span><span class="p">],</span> <span class="n">data</span><span
                                            class="p">[</span><span class="s1">'magnetization'</span><span
                                            class="p">],</span> <span class="s1">'ro'</span><span class="p">)</span>
    <span class="n">plt</span><span class="o">.</span><span class="n">axis</span><span class="p">([</span><span
                                            class="o">-</span><span class="mf">0.1</span><span class="p">,</span> <span
                                            class="mi">10</span><span class="p">,</span> <span class="o">-</span><span
                                            class="mf">0.1</span><span class="p">,</span> <span
                                            class="mf">1.1</span><span class="p">])</span>
    <span class="n">plt</span><span class="o">.</span><span class="n">xlabel</span><span class="p">(</span><span
                                            class="s1">'temperature'</span><span class="p">)</span>
    <span class="n">plt</span><span class="o">.</span><span class="n">ylabel</span><span class="p">(</span><span
                                            class="s1">'magnetization'</span><span class="p">)</span>
    <span class="n">plt</span><span class="o">.</span><span class="n">show</span><span class="p">()</span>


<span class="k">def</span> <span class="nf">simulations_merge_conformist_temperature</span><span class="p">():</span>
    <span class="n">magnetization</span> <span class="o">=</span> <span class="mf">0.0</span>
    <span class="n">conformist_magnetizations</span> <span class="o">=</span> <span class="p">[]</span>
    <span class="n">w</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="k">while</span> <span class="n">w</span> <span class="o">&lt;</span> <span
                                            class="n">nr_simulation</span><span class="p">:</span>
        <span class="n">magnetization</span> <span class="o">=</span> <span
                                            class="n">get_merge_conformist_temperature</span><span
                                            class="p">(</span><span class="n">border_behavior</span><span
                                            class="o">=</span><span class="mf">0.7</span><span class="p">)</span>
        <span class="n">conformist_magnetizations</span><span class="o">.</span><span class="n">append</span><span
                                            class="p">(</span><span class="n">magnetization</span><span
                                            class="p">)</span>
        <span class="n">w</span> <span class="o">+=</span> <span class="mi">1</span>

    <span class="n">magnetization</span> <span class="o">=</span> <span class="mf">0.0</span>
    <span class="n">sum_conformist_magnetizations</span> <span class="o">=</span> <span class="nb">sum</span><span
                                            class="p">(</span><span class="n">conformist_magnetizations</span><span
                                            class="p">)</span>

    <span class="nb">print</span><span class="p">(</span><span
                                            class="s2">"Avg Magnetization (simulations_conformist): "</span><span
                                            class="p">,</span> <span
                                            class="n">sum_conformist_magnetizations</span> <span
                                            class="o">/</span> <span class="n">w</span><span class="p">)</span>
</pre>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="cell border-box-sizing code_cell rendered">
                    <div class="input">
                        <div class="prompt input_prompt">In&nbsp;[19]:</div>
                        <div class="inner_cell">
                            <div class="input_area">
                                <div class=" highlight hl-ipython3"><pre><span></span><span class="n">create_graph_temperature_range</span><span
                                        class="p">(</span><span class="n">time_step</span><span class="o">=</span><span
                                        class="mi">18000</span><span class="p">,</span> <span
                                        class="n">count_simulation</span><span class="o">=</span><span
                                        class="mi">10</span><span class="p">)</span>
</pre>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="output_wrapper">
                        <div class="output">


                            <div class="output_area">

                                <div class="prompt"></div>


                                <div class="output_png output_subarea ">
                                    <img src="/complex_systems/magnetizm_temperature.png">
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="cell border-box-sizing code_cell rendered">
                    <div class="input">
                        <div class="prompt input_prompt">In&nbsp;[21]:</div>
                        <div class="inner_cell">
                            <div class="input_area">
                                <div class=" highlight hl-ipython3"><pre><span></span><span
                                        class="n">create_graph</span><span class="p">(</span><span
                                        class="n">time_step</span><span class="o">=</span><span
                                        class="mi">10000</span><span class="p">,</span>
             <span class="n">count_simulation</span><span class="o">=</span><span class="mi">10</span><span
                                            class="p">)</span>  <span class="c1"># number of operations = temperatures=25 * 10 * time_step=10000 * count_simulation=10</span>
</pre>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="output_wrapper">
                        <div class="output">


                            <div class="output_area">

                                <div class="prompt"></div>


                                <div class="output_png output_subarea ">
                                    <img src="/complex_systems/t_comformist_magnetizm.png">
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="cell border-box-sizing text_cell rendered">
                    <div class="prompt input_prompt">
                    </div>
                    <div class="inner_cell">
                        <div class="text_cell_render border-box-sizing rendered_html">
                            <p>to view the graph in 3d</p>

                        </div>
                    </div>
                </div>
                <div class="cell border-box-sizing code_cell rendered">
                    <div class="input">
                        <div class="prompt input_prompt">In&nbsp;[6]:</div>
                        <div class="inner_cell">
                            <div class="input_area">
                                <div class=" highlight hl-ipython3"><pre><span></span><span class="kn">from</span> <span
                                        class="nn">matplotlib</span> <span class="k">import</span> <span class="n">pyplot</span> <span
                                        class="k">as</span> <span class="n">plt</span>
<span class="o">%</span><span class="k">matplotlib</span> qt
<span class="n">create_graph</span><span class="p">(</span><span class="n">time_step</span><span class="o">=</span><span
                                            class="mi">10000</span><span class="p">,</span>
             <span class="n">count_simulation</span><span class="o">=</span><span class="mi">10</span><span
                                            class="p">)</span>  <span class="c1"># number of operations = temperatures=25 * 10 * time_step=10000 * count_simulation=10</span>
</pre>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </v-layout>
</template>
<script>
    export default {
        name: "complexSystems"
    }
</script>

<style scoped>
    .highlight .hll {
        background-color: #ffffcc
    }

    .highlight {
        background: #0000000a;
    }

    .highlight .c {
        color: #408080;
        font-style: italic
    }

    /* Comment */
    .highlight .err {
        border: 1px solid #FF0000
    }

    /* Error */
    .highlight .k {
        color: #008000;
        font-weight: bold
    }

    /* Keyword */
    .highlight .o {
        color: #666666
    }

    /* Operator */
    .highlight .ch {
        color: #408080;
        font-style: italic
    }

    /* Comment.Hashbang */
    .highlight .cm {
        color: #408080;
        font-style: italic
    }

    /* Comment.Multiline */
    .highlight .cp {
        color: #BC7A00
    }

    /* Comment.Preproc */
    .highlight .cpf {
        color: #408080;
        font-style: italic
    }

    /* Comment.PreprocFile */
    .highlight .c1 {
        color: #408080;
        font-style: italic
    }

    /* Comment.Single */
    .highlight .cs {
        color: #408080;
        font-style: italic
    }

    /* Comment.Special */
    .highlight .gd {
        color: #A00000
    }

    /* Generic.Deleted */
    .highlight .ge {
        font-style: italic
    }

    /* Generic.Emph */
    .highlight .gr {
        color: #FF0000
    }

    /* Generic.Error */
    .highlight .gh {
        color: #000080;
        font-weight: bold
    }

    /* Generic.Heading */
    .highlight .gi {
        color: #00A000
    }

    /* Generic.Inserted */
    .highlight .go {
        color: #888888
    }

    /* Generic.Output */
    .highlight .gp {
        color: #000080;
        font-weight: bold
    }

    /* Generic.Prompt */
    .highlight .gs {
        font-weight: bold
    }

    /* Generic.Strong */
    .highlight .gu {
        color: #800080;
        font-weight: bold
    }

    /* Generic.Subheading */
    .highlight .gt {
        color: #0044DD
    }

    /* Generic.Traceback */
    .highlight .kc {
        color: #008000;
        font-weight: bold
    }

    /* Keyword.Constant */
    .highlight .kd {
        color: #008000;
        font-weight: bold
    }

    /* Keyword.Declaration */
    .highlight .kn {
        color: #008000;
        font-weight: bold
    }

    /* Keyword.Namespace */
    .highlight .kp {
        color: #008000
    }

    /* Keyword.Pseudo */
    .highlight .kr {
        color: #008000;
        font-weight: bold
    }

    /* Keyword.Reserved */
    .highlight .kt {
        color: #B00040
    }

    /* Keyword.Type */
    .highlight .m {
        color: #666666
    }

    /* Literal.Number */
    .highlight .s {
        color: #BA2121
    }

    /* Literal.String */
    .highlight .na {
        color: #7D9029
    }

    /* Name.Attribute */
    .highlight .nb {
        color: #008000
    }

    /* Name.Builtin */
    .highlight .nc {
        color: #0000FF;
        font-weight: bold
    }

    /* Name.Class */
    .highlight .no {
        color: #880000
    }

    /* Name.Constant */
    .highlight .nd {
        color: #AA22FF
    }

    /* Name.Decorator */
    .highlight .ni {
        color: #999999;
        font-weight: bold
    }

    /* Name.Entity */
    .highlight .ne {
        color: #D2413A;
        font-weight: bold
    }

    /* Name.Exception */
    .highlight .nf {
        color: #0000FF
    }

    /* Name.Function */
    .highlight .nl {
        color: #A0A000
    }

    /* Name.Label */
    .highlight .nn {
        color: #0000FF;
        font-weight: bold
    }

    /* Name.Namespace */
    .highlight .nt {
        color: #008000;
        font-weight: bold
    }

    /* Name.Tag */
    .highlight .nv {
        color: #19177C
    }

    /* Name.Variable */
    .highlight .ow {
        color: #AA22FF;
        font-weight: bold
    }

    /* Operator.Word */
    .highlight .w {
        color: #bbbbbb
    }

    /* Text.Whitespace */
    .highlight .mb {
        color: #666666
    }

    /* Literal.Number.Bin */
    .highlight .mf {
        color: #666666
    }

    /* Literal.Number.Float */
    .highlight .mh {
        color: #666666
    }

    /* Literal.Number.Hex */
    .highlight .mi {
        color: #666666
    }

    /* Literal.Number.Integer */
    .highlight .mo {
        color: #666666
    }

    /* Literal.Number.Oct */
    .highlight .sa {
        color: #BA2121
    }

    /* Literal.String.Affix */
    .highlight .sb {
        color: #BA2121
    }

    /* Literal.String.Backtick */
    .highlight .sc {
        color: #BA2121
    }

    /* Literal.String.Char */
    .highlight .dl {
        color: #BA2121
    }

    /* Literal.String.Delimiter */
    .highlight .sd {
        color: #BA2121;
        font-style: italic
    }

    /* Literal.String.Doc */
    .highlight .s2 {
        color: #BA2121
    }

    /* Literal.String.Double */
    .highlight .se {
        color: #BB6622;
        font-weight: bold
    }

    /* Literal.String.Escape */
    .highlight .sh {
        color: #BA2121
    }

    /* Literal.String.Heredoc */
    .highlight .si {
        color: #BB6688;
        font-weight: bold
    }

    /* Literal.String.Interpol */
    .highlight .sx {
        color: #008000
    }

    /* Literal.String.Other */
    .highlight .sr {
        color: #BB6688
    }

    /* Literal.String.Regex */
    .highlight .s1 {
        color: #BA2121
    }

    /* Literal.String.Single */
    .highlight .ss {
        color: #19177C
    }

    /* Literal.String.Symbol */
    .highlight .bp {
        color: #008000
    }

    /* Name.Builtin.Pseudo */
    .highlight .fm {
        color: #0000FF
    }

    /* Name.Function.Magic */
    .highlight .vc {
        color: #19177C
    }

    /* Name.Variable.Class */
    .highlight .vg {
        color: #19177C
    }

    /* Name.Variable.Global */
    .highlight .vi {
        color: #19177C
    }

    /* Name.Variable.Instance */
    .highlight .vm {
        color: #19177C
    }

    /* Name.Variable.Magic */
    .highlight .il {
        color: #666666
    }

    .prompt {
        min-width: 14ex;
        padding: 0.4em;
        margin: 0px;
        font-family: monospace;
        text-align: right;
        line-height: 1.21429em;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
    }

    div.input_area {
        border: 1px solid #cfcfcf;
        border-radius: 2px;
        line-height: 1.21429em;
    }

    div.input {
        display: flex;
    }

    .inner_cell {
        width: 100%;
    }

    .text_cell_render {
        margin-left: 10%;
    }
</style>