<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <div class="text-xs-center">
        <img src="/v.png" alt="Vuetify.js" class="mb-5" />
      </div>
      <v-card>
        <v-card-title class="headline">Цели создания ресурса</v-card-title>
        <v-card-text>
          <p>Систематизация информации</p>
          <p>Демонстрация выполненных проектов</p>
          <p>Изучение <a href="https://vuetifyjs.com" target="_blank">Vuetify</a> +  <a href="https://nuxtjs.org/" target="_blank">nuxt.js</a> + Vue.js</p>
          <div class="text-xs-right">
            <em><small>&mdash; Vyacheslav Burdinskiy</small></em>
          </div>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
