<template>
    <div>
        <h1>Список всех организаций представивших отчётность за 2018-2019 года с расчитаными мультипликаторами</h1>
        <v-switch
                v-model="isRus"
                label="Российский рынок"
        ></v-switch>
        <v-switch
                v-model="isUSA"
                label="Американский рынок"
        ></v-switch>
        <v-layout>
            <table-universal
                    :tableData="companysByFilter">
            </table-universal>
        </v-layout>
        <investor-sectors-tables-all :companyWithMultiplikators="splitBySectors"></investor-sectors-tables-all>

    </div>
</template>
<script>
    import TableUniversal from "../components/TableUniversal";
    import InvestorSectorsTablesAll from "../components/InvestorSectorsTablesAll";
    import BestCompanyExample from "../classes/BestCompanyExample";
    import InvestorHelper from "../classes/InvestorHelper";
    import AjaxHelper from "../classes/AjaxHelper";

    const axios = require("axios");
    export default {
        name: "InvestorCompanyFull",
        components: {
            TableUniversal,
            InvestorSectorsTablesAll
        },
        created() {
            this.update();
        },
        methods: {
            async update() {
                const url = AjaxHelper.getUrlMultiplikatorsAll();//"http://185.185.71.254:5000/get_multiplikators_all";
                const response = await axios.get(url);
                const data = this.getWithMultiplicators(response.data);
                this.dataTable = data;
            },
            getWithMultiplicators(responceServer) {
                const columnPrefix = 'normalize_';
                const df_m = InvestorHelper.getMultiplicatorsDf(responceServer);
                const df_ = InvestorHelper.getNormalizeMultiplicators(df_m, ['EV\/EBITDA', 'Debt/EBITDA', 'P_current\/E'], columnPrefix);
                const ev = {
                    name: `${columnPrefix}EV/EBITDA`,
                    weight: 0.4
                };
                const dbt = {
                    name: `${columnPrefix}Debt/EBITDA`,
                    weight: 0.4
                };
                const pe = {
                    name: `${columnPrefix}P_current/E`,
                    weight: 0.2
                };
                const resultColumnName = 'supper_critery_';
                const df = InvestorHelper.getDFWithMulticriterion(df_, [ev, dbt, pe], resultColumnName);
                const dfSort = df.sortBy('supper_critery_');
                return dfSort.dropDuplicates().toCollection();
            }
        },
        computed: {
            splitBySectors() {
                return BestCompanyExample.getFilterAndGroupBySectors(this.companysByFilter);
            },
            companysByFilter() {
                const country = this.countrySelect;
                const companys = this.dataTable.filter(x => country.includes(x.country));
                if (companys.length) {
                    return companys;
                }
                return [];
            },
            countrySelect() {
                const country = [];
                if (this.isRus) {
                    country.push('Россия');
                }
                if (this.isUSA) {
                    country.push('США');
                }
                return country;
            }
        },
        data() {
            return {
                dataTable: [],
                isRus: true,
                isUSA: true
            }
        }
    }
</script>

<style scoped>

</style>