<template>
    <div>
        <h1>Список организаций представивших отчётность за 2020-2021 года с рассчитанными мультипликаторами</h1>
        <a href='https://journal.tinkoff.ru/multilplicator/'>Про мультипликаторы</a>
        <a :href='linkToUpdate'>Принудительное обновление данных </a>
        <span>{{dataUploadDate}}</span>
        <v-expansion-panels>
            <v-subheader><h3>Мультипликаторы</h3></v-subheader>
            <v-expansion-panel>

                <v-expansion-panel-header>
                    <span class='font-weight-black'>EV/EBITDA</span> - Стоимость компании / Прибыль до вычета процентов,
                    налогов,
                    амортизации и износа
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    Показывает, за&nbsp;сколько лет компания окупит свою
                    рыночную стоимость с&nbsp;учетом долгов. Чем&nbsp;меньше, тем&nbsp;лучше
                    <p>
                        Мультипликатор EV — это справедливая стоимость компании. Определяется так: EV = Рыночная
                        капитализация + Все долговые обязательства − Доступные денежные средства компании.
                    </p>
                    <p>
                        Мультипликатор EBITDA — это прибыль компании до выплаты процентов, налогов и амортизации.
                    </p>
                    <p>
                        EBITDA нужна нам, чтобы понять, какую прибыль приносит непосредственно бизнес компании. Умеет
                        компания зарабатывать деньги?
                    </p>
                    <p>
                        Если еще проще, то EBITDA — это сколько бы компания зарабатывала в идеальных условиях, если бы
                        все
                        заводы у нее уже были, станки не изнашивались, а государство ввело для нее нулевую налоговую
                        ставку.
                    </p>
                    <p>
                        Отдельная польза мультипликатора EBITDA в том, что он позволяет удобно сравнивать компании одной
                        отрасли, но из разных стран. Ведь если в одной стране налог 13%, а в другой 50%, то, имея одну и
                        ту
                        же прибыль от бизнеса, мы получим разную чистую прибыль. По EBITDA прибыль будет одинаковой.
                    </p>
                </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel>

                <v-expansion-panel-header>
                    <span class='font-weight-black'>Debt/EBITDA</span> - Чистый долг / Прибыль до вычета процентов,
                    налогов,
                    амортизации и износа
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    Показывает, за&nbsp;сколько лет компания сможет раздать долги,
                    если будет тратить на&nbsp;это всю прибыль. Чем&nbsp;меньше, тем&nbsp;лучше.
                    <p>Если&nbsp;меньше 2&nbsp;лет — нормальный срок, больше 3 — большой,
                        больше 5 — очень большой</p>
                </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel>

                <v-expansion-panel-header>
                    <span class='font-weight-black'>P/E</span> - Рыночная капитализация / Годовая прибыль
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    Показывает, за&nbsp;сколько лет компания себя окупит,
                    если будет направлять всю прибыль на&nbsp;дивиденды.
                    <p>Чем&nbsp;меньше, тем&nbsp;лучше. Средние значение для&nbsp;США — 25&nbsp;лет,
                        для&nbsp;российского рынка — 8&nbsp;лет</p>
                </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel>

                <v-expansion-panel-header>
                    E/P - Годовая прибыль / Рыночная капитализация
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    Показывает, сколько бы вы могли ежегодно зарабатывать,
                    если бы владели акциями компании, и&nbsp;она направляла бы
                    всю прибыль на&nbsp;дивиденды. Чем&nbsp;больше, тем&nbsp;лучше
                </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel>

                <v-expansion-panel-header>
                    P/B - Рыночная капитализация / Балансовая стоимость
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    Показывает, насколько стоимость компании на&nbsp;бирже
                    соответствует ее балансовой стоимости. Если больше 1 — значит компания
                    переоценена,
                    если меньше — недооценена. Исключение: высокотехнологичным компаниям обычно не
                    нужно
                    много имущества, чтобы продавать продукт или услуги, поэтому они могут казаться
                    сильно недооцененными по&nbsp;P/B
                </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>

                <v-expansion-panel-header>
                    P/S - Рыночная капитализация / Годовая выручка
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    Показывает, как много выручки компания зарабатывает на&nbsp;1&nbsp;акцию.
                    Меньше 1 — компания может быть недооценена, выше 2 — переоценена
                    <p>
                        Мультипликатор P/S — это отношение рыночной цены акции к выручке, приходящейся на одну акцию.
                        Его
                        используют для сравнения компаний одной отрасли, где маржинальность будет на одном уровне. Лучше
                        всего подходит для тех отраслей, где считается, что выручка последовательно создает
                        соответствующие
                        объемы прибыли или денежного потока, — например для торговли.
                    </p>
                    <p>
                        Значение коэффициента меньше 2 считается нормой. P/S меньше 1 указывает на недооцененность.
                        Преимущество P/S в том, что его можно рассчитать для всех компаний, так как его значение бывает
                        только положительным, потому что выручка может быть только положительной.
                    </p>
                </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>

                <v-expansion-panel-header>
                    L/A - Общая задолженность / Активы
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    Показывает долю долга в&nbsp;общих активах компании.
                    Чем&nbsp;меньше, тем&nbsp;лучше
                </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>

                <v-expansion-panel-header>
                    Проверка данных
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <p>Посмотреть цену инструмента MOEX <a
                        href='https://iss.moex.com/iss/history/engines/stock/markets/shares/boards/TQBR/securities/ROLO.json?from=2019-10-23&limit=5'>
                        https://iss.moex.com/iss/history/engines/stock/markets/shares/boards/TQBR/securities/ROLO.json?from=2019-10-23&limit=5
                    </a>
                    </p>
                    <p>Посмотреть капитализацию MOEX <a href='https://iss.moex.com/iss/securities/ROLO.json'>
                        https://iss.moex.com/iss/securities/ROLO.json
                    </a>
                    </p>
                    <p>Посмотреть цену инструмента IEX <a href='https://api.iextrading.com/1.0/tops?symbols=SLB'>
                        https://api.iextrading.com/1.0/tops?symbols=SLB
                    </a>
                    </p>
                    <p>Посмотреть названия IEX <a href='https://api.iextrading.com/1.0/ref-data/symbols'>
                        https://api.iextrading.com/1.0/ref-data/symbols
                    </a>
                    </p>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>

        <h3>Все компании</h3>
        <v-switch
            v-model='isRus'
            label='Российский рынок'
        ></v-switch>
        <v-switch
            v-model='isUSA'
            label='Американский рынок'
        ></v-switch>

        <v-card
            flat
            color='transparent'
        >
            <v-subheader>EV/EBITDA</v-subheader>

            <v-card-text>
                <v-row>
                    <v-col class='px-4'>
                        <v-range-slider
                            v-model='rangeEv_EBITDA'
                            :max='max'
                            :min='min'
                            step='0.5'
                            hide-details
                            class='align-center'
                        >
                            <template v-slot:prepend>
                                <v-text-field
                                    :value='rangeEv_EBITDA[0]'
                                    class='mt-0 pt-0'
                                    hide-details
                                    single-line
                                    type='text'
                                    style='width: 60px'
                                    @change='$set(rangeEv_EBITDA, 0, $event)'
                                ></v-text-field>
                            </template>
                            <template v-slot:append>
                                <v-text-field
                                    :value='rangeEv_EBITDA[1]'
                                    class='mt-0 pt-0'
                                    hide-details
                                    single-line
                                    type='text'
                                    style='width: 60px'
                                    @change='$set(rangeEv_EBITDA, 1, $event)'
                                ></v-text-field>
                            </template>
                        </v-range-slider>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>

        <v-card
            flat
            color='transparent'
        >
            <v-subheader>Debt/ebitda</v-subheader>

            <v-card-text>
                <v-row>
                    <v-col class='px-4'>
                        <v-range-slider
                            v-model='rangeDebt_ebitda'
                            :max='max'
                            :min='min'
                            step='0.1'
                            hide-details
                            class='align-center'
                        >
                            <template v-slot:prepend>
                                <v-text-field
                                    :value='rangeDebt_ebitda[0]'
                                    class='mt-0 pt-0'
                                    hide-details
                                    single-line
                                    type='text'
                                    style='width: 60px'
                                    @change='$set(rangeDebt_ebitda, 0, $event)'
                                ></v-text-field>
                            </template>
                            <template v-slot:append>
                                <v-text-field
                                    :value='rangeDebt_ebitda[1]'
                                    class='mt-0 pt-0'
                                    hide-details
                                    single-line
                                    type='text'
                                    style='width: 60px'
                                    @change='$set(rangeDebt_ebitda, 1, $event)'
                                ></v-text-field>
                            </template>
                        </v-range-slider>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>

        <v-card
            flat
            color='transparent'
        >
            <v-subheader>P/E</v-subheader>

            <v-card-text>
                <v-row>
                    <v-col class='px-4'>
                        <v-range-slider
                            v-model='rangeP_E'
                            :max='max'
                            :min='min'
                            step='0.5'
                            hide-details
                            class='align-center'
                        >
                            <template v-slot:prepend>
                                <v-text-field
                                    :value='rangeP_E[0]'
                                    class='mt-0 pt-0'
                                    hide-details
                                    single-line
                                    type='text'
                                    style='width: 60px'
                                    @change='$set(rangeP_E, 0, $event)'
                                ></v-text-field>
                            </template>
                            <template v-slot:append>
                                <v-text-field
                                    :value='rangeP_E[1]'
                                    class='mt-0 pt-0'
                                    hide-details
                                    single-line
                                    type='text'
                                    style='width: 60px'
                                    @change='$set(rangeP_E, 1, $event)'
                                ></v-text-field>
                            </template>
                        </v-range-slider>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
        <v-card
            flat
            color='transparent'
        >
            <v-subheader>P/B</v-subheader>

            <v-card-text>
                <v-row>
                    <v-col class='px-4'>
                        <v-range-slider
                            v-model='rangeP_B'
                            :max='max'
                            :min='min'
                            step='0.1'
                            hide-details
                            class='align-center'
                        >
                            <template v-slot:prepend>
                                <v-text-field
                                    :value='rangeP_B[0]'
                                    class='mt-0 pt-0'
                                    hide-details
                                    single-line
                                    type='text'
                                    style='width: 60px'
                                    @change='$set(rangeP_B, 0, $event)'
                                ></v-text-field>
                            </template>
                            <template v-slot:append>
                                <v-text-field
                                    :value='rangeP_B[1]'
                                    class='mt-0 pt-0'
                                    hide-details
                                    single-line
                                    type='text'
                                    style='width: 60px'
                                    @change='$set(rangeP_B, 1, $event)'
                                ></v-text-field>
                            </template>
                        </v-range-slider>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
        <v-layout>
            <table-universal
                :tableData='companysByFilter'>
            </table-universal>
        </v-layout>
        <investor-sectors-tables-all :companyWithMultiplikators='splitBySectors'></investor-sectors-tables-all>
    </div>
</template>
<script>
import TableUniversal from '../components/TableUniversal';
import InvestorSectorsTablesAll from '../components/InvestorSectorsTablesAll';
import BestCompanyExample from '../classes/BestCompanyExample';
import InvestorHelper from '../classes/InvestorHelper';
import AjaxHelper from '../classes/AjaxHelper';

const axios = require('axios');
export default {
    name: 'InvestorCompanyBestBt',
    components: {
        TableUniversal,
        InvestorSectorsTablesAll,
    },
    mounted() {
        this.update();
        this.loadDataUploadDate();
    },
    methods: {
        async update() {
            const url = AjaxHelper.getUrlMultiplikatorsBestBt();
            const response = await axios.get(url);
            this.initData = response.data;
        },
        async loadDataUploadDate() {
            const responce = await fetch(AjaxHelper.getUrlDataUploadDateBt(), {
                headers: {
                    method: 'GET',
                },
            });
            const dateFromServer = await responce.text();
            this.dataUploadDate = dateFromServer;
        },
        getFilteredMultiplicators(data) {
            function getValue(old) {
                return parseFloat(old.replace(/,/, '.'));
            }

            const onlyArray = [];
            for (const a in data) {
                if (+a > -1) {
                    const instrument = data[a];
                    const ev_ebitda = getValue(instrument[2]);
                    const debt_ebitda = getValue(instrument[3]);
                    const p_e = getValue(instrument[4]);
                    const p_b = getValue(instrument[5]);
                    const industryName = instrument[instrument.length - 1];
                    const industryId = instrument[instrument.length - 2];
                    const potentialProfit = getValue(instrument[12]);
                    const reportDate = instrument[13];
                    const exchange = instrument[14];
                    const ar = [
                        instrument[0],
                        getValue(instrument[1]),
                        ev_ebitda,
                        getValue(instrument[3]),
                        p_e,
                        p_b,
                        industryName,
                        reportDate,
                        exchange,
                        potentialProfit,
                        industryId,
                    ];
                    if (
                        ev_ebitda >= +this.rangeEv_EBITDA[0] &&
                        ev_ebitda <= +this.rangeEv_EBITDA[1] &&
                        ev_ebitda !== 0 &&
                        p_e >= +this.rangeP_E[0] &&
                        p_e <= +this.rangeP_E[1] &&
                        debt_ebitda >= +this.rangeDebt_ebitda[0] &&
                        debt_ebitda <= +this.rangeDebt_ebitda[1] &&
                        p_b >= +this.rangeP_B[0] &&
                        p_b <= +this.rangeP_B[1]
                    ) {
                        // console.log({reportDate, exchange, instrument})
                        // if (exchange === "MOEX") {
                        //     onlyArray.push(ar);
                        // }
                        onlyArray.push(ar);
                    }
                }
            }
            return onlyArray;
        },
        getWithMultiplicators(responceServer) {
            const columnPrefix = 'normalize_';
            const df_m = InvestorHelper.getMultiplicatorsDfBt(responceServer, [
                'Company',
                'Market cap ',
                'EV/EBITDA',
                'NetDebt/EBITDA',
                'P/E',
                'P/B',
                'industryName',
                'reportDate',
                'exchange',
                'potentialProfit',
            ]);
            const df_ = InvestorHelper.getNormalizeMultiplicators(df_m, ['EV/EBITDA', 'NetDebt/EBITDA', 'P/E'], columnPrefix);
            const ev = {
                name: `${columnPrefix}EV/EBITDA`,
                weight: 0.4,
            };
            const dbt = {
                name: `${columnPrefix}NetDebt/EBITDA`,
                weight: 0.4,
            };
            const pe = {
                name: `${columnPrefix}P/E`,
                weight: 0.2,
            };
            const resultColumnName = 'supper_critery_';
            const df = InvestorHelper.getDFWithMulticriterion(df_, [ev, dbt, pe], resultColumnName);
            const dfSort = df.sortBy('supper_critery_');
            let dfDrop = dfSort.drop(`${columnPrefix}EV/EBITDA`);
            dfDrop = dfDrop.drop(`${columnPrefix}NetDebt/EBITDA`);
            dfDrop = dfDrop.drop(`${columnPrefix}P/E`);
            return dfDrop.dropDuplicates().toCollection();
        },
    },
    computed: {
        splitBySectors() {
            return BestCompanyExample.getFilterAndGroupBySectorsBt(this.companysByFilter);
        },
        companysByFilter() {
            let data = [];
            if (this.initData.length > 0) {
                const filtered = this.getFilteredMultiplicators(this.initData);
                if (filtered.length) {
                    data = this.getWithMultiplicators(filtered);
                    const country = this.countrySelect;
                    const companys = data.filter(x => country.includes(x.exchange));
                    if (companys.length) {
                        return companys;
                    }
                }

            }
            return [];
        },
        countrySelect() {
            const country = [];
            if (this.isRus) {
                country.push('MOEX');
            }
            if (this.isUSA) {
                country.push('NASDAQ', 'ASE', 'NYSE', 'PAR', 'XETRA', 'OTC', 'LSIN', 'HKEX', 'TSX', 'LSE', 'SGX', 'STO', 'ASX', 'OSE', 'SWX', 'TSXV', 'SAU');
            }
            return country;
        },
    },
    data() {
        return {
            dataTable: [],
            initData: [],
            isRus: true,
            isUSA: true,
            min: -15,
            max: 90,
            rangeEv_EBITDA: [0, 5],
            rangeDebt_ebitda: [-15, 1],
            rangeP_E: [0, 15],
            rangeP_B: [0, 2],
            dataUploadDate: '',
            linkToUpdate: AjaxHelper.getUrlForcedUpdateBt(),
        };
    },
};
</script>

<style scoped>
.v-expansion-panel-header > *:not(.v-expansion-panel-header__icon) {
    flex: inherit;
}
</style>