<template>
    <v-container fluid class="main-container section level1 big-size">

        <strategies-statistic :statistic="strategiesStatistic">

        </strategies-statistic>
        <investor-recomendation-m-l></investor-recomendation-m-l>

        <div v-for="strategy of strategiesWithTransaction">
            <h2>Стратегия: {{strategy.strategyName}}</h2>
            <h3>Какие параметры у стратегии?</h3>
            <!--<div v-for="param in strategy.params">-->
            <!--<span>{{ param.name }}</span>-->
            <!--<span>{{ param.value }}</span>-->
            <!--</div>-->
            <h3>На каких аккаунтах торгуется?</h3>
            <h3>График доходности по всем торгуемым аккаунтам</h3>
            <h3>График доходности по уникальным транзакциям</h3>
            <h3>Таблица совершённых реальных сделок</h3>
            <v-layout>
                <strategies-order-book
                        :transactions="strategy.transactionsProd">
                </strategies-order-book>
            </v-layout>
            <h3>Какие показатели на исторических данных?</h3>
            <h3>Таблица совершённых тестовых сделок</h3>
            <!--<v-layout>-->
            <!--<strategies-order-book-->
            <!--:transactions="strategy.transactionsTest">-->
            <!--</strategies-order-book>-->
            <!--</v-layout>-->

        </div>
    </v-container>

</template>
<script>
    import StrategiesOrderBook from "./../components/StrategiesOrderBook";
    import StrategiesStatistic from "./../components/StrategiesStatistic";
    import {transactions} from "./../classes/transactsExample.js";
    import AjaxHelper from "./../classes/AjaxHelper.js";
    import Transactions from "./../classes/Transactions.js";
    import InvestorRecomendationML from "../components/InvestorRecomendationML";

    const axios = require("axios");

    export default {
        name: "StrategiesSystem",
        components: {
            StrategiesStatistic,
            StrategiesOrderBook,
            InvestorRecomendationML
        },
        data() {
            return {
                transactions: new Transactions(transactions),
            };
        },
        created() {
            this.update();
        },
        mounted() {
            // this.update();
        },
        methods: {
            async update() {
                const url = AjaxHelper.getUrlAllTransactionProduction();
                const response = await axios.get(url);
                console.log(response.data);
                this.transactions = new Transactions(response.data);
            }
        },
        computed: {
            strategiesWithTransaction() {
                let strategys = [];
                for (const id of this.transactions.getStrategyIds()) {
                    const transactionsProd = this.transactions.getTransactionsFor(id);
                    const strategy = {
                        transactionsProd,
                        strategyName: transactionsProd[0].tradingAccount
                    };
                    strategys.push(strategy);
                }
                return strategys;
            },
            strategiesStatistic() {
                let strategys = [];
                for (const id of this.transactions.getStrategyIds()) {
                    strategys.push(this.transactions.getStrategyStatistic(id));
                }
                return strategys;
            }
        },
    }
    // strategies: [
    //     {
    //         id: 1,
    //         name: 'negative',
    //         params: [
    //             {name: 'border', value: 1500},
    //             {name: 'stop', value: 1500}
    //         ],
    //         transactionsProd: [],
    //         transactionsTest: [],
    //         currentState: 'active',
    //         connect: 'online'
    //     },
    //     {
    //         id: 2,
    //         name: 'positive',
    //         params: [
    //             {name: 'border', value: 1500},
    //             {name: 'stop', value: 1500}],
    //         transactionsProd: [],
    //         transactionsTest: [],
    //         currentState: 'archive',
    //         connect: 'offline'
    //     }
    // ],
    // transactionsProd: [
    //     {
    //         id: '1',
    //         direction: "buy",
    //         dateCreate: '08.01.2018',
    //         dateDone: "08.01.2018",
    //         timeDone: "12:15",
    //         price: 18000,
    //         volume: 1,
    //         securityId: 1,
    //         stockStatus: 'done',
    //         tradingAccount: 'ASD',
    //         comment: '',
    //         strategyId: 1,
    //         type: 'limit',
    //     },
    //     {
    //         id: '2',
    //         direction: "sell",
    //         dateCreate: '08.01.2018',
    //         dateDone: "08.01.2018",
    //         timeDone: "12:15",
    //         price: 18900,
    //         volume: 1,
    //         securityId: 1,
    //         stockStatus: 'done',
    //         tradingAccount: 'ASD',
    //         comment: '',
    //         strategyId: 1,
    //         type: 'take'
    //     },
    //     {
    //         id: '3',
    //         direction: "buy",
    //         dateCreate: '08.01.2018',
    //         dateDone: "08.01.2018",
    //         timeDone: "12:15",
    //         price: 18000,
    //         volume: 1,
    //         securityId: 1,
    //         stockStatus: 'done',
    //         tradingAccount: 'ASD',
    //         comment: '',
    //         strategyId: 1,
    //         type: 'limit'
    //     },
    // ],
    // transactionsTest: [
    //     {
    //         id: '1',
    //         direction: "buy",
    //         dateCreate: '08.01.2018',
    //         dateDone: "08.01.2018",
    //         timeDone: "12:15",
    //         price: 18000,
    //         volume: 1,
    //         securityId: 1,
    //         stockStatus: 'done',
    //         tradingAccount: 'ASD',
    //         comment: '',
    //         strategyId: 1,
    //         type: 'time',
    //     },
    //     {
    //         id: '2',
    //         direction: "sell",
    //         dateCreate: '08.01.2018',
    //         dateDone: "08.01.2018",
    //         timeDone: "12:15",
    //         price: 18900,
    //         volume: 1,
    //         securityId: 1,
    //         stockStatus: 'done',
    //         tradingAccount: 'ASD',
    //         comment: '',
    //         strategyId: 1,
    //         type: 'take'
    //     },
    //     {
    //         id: '3',
    //         direction: "buy",
    //         dateCreate: '08.01.2018',
    //         dateDone: "08.01.2018",
    //         timeDone: "12:15",
    //         price: 18000,
    //         volume: 1,
    //         securityId: 1,
    //         stockStatus: 'done',
    //         tradingAccount: 'ASD',
    //         comment: '',
    //         strategyId: 2,
    //         type: 'limit'
    //     },
    // ],
    // instruments: [
    //     {
    //         id: 1,
    //         shortName: 'MTSS',
    //     },
    //     {
    //         id: 2,
    //         shortName: 'SR08',
    //     }
    // ]
</script>